/* SUMMER GAMES 2016 */

#SUMMER_GAMES_2016 #col1 {
  width: 50%;
}

#SUMMER_GAMES_2016 #col2 {
  width: 50%;
}

#SUMMER_GAMES_2016 #row1, #SUMMER_GAMES_2016 #row2 {
  display: flex;
}

#SUMMER_GAMES_2016 #row2 {
  margin-top: 8px;
}

#SUMMER_GAMES_2016 #row2 .left {
  width: 16%;
}

#SUMMER_GAMES_2016 #row2 .right {
  width: 22%;
}

#SUMMER_GAMES_2016 #epic-skins {
  margin-right: 6px;
}

#SUMMER_GAMES_2016 #epic-skins .item {
  padding: 10px 2px;
}

#SUMMER_GAMES_2016 #emotes h2 {
  margin-top: 13px;
}

#SUMMER_GAMES_2016 .top {
  display: flex;
  padding: 0 10px;
}

#SUMMER_GAMES_2016 #voicelines {
  width: 36%;
}

#SUMMER_GAMES_2016 #voicelines .items {
  height: 399px;
}

#SUMMER_GAMES_2016 #icons {
  width: 63%;
}

#SUMMER_GAMES_2016 #victoryposes {
  width: 15%;
}

#SUMMER_GAMES_2016 #sprays {
  width: 46%;
}

#SUMMER_GAMES_2016 #sprays .items {
  height: 333px;
}

#SUMMER_GAMES_2016 #victoryposes .items {
  flex-wrap: wrap;
}

#SUMMER_GAMES_2016 #icons .items {
  height: 397px;
}

#SUMMER_GAMES_2016 #icons .item:nth-of-type(24) h3 {
  font-size: 21px;
}

#SUMMER_GAMES_2016 #victoryposes .item h4 {
  display: none;
}


/* HALLOWEEN 2016 */

#HALLOWEEN_2016 .col {
  display: initial;
}

#HALLOWEEN_2016 #col1 {
  width: 46%;
}

#HALLOWEEN_2016 #col2 {
  width: 53%;
}

#HALLOWEEN_2016 #col3 {
  width: 15%;
}

#HALLOWEEN_2016 #epic-skins {
  width: 100%;
}

#HALLOWEEN_2016 #emotes h2 {
  margin-top: 24px;
}

#HALLOWEEN_2016 .top {
  display: flex;
}

#HALLOWEEN_2016 .top, #HALLOWEEN_2016 .bottom {
  padding: 0 8px;
}

#HALLOWEEN_2016 #voicelines {
  width: 49.5%;
  display: inline-block;
}

#HALLOWEEN_2016 #sprays {
  width: 36%;
}

#HALLOWEEN_2016 #icons {
  width: 49%;
  display: inline-block;
}

#HALLOWEEN_2016 #icons .items {
  height: 418px;
}

#HALLOWEEN_2016 #victoryposes .items {
  height: 325px;
}

#HALLOWEEN_2016 #voicelines .items {
  height: 397px;
}

#HALLOWEEN_2016 #sprays .items {
  height: 339px;
}

#HALLOWEEN_2016 #sprays .item h4:not(:only-child) {
  display: none;
}

#HALLOWEEN_2016 #row2 .left {
  width: 14%;
}

#HALLOWEEN_2016 #row2 .right {
  width: 18%;
  margin: 0 8px;
}

#HALLOWEEN_2016 #victoryposes {
  width: 31%;
}


/* WINTER WONDERLAND 2016 */

#WINTER_WONDERLAND_2016 #row1 #col1 {
  width: 60%;
}

#WINTER_WONDERLAND_2016 #row1 #col2 {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

#WINTER_WONDERLAND_2016 #row1 #col2 .right {
  width: 50%;
}

#WINTER_WONDERLAND_2016 #row2 {
  margin-top: -20px;
}

#WINTER_WONDERLAND_2016 #row2 #col1 {
  width: 35%;
}

#WINTER_WONDERLAND_2016 #row2 #col2 {
  width: 64%;
}

#WINTER_WONDERLAND_2016 #row2 .left {
  width: 15%;
}

#WINTER_WONDERLAND_2016 #row2 .right {
  width: 20%;
  margin-left: 8px;
}

#WINTER_WONDERLAND_2016 #sprays {
  width: 53%;
}

#WINTER_WONDERLAND_2016 #epic-skins {
  width: 100%;
}

#WINTER_WONDERLAND_2016 #emotes h2 {
  margin-top: 25px;
}

#WINTER_WONDERLAND_2016 .top {
  padding: 0 10px;
}

#WINTER_WONDERLAND_2016 #voicelines {
  width: 50%;
}

#WINTER_WONDERLAND_2016 #victoryposes {
  width: 17%;
  margin: 0 8px;
}

#WINTER_WONDERLAND_2016 #victoryposes .items {
  height: 252px;
}

#WINTER_WONDERLAND_2016 #voicelines .items {
  height: 456px;
}

#WINTER_WONDERLAND_2016 #icons .items {
  height: 480px;
}

#WINTER_WONDERLAND_2016 #icons .item:nth-child(24) h3 {
  font-size: 21px;
}

#WINTER_WONDERLAND_2016 #sprays .items {
  height: 265px;
}


/* YEAR OF THE ROOSTER 2017 */

#YEAR_OF_THE_ROOSTER_2017 #row1 #col1 {
  width: 61%;
}

#YEAR_OF_THE_ROOSTER_2017 #row1 #col2 {
  width: 39%;
}

#YEAR_OF_THE_ROOSTER_2017 #row2 .left {
  width: 13%;
}

#YEAR_OF_THE_ROOSTER_2017 #row2 .right {
  width: 18%;
}

#YEAR_OF_THE_ROOSTER_2017 #voicelines {
  width: 45%;
}

#YEAR_OF_THE_ROOSTER_2017 #victoryposes {
  width: 16%;
}

#YEAR_OF_THE_ROOSTER_2017 #icons {
  width: 54%;
}

#YEAR_OF_THE_ROOSTER_2017 #sprays {
  width: 52%;
}

#YEAR_OF_THE_ROOSTER_2017 #epic-skins .item {
  padding: 10px 2px;
}

#YEAR_OF_THE_ROOSTER_2017 #emotes h2 {
  margin-top: 13px;
}

#YEAR_OF_THE_ROOSTER_2017 #sprays .items {
  height: 300px;
}

#YEAR_OF_THE_ROOSTER_2017 #icons .item:nth-child(23) h3 {
  font-size: 22px;
}

#YEAR_OF_THE_ROOSTER_2017 #voicelines .items, #YEAR_OF_THE_ROOSTER_2017 #icons .items {
  height: 412px;
}

#YEAR_OF_THE_ROOSTER_2017 #voicelines .item, #YEAR_OF_THE_ROOSTER_2017 #icons .item {
  padding: 4px 2px;
}


/* SMALL MODE CSS */

@media screen and (max-width: 1570px) {
  /* HALLOWEEN */
  #HALLOWEEN_2016 {
    flex-direction: column;
    align-items: center;
    width: 1000px;
    position: relative;
    margin: 0 auto;
  }
  #HALLOWEEN_2016 #row1 {
    flex-direction: column;
  }
  #HALLOWEEN_2016 #row2 {
    flex-wrap: wrap;
  }
  #HALLOWEEN_2016 #col1, #HALLOWEEN_2016 #col2 {
    width: 1000px;
  }
  #HALLOWEEN_2016 #col1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #HALLOWEEN_2016 #legendary-skins {
    width: 71%;
    margin-bottom: 10px;
  }
  #HALLOWEEN_2016 #epic-skins {
    margin: 0;
  }
  #HALLOWEEN_2016 #row2 .left {
    width: 49%;
  }
  #HALLOWEEN_2016 #row2 .right {
    width: 49%;
  }
  #HALLOWEEN_2016 #emotes h2 {
    margin-top: 28px;
  }
  #HALLOWEEN_2016 #voicelines .items, #HALLOWEEN_2016 #victoryposes .items {
    height: 422px;
  }
  #HALLOWEEN_2016 #victoryposes .item {
    z-index: 1;
    width: 49%;
  }
  #HALLOWEEN_2016 #victoryposes {
    width: 37%;
  }
  #HALLOWEEN_2016 #sprays {
    width: 62%
  }
  /* WINTER */
  #WINTER_WONDERLAND_2016 {
    flex-direction: column;
    align-items: center;
    width: 1000px;
    position: relative;
    margin: 0 auto;
  }
  #WINTER_WONDERLAND_2016 #row1 {
    flex-direction: column;
    width: 100%;
  }
  #WINTER_WONDERLAND_2016 #row1 #col2 .right {
    z-index: 1;
  }
  #WINTER_WONDERLAND_2016 #row1 #col1, #WINTER_WONDERLAND_2016 #row1 #col2, #WINTER_WONDERLAND_2016 #row2 #col1, #WINTER_WONDERLAND_2016 #row2 #col2 {
    width: 100%;
  }
  #WINTER_WONDERLAND_2016 #row2 {
    width: 100%;
    margin-top: 0;
    flex-wrap: wrap;
  }
  #WINTER_WONDERLAND_2016 #row2 .left {
    width: 40%;
  }
  #WINTER_WONDERLAND_2016 #row2 .right {
    width: 59%;
  }
  #WINTER_WONDERLAND_2016 #row2 #victoryposes {
    width: 30%;
  }
  #WINTER_WONDERLAND_2016 #row2 #sprays {
    width: 68%;
  }
  #WINTER_WONDERLAND_2016 #row2 #sprays .items {
    height: 365px;
  }
  #WINTER_WONDERLAND_2016 #row2 #sprays .item {
    width: 32.5%;
  }
  /* ROOSTER */
  #YEAR_OF_THE_ROOSTER_2017 {
    flex-direction: column;
    align-items: center;
    width: 1000px;
    position: relative;
    margin: 0 auto;
  }
  #YEAR_OF_THE_ROOSTER_2017 #row1 {
    flex-direction: column;
  }
  #YEAR_OF_THE_ROOSTER_2017 #row1 #col2 .right {
    z-index: 1;
  }
  #YEAR_OF_THE_ROOSTER_2017 #row1 #col1, #YEAR_OF_THE_ROOSTER_2017 #row1 #col2 {
    width: 100%;
  }
  #YEAR_OF_THE_ROOSTER_2017 #row2 {
    flex-wrap: wrap;
  }
  #YEAR_OF_THE_ROOSTER_2017 #row2 .left {
    width: 45%;
  }
  #YEAR_OF_THE_ROOSTER_2017 #row2 .right {
    width: 54%;
  }
  #YEAR_OF_THE_ROOSTER_2017 #row2 .right .items {
    z-index: 1;
  }
  #YEAR_OF_THE_ROOSTER_2017 #victoryposes {
    width: 33%;
  }
  #YEAR_OF_THE_ROOSTER_2017 #sprays {
    width: 66%;
  }
  #YEAR_OF_THE_ROOSTER_2017 #sprays .item {
    width: 32.5%;
  }
  #YEAR_OF_THE_ROOSTER_2017 #sprays .items {
    height: 374px;
  }
}

@media screen and (max-width: 1655px) {
  #SUMMER_GAMES_2016 {
    flex-direction: column;
    align-items: center;
    width: 1000px;
    position: relative;
    margin: 0 auto;
  }
  #SUMMER_GAMES_2016 #col1, #SUMMER_GAMES_2016 #col2 {
    width: 1000px;
  }
  #SUMMER_GAMES_2016 #col1 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  #SUMMER_GAMES_2016 #row1, #SUMMER_GAMES_2016 #row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #SUMMER_GAMES_2016 #row2 {
    margin-top: 10px;
  }
  #SUMMER_GAMES_2016 #legendary-skins {
    width: 100%;
    margin-bottom: 13px;
  }
  #SUMMER_GAMES_2016 #highlight-intros, #SUMMER_GAMES_2016 #emotes {
    width: 49%;
  }
  #SUMMER_GAMES_2016 #epic-skins {
    margin: 0;
  }
  #SUMMER_GAMES_2016 #epic-skins .items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 111px;
  }
  #SUMMER_GAMES_2016 #epic-skins .items .item {
    width: 48%;
    padding: 5px 2px;
    z-index: 1;
  }
  #SUMMER_GAMES_2016 #row2 .left {
    width: 49%;
  }
  #SUMMER_GAMES_2016 #row2 .right {
    display: flex;
    width: 50%;
    flex-direction: row;
  }
  #SUMMER_GAMES_2016 #emotes {
    margin-left: 1%;
  }
  #SUMMER_GAMES_2016 #emotes h2 {
    margin-top: 0;
  }
  #SUMMER_GAMES_2016 #victoryposes {
    width: 20%;
    z-index: 100;
  }
  #SUMMER_GAMES_2016 #victoryposes .item {
    z-index: 1;
  }
  #SUMMER_GAMES_2016 #sprays {
    width: 79%;
  }
  #SUMMER_GAMES_2016 #sprays .items, #SUMMER_GAMES_2016 #victoryposes .items {
    height: 433px;
  }
  #SUMMER_GAMES_2016 #sprays .items .item {
    width: 49%;
  }
  #SUMMER_GAMES_2016 #icons .item h3, #SUMMER_GAMES_2016 #sprays .item h3, #SUMMER_GAMES_2016 #victoryposes .item h3, #SUMMER_GAMES_2016 #voicelines .item h3 {
    font-size: 23px;
  }
  #SUMMER_GAMES_2016 #icons .items .item {
    width: 24%;
  }
  #SUMMER_GAMES_2016 #voicelines {
    width: 29%;
  }
  #SUMMER_GAMES_2016 #voicelines .items, #SUMMER_GAMES_2016 #icons .items {
    height: 405px;
  }
  #SUMMER_GAMES_2016 #voicelines .items .item {
    width: 49%;
  }
  #SUMMER_GAMES_2016 #icons {
    width: 70%;
  }
}
