#event-container .section h2 {
  font-size: 42px;
  display: inline-block;
  font-style: italic;
}

#event-container .section h3 {
  color: rgb(245, 245, 245);
  font-size: 26px;
  margin-right: 5px;
}

#event-container .section h4 {
  font-size: 1em;
}

#event-container #sprays h3 {
  margin-left: 0;
}

#event-container #sprays h4 {
  font-size: 1em;
}

#event-container h2 small {
  font-size: 0.7em;
  margin-left: 2px;
  font-style: italic;
  vertical-align: middle;
  top: 0px;
  position: relative;
  color: inherit;
  font-weight: inherit;
}

#event-container h2>small:before {
  content: "(";
  position: relative;
  top: -3px;
}

#event-container h2>small:after {
  content: ")";
  position: relative;
  top: -3px;
}


/* Override for the Preview */

#event-container #image-preview>span:before, #event-container #image-preview h2>small:before {
  content: "";
}

#event-container #image-preview>span:after, #event-container #image-preview h2>small:after {
  content: "";
}

#event-container .section .item {
  font-size: 26px;
  display: flex;
  align-items: center;
  padding: 5px 2px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}

#event-container .section .item label {
  width: 100%;
  cursor: pointer;
  display: flex;
}

#event-container .section .item input {
  height: 24px;
  margin: 1px 4px;
  float: left;
  cursor: pointer;
  min-width: 23px;
}


/**
 * COLORS
 */

/* Purple */

#event-container #epic-skins, #event-container #epic-skins input, #event-container #epic-skins h3, #event-container #emotes, #event-container #emotes input, #event-container #emotes h3, #event-container #highlight-intros, #event-container #highlight-intros input, #event-container #highlight-intros h3 {
  color: rgb(146, 37, 146)
}

#event-container #epic-skins .item, #event-container #emotes .item, #event-container #highlight-intros .item {
  background-color: rgb(188, 161, 204);
}

#event-container #epic-skins .item:nth-of-type(even), #event-container #emotes .item:nth-of-type(even), #event-container #highlight-intros .item:nth-of-type(even) {
  background-color: rgb(202, 185, 217);
}


/* Blue */

#event-container #voicelines, #event-container #voicelines input, #event-container #voicelines h3, #event-container #victoryposes, #event-container #victoryposes input, #event-container #victoryposes h3 {
  color: rgb(14, 116, 188);
}

#event-container #voicelines .item, #event-container #victoryposes .item {
  background-color: rgba(198, 229, 247, 0.5);
}

#event-container #voicelines .item:nth-of-type(even), #event-container #victoryposes .item:nth-of-type(even) {
  background-color: rgba(147, 200, 234, 0.5);
}


/* Green */

#event-container #sprays, #event-container #sprays input, #event-container #sprays h3 {
  color: rgb(6, 104, 58);
}

#event-container #sprays .item {
  background-color: rgba(208, 229, 173, 0.5);
}

#event-container #sprays .item:nth-of-type(even) {
  background-color: rgba(172, 213, 137, 0.5);
}


/* Pink */

#event-container #icons, #event-container #icons input, #event-container #icons h3 {
  color: rgb(237, 12, 108);
}

#event-container #icons .item {
  background-color: rgba(245, 202, 221, 0.5);
}

#event-container #icons .item:nth-of-type(even) {
  background-color: rgba(239, 172, 205, 0.5);
}

.item.legend h3 {
  color: rgba(252, 176, 28, 0.8) !important;
  text-shadow: 1px 1px 1px black;
}

.item.legend h3:after {
  content: "[3000 Coins]";
  font-size: 18px;
  margin-left: 6px;
}

/**
 * SPRAYS CSS
 */

#event-container #sprays h3 {
  font-size: 23px;
}

#event-container #sprays h4 {
  font-size: 18px;
  cursor: pointer;
}

#event-container #sprays h4:before {
  content: "[";
}

#event-container #sprays h4:after {
  content: "]";
}

#event-container #sprays .item label {
  display: flex;
  align-items: center;
  width: 100%;
  cursor: pointer;
}

#event-container #sprays .item[achievement="true"] label:after {
  background-image: url("../resources/icons/achievement.svg");
  content: "";
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: 6px;
  right: 6px;
  filter: brightness(0.98);
}

.item[achievement="true"] label {
  padding-right: 27px;
}


#event-container #sprays .item .orn {
  display: none;
}

#ornamentinfo {
  position: relative;
  margin-left: 10px;
  vertical-align: middle;
}

#ornamentinfo span {
  font-size: 22px;
  margin-left: 26px;
}

#fakecheckbox {
  position: absolute;
  top: -5px;
}

#event-container #sprays .item .ornl, #fakecheckbox {
  min-width: 22px;
  width: 22px;
  height: 22px;
  border-radius: 100px;
  cursor: pointer;
  background: #e3e1e1;
  box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.5);
  margin-right: 6px;
  transition: background 200ms;
}

#event-container #sprays .item .orn:checked+label, #fakecb:checked+label {
  background: #ffa500;
}

#event-container #sprays .wot {
  font-size: 10px;
  font-family: sans-serif;
  cursor: pointer;
}

/* Hide or adjust information that Jayess doesn't want but is useful for other themes */

#event-container #voicelines h4 {
  display: none;
}

.item h3, h4 {
  display: inline;
}

#event-container #sprays .item h4 {
  font-size: 23px;
  display: flex;
  align-items: center;
}

#event-container #sprays .item h4:before, #event-container #sprays .item h4:after {
  content: "";
}

#event-container #sprays .item h4:not(:only-child) {
  font-size: 18px;
}

#event-container #sprays .item h4:not(:only-child):before {
  content: "[";
}

#event-container #sprays .item h4:not(:only-child):after {
  content: "]";
}

/* SUMMER GAMES 2016 */

#SUMMER_GAMES_2016 #event-container #col1 {
  width: 50%;
}

#SUMMER_GAMES_2016 #event-container #col2 {
  width: 50%;
}

#SUMMER_GAMES_2016 #event-container #row1, #SUMMER_GAMES_2016 #event-container #row2 {
  display: flex;
}

#SUMMER_GAMES_2016 #event-container #row2 {
  margin-top: 8px;
}

#SUMMER_GAMES_2016 #event-container #row2 .left {
  width: 16%;
}

#SUMMER_GAMES_2016 #event-container #row2 .right {
  width: 22%;
}

#SUMMER_GAMES_2016 #cost-remaining, #SUMMER_GAMES_2016 #legendary-skins small.color-legendary {
  display: none;
}

#SUMMER_GAMES_2016 #event-container #epic-skins {
  margin-right: 6px;
}

#SUMMER_GAMES_2016 #event-container #epic-skins .item {
  padding: 10px 2px;
}

#SUMMER_GAMES_2016 #event-container #emotes h2 {
  margin-top: 13px;
}

#SUMMER_GAMES_2016 #event-container .top {
  display: flex;
  padding: 0 10px;
}

#SUMMER_GAMES_2016 #event-container #voicelines {
  width: 36%;
}

#SUMMER_GAMES_2016 #event-container #voicelines .items {
  height: 399px;
}

#SUMMER_GAMES_2016 #event-container #icons {
  width: 63%;
}

#SUMMER_GAMES_2016 #event-container #victoryposes {
  width: 15%;
}

#SUMMER_GAMES_2016 #event-container #sprays {
  width: 46%;
}

#SUMMER_GAMES_2016 #event-container #sprays .items {
  height: 333px;
}

#SUMMER_GAMES_2016 #event-container #victoryposes .items {
  flex-wrap: wrap;
}

#SUMMER_GAMES_2016 #event-container #icons .items {
  height: 397px;
}

#SUMMER_GAMES_2016 #event-container #victoryposes .item h4 {
  display: none;
}

#SUMMER_GAMES_2016 #event-container #icons .item h3 {
  font-size: 24px;
}

#SUMMER_GAMES_2016 #event-container #icons .item:nth-child(28) h3, #SUMMER_GAMES_2016 #event-container #icons .item:nth-of-type(24) h3 {
  font-size: 22px;
}


/* HALLOWEEN 2016 */

#HALLOWEEN_2016 #event-container .col {
  display: initial;
}

#HALLOWEEN_2016 #event-container #col1 {
  width: 46%;
}

#HALLOWEEN_2016 #event-container #col2 {
  width: 53%;
}

#HALLOWEEN_2016 #event-container #col3 {
  width: 15%;
}

#HALLOWEEN_2016 #event-container #epic-skins {
  width: 100%;
}

#HALLOWEEN_2016 #event-container #emotes h2 {
  margin-top: 24px;
}

#HALLOWEEN_2016 #event-container .top {
  display: flex;
}

#HALLOWEEN_2016 #event-container .top, #HALLOWEEN_2016 #event-container .bottom {
  padding: 0 8px;
}

#HALLOWEEN_2016 #event-container #voicelines {
  width: 49.5%;
  display: inline-block;
}

#HALLOWEEN_2016 #event-container #sprays {
  width: 43%;
}

#HALLOWEEN_2016 #event-container #icons {
  width: 49%;
  display: inline-block;
}

#HALLOWEEN_2016 #event-container #icons .items {
  height: 418px;
}

#HALLOWEEN_2016 #event-container #victoryposes .items {
  height: 325px;
}

#HALLOWEEN_2016 #event-container #voicelines .items {
  height: 397px;
}

#HALLOWEEN_2016 #event-container #sprays .items {
  height: 364px;
}

#HALLOWEEN_2016 #event-container #sprays .item h4:not(:only-child) {
  display: none;
}

#HALLOWEEN_2016 #event-container #row2 .left {
  width: 13%;
}

#HALLOWEEN_2016 #event-container #row2 .right {
  width: 16%;
  margin: 0 8px;
}

#HALLOWEEN_2016 #event-container #victoryposes {
  width: 27%;
}

#HALLOWEEN_2016 #event-container #sprays .item h3 {
  font-size: 22px;
}

#HALLOWEEN_2016 #event-container #sprays .item:nth-child(32) h3 {
  font-size: 21px;
}

/* WINTER WONDERLAND 2016 */

#WINTER_WONDERLAND_2016 #event-container #row1 #col1 {
  width: 60%;
}

#WINTER_WONDERLAND_2016 #event-container #row1 #col2 {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

#WINTER_WONDERLAND_2016 #event-container #row1 #col2 .right {
  width: 50%;
}

#WINTER_WONDERLAND_2016 #event-container #row2 {
  margin-top: -20px;
}

#WINTER_WONDERLAND_2016 #event-container #row2 #col1 {
  width: 35%;
}

#WINTER_WONDERLAND_2016 #event-container #row2 #col2 {
  width: 64%;
}

#WINTER_WONDERLAND_2016 #event-container #row2 .left {
  width: 15%;
}

#WINTER_WONDERLAND_2016 #event-container #row2 .right {
  width: 20%;
  margin-left: 8px;
}

#WINTER_WONDERLAND_2016 #event-container #sprays {
  width: 53%;
}

#WINTER_WONDERLAND_2016 #event-container #epic-skins {
  width: 100%;
}

#WINTER_WONDERLAND_2016 #event-container #emotes h2 {
  margin-top: 25px;
}

#WINTER_WONDERLAND_2016 #event-container .top {
  padding: 0 10px;
}

#WINTER_WONDERLAND_2016 #event-container #voicelines {
  width: 50%;
}

#WINTER_WONDERLAND_2016 #event-container #victoryposes {
  width: 17%;
  margin: 0 8px;
}

#WINTER_WONDERLAND_2016 #event-container #victoryposes .items {
  height: 252px;
}

#WINTER_WONDERLAND_2016 #event-container #voicelines .items {
  height: 456px;
}

#WINTER_WONDERLAND_2016 #event-container #icons .items {
  height: 480px;
}

#WINTER_WONDERLAND_2016 #event-container #icons .item:nth-child(24) h3 {
  font-size: 21px;
}

#WINTER_WONDERLAND_2016 #event-container #sprays .items {
  height: 265px;
}


/* YEAR OF THE ROOSTER 2017 */

#YEAR_OF_THE_ROOSTER_2017 #event-container #row1 #col1 {
  width: 61%;
}

#YEAR_OF_THE_ROOSTER_2017 #event-container #row1 #col2 {
  width: 39%;
}

#YEAR_OF_THE_ROOSTER_2017 #event-container #row2 .left {
  width: 13%;
}

#YEAR_OF_THE_ROOSTER_2017 #event-container #row2 .right {
  width: 18%;
}

#YEAR_OF_THE_ROOSTER_2017 #event-container #voicelines {
  width: 45%;
}

#YEAR_OF_THE_ROOSTER_2017 #event-container #victoryposes {
  width: 16%;
}

#YEAR_OF_THE_ROOSTER_2017 #event-container #icons {
  width: 54%;
}

#YEAR_OF_THE_ROOSTER_2017 #event-container #sprays {
  width: 52%;
}

#YEAR_OF_THE_ROOSTER_2017 #event-container #sprays .item {
  width: 32.7%;
}

#YEAR_OF_THE_ROOSTER_2017 #event-container #epic-skins .item {
  padding: 10px 2px;
}

#YEAR_OF_THE_ROOSTER_2017 #event-container #emotes h2 {
  margin-top: 13px;
}

#YEAR_OF_THE_ROOSTER_2017 #event-container #sprays .items {
  height: 370px;
}

#YEAR_OF_THE_ROOSTER_2017 #event-container #icons .item:nth-child(23) h3 {
  font-size: 22px;
}

#YEAR_OF_THE_ROOSTER_2017 #event-container #voicelines .items, #YEAR_OF_THE_ROOSTER_2017 #event-container #icons .items {
  height: 412px;
}

#YEAR_OF_THE_ROOSTER_2017 #event-container #voicelines .item, #YEAR_OF_THE_ROOSTER_2017 #event-container #icons .item {
  padding: 4px 2px;
}

/* UPRISING */

#UPRISING_2017 #event-container {
  margin-top: -22px;
}

#UPRISING_2017 #row1 #col1 {
  width: 71%;
}

#UPRISING_2017 #row1 #col2 {
  width: 29%;
}

#UPRISING_2017 #row1 #col2 .right {
  width: 64%;
}

#UPRISING_2017 #row2 {
  margin-top: -30px;
}

#UPRISING_2017 #icons {
  width: 35%;
}

#UPRISING_2017 #icons .items {
  height: 450px;
}

#UPRISING_2017 #icons .items .item {
  padding: 4px 2px;
}

#UPRISING_2017 #emotes, #UPRISING_2017 #highlight-intros {
  margin-top: 14px;
}

#UPRISING_2017 #legendary-skins .inner .card .bg {
  height: 86px;
  padding: 9px 16px;
}

#UPRISING_2017 #voicelines {
  width: 48%;
}

#UPRISING_2017 #sprays .items {
  height: 400px;
}

#UPRISING_2017 #voicelines .items {
  height: 600px;
}

#UPRISING_2017 #voicelines .items .item h4 {
  display: initial;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#UPRISING_2017 #voicelines .items .item h4:before {
  content: "["
}

#UPRISING_2017 #voicelines .items .item h4:after {
  content: "]"
}


#UPRISING_2017 #victoryposes {
  width: 14%;
}

#UPRISING_2017 #sprays {
  width: 37.5%;
}

/* ANNIVERSAY 2017 */

#ANNIVERSARY_2017 #col1 {
  width: 100%;
  padding: 0 10px;
}

#ANNIVERSARY_2017 #col1 #legendary-skins .card:last-of-type {
  margin-right: 0;
}

#ANNIVERSARY_2017 #row2 .right {
  width: 53%;
}

#ANNIVERSARY_2017 #row2 .top {
  display: flex;
}

#ANNIVERSARY_2017 #emotes, #ANNIVERSARY_2017 #icons {
  width: 50%;
}

#ANNIVERSARY_2017 #emotes .items, #ANNIVERSARY_2017 #icons .items {
  height: 470px;
}

#ANNIVERSARY_2017 #voicelines {
  width: 46%;
}

#ANNIVERSARY_2017 #voicelines .items {
  height: 585px;
}

#ANNIVERSARY_2017 #voicelines .items .item h4 {
  display: initial;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#ANNIVERSARY_2017 #voicelines .items .item h4:before {
  content: "["
}

#ANNIVERSARY_2017 #voicelines .items .item h4:after {
  content: "]"
}

#ANNIVERSARY_2017 #sprays {
  margin-top: 5px;
  width: 100%;
}

#ANNIVERSARY_2017 #sprays .items {
  height: 333px;
}

#ANNIVERSARY_2017 #image-preview.fixed {
  padding-left: 100px;
}



/* SMALL MODE CSS */

@media screen and (max-width: 1650px) {
  #event-container {
    flex-direction: column;
    align-items: center;
    width: 1100px;
    position: relative;
    margin: -20px auto 0;
  }
  /* SUMMER_GAMES */
  #SUMMER_GAMES_2016 #event-container #col1, #SUMMER_GAMES_2016 #event-container #col2 {
    width: 1000px;
  }
  #SUMMER_GAMES_2016 #event-container #col1 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  #SUMMER_GAMES_2016 #event-container #row1, #SUMMER_GAMES_2016 #event-container #row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  #SUMMER_GAMES_2016 #event-container #row2 {
    margin-top: 10px;
  }
  #SUMMER_GAMES_2016 #event-container #legendary-skins {
    width: 100%;
    margin-bottom: 13px;
  }
  #SUMMER_GAMES_2016 #event-container #highlight-intros, #SUMMER_GAMES_2016 #event-container #emotes {
    width: 49%;
  }
  #SUMMER_GAMES_2016 #event-container #epic-skins {
    margin: 0;
  }
  #SUMMER_GAMES_2016 #event-container #epic-skins .items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 111px;
  }
  #SUMMER_GAMES_2016 #event-container #epic-skins .items .item {
    width: 48%;
    padding: 5px 2px;
    z-index: 1;
  }
  #SUMMER_GAMES_2016 #event-container #row2 .left {
    width: 49%;
  }
  #SUMMER_GAMES_2016 #event-container #row2 .right {
    display: flex;
    width: 50%;
    flex-direction: row;
  }
  #SUMMER_GAMES_2016 #event-container #emotes {
    margin-left: 1%;
  }
  #SUMMER_GAMES_2016 #event-container #emotes h2 {
    margin-top: 0;
  }
  #SUMMER_GAMES_2016 #event-container #victoryposes {
    width: 20%;
    z-index: 100;
  }
  #SUMMER_GAMES_2016 #event-container #victoryposes .item {
    z-index: 1;
  }
  #SUMMER_GAMES_2016 #event-container #sprays {
    width: 79%;
  }
  #SUMMER_GAMES_2016 #event-container #sprays .items, #SUMMER_GAMES_2016 #event-container #victoryposes .items {
    height: 433px;
  }
  #SUMMER_GAMES_2016 #event-container #sprays .items .item {
    width: 49%;
  }
  #SUMMER_GAMES_2016 #event-container #icons .item h3, #SUMMER_GAMES_2016 #event-container #sprays .item h3, #SUMMER_GAMES_2016 #event-container #victoryposes .item h3, #SUMMER_GAMES_2016 #event-container #voicelines .item h3 {
    font-size: 23px;
  }
  #SUMMER_GAMES_2016 #event-container #icons .items .item {
    width: 24%;
  }
  #SUMMER_GAMES_2016 #event-container #voicelines {
    width: 29%;
  }
  #SUMMER_GAMES_2016 #event-container #voicelines .items, #SUMMER_GAMES_2016 #event-container #icons .items {
    height: 405px;
  }
  #SUMMER_GAMES_2016 #event-container #voicelines .items .item {
    width: 49%;
  }
  #SUMMER_GAMES_2016 #event-container #icons {
    width: 70%;
  }

  /* HALLOWEEN */
  #HALLOWEEN_2016 #event-container #row1 {
    flex-direction: column;
  }
  #HALLOWEEN_2016 #event-container #row2 {
    flex-wrap: wrap;
  }
  #HALLOWEEN_2016 #event-container #col1, #HALLOWEEN_2016 #event-container #col2 {
    width: 1000px;
  }
  #HALLOWEEN_2016 #event-container #col1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  #HALLOWEEN_2016 #event-container #legendary-skins {
    margin-bottom: 10px;
  }
  #HALLOWEEN_2016 #event-container #epic-skins {
    margin: 0;
  }
  #HALLOWEEN_2016 #event-container #row2 .left {
    width: 49%;
  }
  #HALLOWEEN_2016 #event-container #row2 .right {
    width: 49%;
  }
  #HALLOWEEN_2016 #event-container #emotes h2 {
    margin-top: 28px;
  }
  #HALLOWEEN_2016 #event-container #voicelines .items, #HALLOWEEN_2016 #event-container #victoryposes .items {
    height: 422px;
  }
  #HALLOWEEN_2016 #event-container #victoryposes .item {
    z-index: 1;
    width: 49%;
  }
  #HALLOWEEN_2016 #event-container #victoryposes {
    width: 37%;
  }
  #HALLOWEEN_2016 #event-container #sprays {
    width: 62%
  }
  #HALLOWEEN_2016 #event-container #sprays .items {
    height: 475px;
  }
  #HALLOWEEN_2016 #event-container #sprays .item {
    width: 32.5%
  }
  /* WINTER */
  #WINTER_WONDERLAND_2016 #event-container #row1 {
    flex-direction: column;
    width: 100%;
  }
  #WINTER_WONDERLAND_2016 #event-container #row1 #col2 .right {
    z-index: 1;
  }
  #WINTER_WONDERLAND_2016 #event-container #row1 #col1, #WINTER_WONDERLAND_2016 #event-container #row1 #col2, #WINTER_WONDERLAND_2016 #event-container #row2 #col1, #WINTER_WONDERLAND_2016 #event-container #row2 #col2 {
    width: 100%;
  }
  #WINTER_WONDERLAND_2016 #event-container #row2 {
    width: 100%;
    margin-top: 0;
    flex-wrap: wrap;
  }
  #WINTER_WONDERLAND_2016 #event-container #row2 .left {
    width: 40%;
  }
  #WINTER_WONDERLAND_2016 #event-container #row2 .right {
    width: 59%;
  }
  #WINTER_WONDERLAND_2016 #event-container #row2 #victoryposes {
    width: 30%;
  }
  #WINTER_WONDERLAND_2016 #event-container #row2 #sprays {
    width: 68%;
  }
  #WINTER_WONDERLAND_2016 #event-container #row2 #sprays .items {
    height: 365px;
  }
  #WINTER_WONDERLAND_2016 #event-container #row2 #sprays .item {
    width: 32.5%;
  }
  /* ROOSTER */
  #YEAR_OF_THE_ROOSTER_2017 #event-container #row1 {
    flex-direction: column;
  }
  #YEAR_OF_THE_ROOSTER_2017 #event-container #row1 #col2 .right {
    z-index: 1;
  }
  #YEAR_OF_THE_ROOSTER_2017 #event-container #row1 #col1, #YEAR_OF_THE_ROOSTER_2017 #event-container #row1 #col2 {
    width: 100%;
  }
  #YEAR_OF_THE_ROOSTER_2017 #event-container #row2 {
    flex-wrap: wrap;
  }
  #YEAR_OF_THE_ROOSTER_2017 #event-container #row2 .left {
    width: 45%;
  }
  #YEAR_OF_THE_ROOSTER_2017 #event-container #row2 .right {
    width: 54%;
  }
  #YEAR_OF_THE_ROOSTER_2017 #event-container #row2 .right .items {
    z-index: 1;
  }
  #YEAR_OF_THE_ROOSTER_2017 #event-container #victoryposes {
    width: 33%;
  }
  #YEAR_OF_THE_ROOSTER_2017 #event-container #sprays {
    width: 66%;
  }
  #YEAR_OF_THE_ROOSTER_2017 #event-container #sprays .item {
    width: 32.5%;
  }
  #YEAR_OF_THE_ROOSTER_2017 #event-container #sprays .items {
    height: 374px;
  }
  #UPRISING_2017 #event-container {
    margin-top: -10px;
  }
  #UPRISING_2017 #row1 {
    flex-direction: column;
  }
  #UPRISING_2017 #row1 #col1, #UPRISING_2017 #row1 #col2 {
    width: 100%;
  }
  #UPRISING_2017 #row2 {
    margin-top: 0;
    flex-direction: row;
    flex-wrap: wrap;
  }
  #UPRISING_2017 #voicelines {
    order: 3;
    width: 100%;
  }
  #UPRISING_2017 #victoryposes {
    width: 24%;
  }
  #UPRISING_2017 #sprays {
    width: 75.5%;
  }
  #UPRISING_2017 #sprays .items {
    height: 300px;
  }
  #UPRISING_2017 #sprays .items .item {
    width: 24.5%;
  }
}
