#hero-container {
  padding: 10px 40px;
}

#hero-container #hero-header {
  margin-top: -65px;
  position: relative;
}

#hero-container .hero-overview {
  display: flex;
  justify-content: center;
}

#hero-container .hero-overview .hero-image {
  height: 200px;
  margin-left: -245px;
}

#all #hero-container .hero-overview .hero-image {
  width: 490px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#hero-container .hero-overview .hero-image img {
  height: 100%;
  width: 490px;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.6s;
}

#all #hero-container .hero-overview .hero-image img {
  width: 150px;
  float: right;
  margin-right: 20px;
}

#hero-container .hero-overview .hero-info {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes slideInX {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#hero-container .hero-overview .hero-name {
  font-size: 120px;
  color: #fff;
  margin-bottom: -20px;
  animation-name: slideInX;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.8s;
}

#hero-container .hero-overview .hero-class {
  font-size: 48px;
  animation-name: slideInX;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 0.8s;
}

#hero-container #hero-header .options {
  position: absolute;
  bottom: 28px;
  right: 6px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#hero-container #hero-header .options .save-filters {
  text-align: center;
  margin-top: 8px;
}

#hero-container #hero-header .options .save-filters button {
  width: 70px;
}


#hero-container .hero-items .section .options {
  opacity: 0;
  transition: opacity 125ms;
  z-index: 1;
  margin-right: 5px;
}

#hero-container .hero-items .section .options .glyphicon {
  color: white;
  font-size: 18px;
  margin-top: -1px;
}

#hero-container .hero-items .section .options li a {
  padding: 3px 15px;
}

#hero-container .hero-items .section .options .btn:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

#hero-container .hero-items .section .options .btn {
  background-color: rgba(0, 0, 0, 0.15);
}

#hero-container .hero-items .section:hover .options {
  opacity: 0.9;
}

#hero-container #hero-header .currentfilter {
  font-size: 14px;
  position: absolute;
  right: 3px;
  padding-top: 1px;
  font-family: Futura, century gothic, arial, sans-serif;
  text-transform: uppercase;
}

#hero-container .dropdown-menu .divider {
  margin: 6px 0;
}

#hero-container .options .btn-group .dropdown-menu li label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 3px 0;
}

#hero-container .options .btn-group li input {
  margin-left: 10px;
  height: 17px;
  width: 17px;
}

#hero-container #hero-header .btn-group {
  display: inline-block;
}

#hero-container #hero-header .btn {
  font-size: 15px;
  margin: 0 3px;
}

#hero-container .btn-group .btn .caret {
  border-top: 6px dashed;
  border-top: 6px solid\9;
  border-right: 6px solid rgba(0, 0, 0, 0);
  border-left: 6px solid rgba(0, 0, 0, 0);
  margin-top: -1px;
}

#hero-container #hero-header .toggle-grid {
  display: none;
}

#all #hero-container #hero-header .toggle-grid {
  display: inline-block;
}

#hero-container #hero-header .hero-progress {
  background-color: rgba(24, 34, 62, .7);
  height: 22px;
  padding: 2px;
  text-align: center;
  position: relative;
  border-radius: 4px;
  box-sizing: content-box;
}

#hero-container #hero-header .hero-progress span {
  line-height: 26px;
  font-size: 20px;
  display: block;
  position: absolute;
  color: #fff;
  text-shadow: 1px 1px 2px rgb(54, 54, 54);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#hero-container #hero-header .hero-progress .hero-progress-bar {
  width: 0;
  border-radius: 3px;
  background-color: rgb(0, 0, 0);
  border-top: 2px solid;
  transition: width .8s ease-in-out;
  height: 100%;
  box-sizing: border-box;
}

#hero-container .hero-grid {
  margin-top: 3px;
}

#hero-container .hero-items {
  margin-top: 3px;
  -webkit-column-width: 530px;
  -moz-column-width: 530px;
  column-width: 530px;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}

#all #hero-container .hero-items, #hero-container.filtering .hero-items  {
  -webkit-column-width: 700px;
  -moz-column-width: 700px;
  column-width: 700px;
  column-count: 2;
  -webkit-column-count: 0;
  -moz-column-count: 0;
}

#hero-container .section {
  break-inside: avoid;
  page-break-inside: avoid;
  padding: 10px;
  overflow: hidden;
}

#hero-container .hero-items.ng-enter, #hero-container .hero-grid.ng-enter {
  opacity: 0;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 0.4s;
}

#hero-container .hero-items.ng-enter-active, #hero-container .hero-grid.ng-enter-active {
  opacity: 1;
}

#hero-container .hero-items .section-header {
  margin-bottom: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#hero-container .hero-items .section-header h2, #hero-container .hero-grid .section-header h2 {
  font-size: 42px;
  font-weight: bold;
}

#hero-container .section-header h2 small {
  font-size: 0.7em;
  margin-left: 2px;
  color: inherit;
  font-weight: inherit;
}

#hero-container .hero-items .section .item {
  font-size: 19px;
  display: flex;
  align-items: center;
  padding: 0 2px;
  margin: 1px 0;
  box-sizing: border-box;
  cursor: pointer;
  background-color: rgba(40, 53, 79, 0.6);
  position: relative;
  font-family: Futura, century gothic, arial, sans-serif;
  text-transform: uppercase;
}

#hero-container .hero-items .section .item h3 {
  text-shadow: 1px 1px 2px rgb(54, 54, 54);
  letter-spacing: 0.6;
}

#hero-container .hero-items .section .item small {
  font-size: 16px;
  margin-left: 5px;
  padding-top: 1px;
}

#hero-container .hero-items .section .item label {
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: 8px 0;
}

#hero-container .hero-items .section .item input {
  height: 24px;
  margin: 1px 4px;
  float: left;
  cursor: pointer;
  min-width: 23px;
}

#hero-container:not(.filtering) .hero-items #sprays .item, #all #hero-container .hero-items #icons .item  {
  width: 49.7%;
  display: inline-flex;
  margin-right: 1px;
  margin-bottom: 0;
}

#all #hero-container .hero-items #icons .item {
  width: 49.7%;
  display: inline-flex;
  margin-right: 1px;
}

#hero-container .hero-grid .section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#hero-container .hero-grid .section .section-header {
  width: 100%;
}

#hero-container .hero-grid .item {
  display: inline-block;
  margin: 4px;
  width: 110px;
  height: 110px;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 100ms ease-in-out, opacity 100ms ease-in-out;
  opacity: 1;
  cursor: pointer;
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  border: 3px solid rgba(255, 255, 255, 0.6);
}

#hero-container .hero-grid .item.img-load-error:after {
  content: "?";
  font-size: 80px;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  right: 0;
  bottom: 0;
  align-items: center;
}

#hero-container .hero-grid #sprays .item {
  width: 130px;
  height: 130px;
}

#hero-container .hero-grid .item:not(.selected) {
  opacity: 0.53;
}

#hero-container .hero-grid .item:not(.selected)::before {
  content: "";
  background-image: url(../resources/icons/lock.svg) !important;
  width: 25px;
  height: 25px;
  position: absolute;
  bottom: 1px;
  right: 1px;
  background-size: contain;
  background-color: rgba(0, 0, 0, 0.4);
  border-radius: 3px;
}

#hero-container .hero-grid .item:hover {
  transform: scale(1.1) !important;
  opacity: 1;
}

#hero-container .hero-grid .item.pulse {
  transform: scale(1.2) !important;
}


/* Item Icons */

#hero-container .section .item[event]:not([event="none"]), #hero-container .section .item[achievement]:not([achievement="false"]) {
  padding-right: 35px;
}

#hero-container .item[event]:not([event="none"]):after, #hero-container .item[achievement]:not([achievement="false"]):after, #hero-container .item[event]:not([event="none"]):before, #hero-container .item[achievement]:not([achievement="false"]):before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  right: 6px;
  top: 6px;
  background-position: center;
}

/* If an item has an Event & Achivement Icons */

#hero-container .hero-items .item[event]:not([event="none"]):before, #hero-container .hero-items .item[achievement]:not([achievement="false"]):before {
  right: 37px;
}

#hero-container .item[event][achievement]:not([event="none"]):not([achievement="false"]) {
  padding-right: 63px;
}


/* Event Icons */

#hero-container .hero-items .item[event="HALLOWEEN"]:after {
  background-image: url("../resources/icons/HALLOWEEN.svg");
}

#hero-container .hero-items .item[event="SUMMER_GAMES"]:after {
  background-image: url("../resources/icons/SUMMER_GAMES.svg");
}

#hero-container .hero-items .item[event="WINTER_WONDERLAND"]:after {
  background-image: url("../resources/icons/WINTER_WONDERLAND.svg");
}

#hero-container .hero-items .item[event="LUNAR_NEW_YEAR"]:after {
  background-image: url("../resources/icons/LUNAR_NEW_YEAR.svg");
}

#hero-container .hero-items .item[event="UPRISING"]:after {
  background-image: url("../resources/icons/UPRISING.svg");
}

#hero-container .hero-items .item[event="ANNIVERSARY"]:after {
  background-image: url("../resources/icons/ANNIVERSARY.svg");
}


/* Achivement Icons */

#hero-container .item[achievement="true"]:after, #hero-container .item:not([event="none"]):not([achievement="false"]):before {
  background-image: url("../resources/icons/achievement.svg");
}

#hero-container .section .item[achievement="blizzard"]:after {
  background-image: url("../resources/icons/blizzard.svg");
}

#hero-container .section .item[achievement="bcrf"]:after {
  background-image: url("../resources/icons/heart.png");
}

#hero-container .section .item[achievement="owl"]:after {
  background-image: url("../resources/icons/overwatch_league.svg");
}


@media screen and (max-width: 1400px) {
  #hero-container .hero-items .section .item {
    font-size: 18px;
  }

  #hero-container .hero-items .section .item small {
    padding-top: 0;
    font-size: 16px;
  }

  #hero-container .hero-items .section .item label {
    padding: 7px 0;
  }

  #hero-container .hero-items .section .item input {
    height: 20px;
  }

  #hero-container .item[event]:not([event="none"]):after, #hero-container .item[achievement]:not([achievement="false"]):after, #hero-container .item[event]:not([event="none"]):before, #hero-container .item[achievement]:not([achievement="false"]):before {
    top: 3px;
  }
}
