#hero-container {
  padding: 10px 40px 0;
}

#hero-container #hero-header {
  margin-top: -65px;
  position: relative;
}

#hero-container .hero-overview {
  display: flex;
  justify-content: center;
}

#hero-container .hero-overview .hero-image {
  height: 200px;
  margin-left: -245px;
}

#all #hero-container .hero-overview .hero-image {
  width: 490px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#hero-container .hero-overview .hero-image img {
  height: 100%;
  width: 490px;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.8s;
}

#all #hero-container .hero-overview .hero-image img {
  width: 150px;
  float: right;
  margin-right: 20px;
}

#hero-container .hero-overview .hero-info {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes slideInX {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

#hero-container .hero-overview .hero-name {
  font-size: 120px;
  color: #fff;
  margin-bottom: -20px;
  animation-name: slideInX;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1s;
}

#hero-container .hero-overview .hero-class {
  font-size: 48px;
  animation-name: slideInX;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1s;
}

#hero-container #hero-header .options {
  position: absolute;
  bottom: 28px;
  right: 6px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

#hero-container #hero-header .currentfilter {
  font-size: 14px;
  position: absolute;
  right: 3px;
  padding-top: 1px;
  font-family: Futura, century gothic, arial, sans-serif;
  text-transform: uppercase;
}

#hero-container #hero-header .options .btn-group .dropdown-menu li label {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

#hero-container #hero-header .options .btn-group li input {
  margin-left: 10px;
  height: 17px;
  width: 17px;
}

#hero-container #hero-header .btn-group {
  display: inline-block;
}

#hero-container #hero-header .btn {
  transition: opacity .1s ease-in-out;
  font-size: 15px;
  opacity: 0.4;
  margin: 0 3px;
}

#hero-container #hero-header .btn-group .btn .caret {
  border-top: 6px dashed;
  border-top: 6px solid\9;
  border-right: 6px solid rgba(0, 0, 0, 0);
  border-left: 6px solid rgba(0, 0, 0, 0);
  margin-top: -1px;
}

#hero-container #hero-header .btn:hover, #hero-container #hero-header .btn-group:hover .btn {
  opacity: 1;
}

#hero-container #hero-header .options .dropdown-menu li a, #hero-container #hero-header .options .dropdown-menu li > div  {
  padding: 3px 15px;
  font-family: Futura, century gothic, arial, sans-serif;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  clear: both;
  color: rgb(51, 51, 51);
  font-weight: 400;
  line-height: 1.42857143;
  white-space: nowrap;
}

#hero-container #hero-header .options .dropdown-menu li > div:hover  {
  background-color: rgb(245, 245, 245);
}

#hero-container #hero-header .toggle-grid {
  display: none;
}

#all #hero-container #hero-header .toggle-grid {
  display: inline-block;
}

#hero-container #hero-header .hero-progress {
  background-color: rgba(24, 34, 62, .7);
  height: 26px;
  text-align: center;
  position: relative;
  border-radius: 4px;
}

#hero-container #hero-header .hero-progress span {
  line-height: 26px;
  font-size: 20px;
  display: block;
  position: relative;
  color: #fff;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}

#hero-container #hero-header .hero-progress .hero-progress-bar {
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 0;
  border-radius: 3px;
  background-color: rgb(0, 0, 0);
  border-top: 2px solid;
  transition: width .8s ease-in-out;
}

#hero-container .hero-items {
  margin-top: 3px;
  -webkit-column-width: 530px;
  -moz-column-width: 530px;
  column-width: 530px;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
}

#all #hero-container .hero-items, #hero-container.filtering .hero-items  {
  -webkit-column-width: 700px;
  -moz-column-width: 700px;
  column-width: 700px;
  column-count: 2;
  -webkit-column-count: 0;
  -moz-column-count: 0;
}

#hero-container .hero-items .section {
  break-inside: avoid;
  page-break-inside: avoid;
  padding: 10px;
  overflow: hidden;
}

#hero-container .hero-items.ng-enter {
  opacity: 0;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.6s;
}

#hero-container .hero-items.ng-enter-active {
  opacity: 1;
}

#hero-container .hero-items .section-header {
  margin-bottom: 4px;
}

#hero-container .hero-items .section-header h2, #hero-container .hero-grid .section-header h2 {
  font-size: 42px;
  font-weight: bold;
}

#hero-container .hero-items .section-header h2 small {
  font-size: 0.7em;
  margin-left: 2px;
}

#hero-container .hero-items .section .item {
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 0 2px;
  margin: 1px 0;
  box-sizing: border-box;
  cursor: pointer;
  background-color: rgba(40, 53, 79, 0.6);
  position: relative;
  font-family: Futura, century gothic, arial, sans-serif;
  text-transform: uppercase;
}

#hero-container .hero-items .section .item h3 {
  text-shadow: 1px 1px 2px rgb(54, 54, 54);
  letter-spacing: 0.6;
}

#hero-container .hero-items .section .item small {
  font-size: 18px;
  margin-left: 5px;
  padding-top: 3px;
}

#hero-container .hero-items .section .item label {
  width: 100%;
  cursor: pointer;
  display: flex;
  padding: 8px 0;
}

#hero-container .hero-items .section .item input {
  height: 24px;
  margin: 1px 4px;
  float: left;
  cursor: pointer;
  min-width: 23px;
}

#hero-container:not(.filtering) .hero-items #sprays .item {
  width: 49.7%;
  display: inline-flex;
  margin-right: 1px;
}

#all #hero-container .hero-items #icons .item {
  width: 49.7%;
  display: inline-flex;
  margin-right: 1px;
}

#hero-container .hero-grid .section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#hero-container .hero-grid .section .section-header {
  width: 100%;
}

#hero-container .hero-grid .item {
  display: inline-block;
  margin: 3px;
  width: 100px;
  height: 100px;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 100ms ease-in-out, opacity 150ms ease-in-out;
  opacity: 0;
  transform: scale(0);
  cursor: pointer;
  position: relative;
}

#hero-container .hero-grid .item.show {
  transform: scale(1);
  opacity: 1;
}

#hero-container .hero-grid #sprays .item {
  width: 130px;
  height: 130px;
}

#hero-container .hero-grid .item:not(.selected) {
  opacity: 0.6;
}

#hero-container .hero-grid .item:not(.selected):before {
    content: "";
    background-image: url(../resources/icons/lock.svg) !important;
    width: 26px;
    height: 26px;
    position: absolute;
    bottom: 1px;
    right: 1px;
    background-size: contain;
}

#hero-container .hero-grid .item {
  border-radius: 6px;
  overflow: hidden;
  border: 3px solid rgba(255, 255, 255, 0.6);
}

#hero-container .hero-grid .item:hover {
  transform: scale(1.1) !important;
  opacity: 1;
}

#hero-container .hero-grid .item.pulse:hover {
  transform: scale(1.2) !important;
}


/* Item Icons */

#hero-container .section .item[event]:not([event="none"]), #hero-container .section .item[achievement]:not([achievement="false"]) {
  padding-right: 35px;
}

#hero-container .item[event]:not([event="none"]):after, #hero-container .item[achievement]:not([achievement="false"]):after, #hero-container .item[event]:not([event="none"]):before, #hero-container .item[achievement]:not([achievement="false"]):before {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  right: 6px;
  top: 6px;
  background-position: center;
}

/* If an item has an Event & Achivement Icons */

#hero-container .hero-items .item[event]:not([event="none"]):before, #hero-container .hero-items .item[achievement]:not([achievement="false"]):before {
  right: 37px;
}

#hero-container .item[event][achievement]:not([event="none"]):not([achievement="false"]) {
  padding-right: 63px;
}


/* Event Icons */

#hero-container .hero-items .item[event="HALLOWEEN_2016"]:after {
  background-image: url("../resources/icons/halloween.png");
}

#hero-container .hero-items .item[event="SUMMER_GAMES_2016"]:after {
  background-image: url("../resources/icons/summer-games.png");
}

#hero-container .hero-items .item[event="WINTER_WONDERLAND_2016"]:after {
  background-image: url("../resources/icons/winter-wonderland.png");
}

#hero-container .hero-items .item[event="YEAR_OF_THE_ROOSTER_2017"]:after {
  background-image: url("../resources/icons/year-of-the-rooster.png");
}


/* Achivement Icons */

#hero-container .item[achievement="true"]:after, #hero-container .item:not([event="none"]):not([achievement="false"]):before {
  background-image: url("../resources/icons/achievement.svg");
}

#hero-container .section .item[achievement="blizzard"]:after {
  background-image: url("../resources/icons/blizzard.png");
}


/**
 * TOOLTIPS
 **/

#hero-container .section .tooltip {
  font-size: 15px;
  font-family: Futura, century gothic, arial, sans-serif;
}

#hero-container .section .tooltip.in {
  opacity: 1;
}

#hero-container .section .tooltip .tooltip-inner {
  max-width: none;
  padding: 4px;
}


/* All Skin and poses, icons and MOST sprays are 1:1 */

#hero-container #icons .tooltip .preview.img {
  width: 256px;
  height: 256px;
}

#hero-container #sprays .tooltip .preview.img {
  width: 380px;
  height: 380px;
  background-image: url("../resources/portrait-bg.jpg");
  background-size: cover;
}

#hero-container .section .tooltip .preview.img {
  width: 450px;
  height: 450px;
}

#hero-container .section .tooltip .preview.img>div {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
}

#hero-container .section .tooltip .preview.video {
  position: relative;
}


/* Highlight Intro videos are 16:9 */

#hero-container #intros .tooltip .preview.video {
  width: 640px;
  height: 360px;
}


/* Emote videos should be 1:1 */

#hero-container #emotes .tooltip .preview.video {
  width: 450px;
  height: 450px;
}

#hero-container .section .tooltip .preview.video video {
  height: 100%;
  width: 100%;
}

#hero-container #voicelines .tooltip {
  display: none;
}

#hero-container .section .tooltip.img-preview .tooltip-arrow {
  border-top-color: rgb(240, 240, 240);
  border-bottom-color: rgb(240, 240, 240);
}

#hero-container .tooltip.bottom .tooltip-arrow, #hero-container .tooltip.bottom-left .tooltip-arrow, #hero-container .tooltip.bottom-right .tooltip-arrow {
  border-width: 0 8px 8px;
}

#hero-container .tooltip.top .tooltip-arrow {
  border-width: 8px 8px 0;
  margin-left: -8px;
}

#hero-container .tooltip.bottom {
  margin-top: 0px;
  padding: 8px 0;
}

#hero-container .tooltip {
  pointer-events: none;
}

#hero-container .tooltip.top {
  padding: 8px 0;
}

#hero-container .section .tooltip.img-preview .tooltip-inner {
  background-color: rgb(240, 240, 240);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
