#hero-container {
  padding: 10px 40px 0;
}

#hero-container .hero-overview {
  display: flex;
  justify-content: center;
}

#hero-container .hero-overview .hero-image {
  height: 200px;
}

#hero-container .hero-overview .hero-image img {
  height: 100%;
}

#hero-container .hero-overview .hero-info {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#hero-container .hero-overview .hero-name {
  font-size: 120px;
  color: #fff;
  margin-bottom: -20px;
}

#hero-container .hero-overview .hero-class {
  font-size: 48px;
}

#hero-container .hero-items {
   -webkit-column-width: 530px;
      -moz-column-width: 530px;
           column-width: 530px;
   -webkit-column-gap: 0;
      -moz-column-gap: 0;
           column-gap: 0;
}

#hero-container .hero-items .section {
  break-inside: avoid;
  page-break-inside: avoid;
  padding: 10px;
}

#hero-container .hero-items .section-header {
  margin-bottom: 4px;
}

#hero-container .hero-items .section-header h2 {
  font-size: 42px;
  font-weight: bold;
}

#hero-container .hero-items .section .item {
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 5px 2px;
  margin: 1px 0;
  box-sizing: border-box;
  cursor: pointer;
  background-color: rgba(40, 53, 79, 0.6);
  position: relative;
  font-family: Futura, century gothic, arial, sans-serif;
  text-transform: uppercase;
}

#hero-container .hero-items .section .item h3 {
  text-shadow: 1px 1px 2px rgb(54, 54, 54);
  letter-spacing: 0.6;
}

#hero-container .hero-items .section .item small {
  font-size: 18px;
  margin-left: 5px;
  padding-top: 3px;
}

#hero-container .hero-items .section .item label {
  width: 100%;
  cursor: pointer;
  display: flex;
}

#hero-container .hero-items .section .item input {
  height: 24px;
  margin: 1px 4px;
  float: left;
  cursor: pointer;
  min-width: 23px;
}

#hero-container .hero-items #sprays .item {
  width: 49.7%;
  display: inline-flex;
  margin-right: 1px;
}

#hero-container .section .item[event="HALLOWEEN_2016"], #hero-container .section .item[event="SUMMER_GAMES_2016"], #hero-container .section .item[event="WINTER_WONDERLAND_2016"], #hero-container .section .item[event="YEAR_OF_THE_ROOSTER_2017"], #hero-container .section .item[achievement="true"] {
  padding-right: 35px;
}

#hero-container .item[event="HALLOWEEN_2016"]:after, #hero-container .item[event="SUMMER_GAMES_2016"]:after, #hero-container .item[event="WINTER_WONDERLAND_2016"]:after, #hero-container .item[event="YEAR_OF_THE_ROOSTER_2017"]:after, #hero-container .item[achievement="true"]:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  right: 14px;
  top: 6px;
}

#hero-container .item[event="HALLOWEEN_2016"]:after {
  background-image: url("../resources/icons/halloween.png");
  margin-top: 2px;
}

#hero-container .item[event="SUMMER_GAMES_2016"]:after {
  background-image: url("../resources/icons/summer-games.png");
}

#hero-container .item[event="WINTER_WONDERLAND_2016"]:after {
  background-image: url("../resources/icons/winter-wonderland.png");
}

#hero-container .item[event="YEAR_OF_THE_ROOSTER_2017"]:after {
  background-image: url("../resources/icons/year-of-the-rooster.png");
}

#hero-container .section:not(#sprays) .item[achievement="true"]:after {
  background-image: url("../resources/icons/blizzard.png");
}

#hero-container .section .tooltip.in {
  opacity: 1;
}

#hero-container .section .tooltip .tooltip-inner {
  max-width: none;
  background-color: rgba(40, 40, 40, 0.5);
  padding: 4px;
}

#hero-container .section .tooltip .tooltip-arrow {
  border-top-color: rgba(40, 40, 40, 0.5);
  border-bottom-color: rgba(40, 40, 40, 0.5);
}


/* All Skin and poses, icons and MOST sprays are 1:1 */
#hero-container #icons .tooltip .preview.img {
    width: 256px;
    height: 256px;
}

#hero-container #sprays .tooltip .preview.img {
    width: 380px;
    height: 380px;
    background-image: url("../resources/portrait-bg.jpg");
    background-size: cover;
}

#hero-container .section .tooltip .preview.img {
  width: 450px;
  height: 450px;
}

#hero-container .section .tooltip .preview.img>div {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
}

#hero-container .section .tooltip .preview.video {
  position: relative;
}


/* Highlight Intro videos are 16:9 */

#hero-container .section .tooltip .preview.video.intros {
  width: 640px;
  height: 360px;
}


/* Emote videos should be 1:1 */

#hero-container .section .tooltip .preview.video.emotes {
  width: 450px;
  height: 450px;
}

#hero-container .section .tooltip .preview.video video {
  height: 100%;
  width: 100%;
}
