#hero-container {
  padding: 10px 40px 0;
}

#hero-container #hero-header {
  margin-top: -65px;
}

#hero-container .hero-overview {
  display: flex;
  justify-content: center;
}

#hero-container .hero-overview .hero-image {
  height: 200px;
  margin-left: -15%;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#hero-container .hero-overview .hero-image img {
  height: 100%;
  width: 490px;
  animation-name: fadeIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-duration: 0.8s;
}

#hero-container .hero-overview .hero-info {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@keyframes slideIn {
    0% {
        transform: translateX(-30px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

#hero-container .hero-overview .hero-name {
  font-size: 120px;
  color: #fff;
  margin-bottom: -20px;

  animation-name: slideIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1s;
}

#hero-container .hero-overview .hero-class {
  font-size: 48px;
  animation-name: slideIn;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: 1s;
}

#hero-container #hero-header .hero-progress {
  background-color: rgb(255,255,255);
  height: 26px;
  text-align: center;
  position: relative;
  border-radius: 4px;
}

#hero-container #hero-header .hero-progress span {
  line-height: 26px;
  font-size: 20px;
  display: block;
  position: relative;
}

@keyframes progressBar {
   0% { width: 0; }
}

#hero-container #hero-header .hero-progress .hero-progress-bar {
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  width: 0;
  border-radius: 3px;
  background-color: rgb(0,0,0);
  border-top: 2px solid;
  animation-name: progressBar;
  animation-iteration-count: 1;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
animation-duration: 3s;
}

#hero-container .hero-items {
   -webkit-column-width: 530px;
      -moz-column-width: 530px;
           column-width: 530px;
   -webkit-column-gap: 0;
      -moz-column-gap: 0;
           column-gap: 0;
}

#hero-container .hero-items .section {
  break-inside: avoid;
  page-break-inside: avoid;
  padding: 10px;
}

#hero-container .hero-items .section-header {
  margin-bottom: 4px;
}

#hero-container .hero-items .section-header h2 {
  font-size: 42px;
  font-weight: bold;
}

#hero-container .hero-items .section .item {
  font-size: 20px;
  display: flex;
  align-items: center;
  padding: 5px 2px;
  margin: 1px 0;
  box-sizing: border-box;
  cursor: pointer;
  background-color: rgba(40, 53, 79, 0.6);
  position: relative;
  font-family: Futura, century gothic, arial, sans-serif;
  text-transform: uppercase;
}

#hero-container .hero-items .section .item h3 {
  text-shadow: 1px 1px 2px rgb(54, 54, 54);
  letter-spacing: 0.6;
}

#hero-container .hero-items .section .item small {
  font-size: 18px;
  margin-left: 5px;
  padding-top: 3px;
}

#hero-container .hero-items .section .item label {
  width: 100%;
  cursor: pointer;
  display: flex;
}

#hero-container .hero-items .section .item input {
  height: 24px;
  margin: 1px 4px;
  float: left;
  cursor: pointer;
  min-width: 23px;
}

#hero-container .hero-items #sprays .item {
  width: 49.7%;
  display: inline-flex;
  margin-right: 1px;
}

#all #hero-container .hero-items {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
  -webkit-column-width: 650px;
     -moz-column-width: 650px;
          column-width: 650px;
  -webkit-column-gap: 0;
     -moz-column-gap: 0;
          column-gap: 0;
}

#all #hero-container .hero-items #icons .item {
  width: 49.7%;
  display: inline-flex;
  margin-right: 1px;
}

#hero-container .section .item[event="HALLOWEEN_2016"], #hero-container .section .item[event="SUMMER_GAMES_2016"], #hero-container .section .item[event="WINTER_WONDERLAND_2016"], #hero-container .section .item[event="YEAR_OF_THE_ROOSTER_2017"], #hero-container .section .item[achievement="true"] {
  padding-right: 35px;
}

#hero-container .item[event="HALLOWEEN_2016"]:after, #hero-container .item[event="SUMMER_GAMES_2016"]:after, #hero-container .item[event="WINTER_WONDERLAND_2016"]:after, #hero-container .item[event="YEAR_OF_THE_ROOSTER_2017"]:after, #hero-container .item[achievement="true"]:after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  background-size: contain;
  background-repeat: no-repeat;
  right: 14px;
  top: 6px;
}

#hero-container .item[event="HALLOWEEN_2016"]:after {
  background-image: url("../resources/icons/halloween.png");
  margin-top: 2px;
}

#hero-container .item[event="SUMMER_GAMES_2016"]:after {
  background-image: url("../resources/icons/summer-games.png");
}

#hero-container .item[event="WINTER_WONDERLAND_2016"]:after {
  background-image: url("../resources/icons/winter-wonderland.png");
}

#hero-container .item[event="YEAR_OF_THE_ROOSTER_2017"]:after {
  background-image: url("../resources/icons/year-of-the-rooster.png");
}

#hero-container .section:not(#sprays) .item[achievement="true"]:after {
  background-image: url("../resources/icons/blizzard.png");
}

#hero-container .section .tooltip.in {
  opacity: 1;
}

#hero-container .section .tooltip .tooltip-inner {
  max-width: none;
  padding: 4px;
}


/* All Skin and poses, icons and MOST sprays are 1:1 */
#hero-container #icons .tooltip .preview.img {
    width: 256px;
    height: 256px;
}

#hero-container #sprays .tooltip .preview.img {
    width: 380px;
    height: 380px;
    background-image: url("../resources/portrait-bg.jpg");
    background-size: cover;
}

#hero-container .section .tooltip .preview.img {
  width: 450px;
  height: 450px;
}

#hero-container .section .tooltip .preview.img>div {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
}

#hero-container .section .tooltip .preview.video {
  position: relative;
}


/* Highlight Intro videos are 16:9 */

#hero-container #intros .tooltip .preview.video {
  width: 640px;
  height: 360px;
}


/* Emote videos should be 1:1 */

#hero-container #emotes .tooltip .preview.video {
  width: 450px;
  height: 450px;
}

#hero-container .section .tooltip .preview.video video {
  height: 100%;
  width: 100%;
}

#hero-container .section .tooltip .preview.video .nosupport {
  font-size: 28px;
}

/* Tooltips */
#hero-container .section .tooltip .tooltip-arrow {
  border-top-color: rgb(240, 240, 240);
  border-bottom-color: rgb(240, 240, 240);
}

#hero-container .tooltip.bottom .tooltip-arrow, #hero-container .tooltip.bottom-left .tooltip-arrow, #hero-container .tooltip.bottom-right .tooltip-arrow {
  border-width: 0 8px 8px;
}

#hero-container .tooltip.top .tooltip-arrow {
  border-width: 8px 8px 0;
}

#hero-container .tooltip.bottom {
  margin-top: -2px;
  padding: 8px 0;
}

#hero-container .tooltip.top {
  padding: 8px 0;
}

#hero-container .section .tooltip .tooltip-inner {
  background-color: rgb(240, 240, 240);
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}
