@font-face {
    font-family: "Big Noodle Too";
    src: url(../fonts/big-noodle-too.eot);
    src: url(../fonts/big-noodle-too.woff) format("woff"),
         url(../fonts/big-noodle-too.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}
@font-face {
    font-family: "Big Noodle Too";
    src: url(../fonts/big-noodle-too-oblique.eot);
    src: url(../fonts/big-noodle-too-oblique.woff) format("woff"),
         url(../fonts/big-noodle-too-oblique.ttf) format("truetype");
    font-weight: 400;
    font-style: italic
}

body {
  font-family: "Big Noodle Too";
  min-width: 1000px;
  background: url(../resources/body-bg.jpg) no-repeat top;
  background-color: #d0c7dc;
  color: #405275;
  padding-top: 65px;
}

#header {
  height: 65px;
  background-color: rgb(45, 45, 45);
  color: orange;
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  top: 0;
}

#header .left {
  display: flex;
  align-items: center;
}

#header .seperator {
  margin: 0 60px;
  font-size: 50px;
  padding-top: 3px;
  color: rgb(250, 250, 250);
  font-style: italic;
}

#header .right {
  margin-right: 11px;
}

#header .right .reset {
  position: relative;
}

#header .reset .x {
  font-size: 80px;
  transform: rotateZ(-45deg);
  cursor: pointer;
  margin-top: -8px;
}

#header .tooltip.show {
  opacity: 1;
}

#header .tooltip {
  opacity: 0;
  transition: opacity 0.125s ease-in-out;
  position: absolute;
  width: 135px;
  bottom: -10px;
  right: -8px;
  text-align: center;
  font-size: 20px;
  background-color: #4d4d4d;
  padding: 2px 0;
}

#header .tooltip:before {
  left: 80%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(221, 215, 227, 0);
  border-bottom-color: #4d4d4d;
  border-width: 10px;
  margin-left: -13px;
  top: -20px;
}

#header img {
  height: 55px;
  margin-right: 20px;
}

#header h1 {
  font-size: 56px;
  display: inline-block;
  font-style: italic;
}

#header h2 {
  font-size: 36px;
  color: rgb(245, 245, 245);
  font-style: italic;
}

#header h3 {
  font-size: 18px;
  color: rgb(254, 242, 0);
  font-style: italic;
}

#menu {
  text-align: center;
  font-size: 21px;
  padding: 4px;
}

#menu .button {
  cursor: pointer;
  display: inline-block;
  padding: 4px 9px;
  border-top: 2px solid rgb(235, 235, 235);
  border-bottom: 2px solid rgb(235, 235, 235);
  border-right: 1px solid rgb(200, 200, 200);
  background-color: rgb(81, 105, 145);
  color: rgb(250, 250, 250);
  transition: color 0.175s ease-in-out, background-color 0.175s ease-in-out;
  letter-spacing: 0.4;
}

#menu .button:last-of-type {
  border-right: 0;
}

#menu .button.selected, #menu .button:hover {
  background-color: rgb(250, 250, 250);
  color: rgb(51, 51, 51);
}

#menu .button:first-of-type {
  border-left: 2px solid rgb(250, 250, 250);
}

#menu .button:last-of-type {
  border-right: 2px solid rgb(250, 250, 250);
}

#protip {
  font-size: 20px;
  margin-top: 2px;
  margin-left: 10px;
  position: absolute;
}

@media screen and (max-width: 1340px) {
  #header {
    height: 65px;
  }
  #header .seperator {
    font-size: 50px;
    margin: 0 15px;
  }
  #header h1 {
    font-size: 50px;
  }
  #header h2 {
    font-size: 32px;
  }
  #header h3 {
    font-size: 16px;
  }
}

#footer {
  text-align: right;
  padding-right: 20px;
  color: #405275;
  font-size: 14px;
}

.item-container {
  padding: 8px 6px 13px;
  display: flex;
  justify-content: center;
}

.item-container  .section h2 {
  font-size: 42px;
  display: inline-block;
  margin-bottom: 4px;
  font-style: italic;
}

.item-container .section h3 {
  color: rgb(245, 245, 245);
  font-size: 26px;
  cursor: pointer;
}

.item-container .section span {
  font-size: 28px;
  margin-left: 3px;
  font-style: italic;
}

.item-container .section .item {
  font-size: 26px;
  display: flex;
  align-items: center;
  padding: 5px 2px;
}

.item-container .section .item input {
  width: 21px;
  height: 21px;
  margin-right: 4px;
  float: left;
  cursor: pointer;
}

/**
 * COLORS
 */

/* Purple */
#epic-skins, #emotes, #highlight-intros, #epic-skins input, #emotes input, #highlight-intros input, #highlight-intros h3, #epic-skins h3, #emotes h3 {
  color: rgb(146, 37, 146)
}

#epic-skins .item, #emotes .item, #highlight-intros .item {
  background-color: rgb(188, 161, 204);
}
#epic-skins .item:nth-of-type(even), #emotes .item:nth-of-type(even), #highlight-intros .item:nth-of-type(even) {
  background-color: rgb(202, 185, 217);
}

/* Blue */
#voicelines, #victoryposes, #voicelines input, #victoryposes input, #victoryposes h3, #voicelines h3 {
  color: rgb(14, 116, 188);
}

#voicelines .item, #victoryposes .item {
  background-color: rgba(198, 229, 247,0.5);
}

#voicelines .item:nth-of-type(even), #victoryposes .item:nth-of-type(even) {
  background-color: rgba(147, 200, 234,0.5);
}

/* Green */
#sprays, #sprays input, #sprays h3 {
  color: rgb(6, 104, 58);
}

#sprays .item {
  background-color: rgba(208, 229, 173,0.5);
}

#sprays .item:nth-of-type(even) {
  background-color: rgba(172, 213, 137,0.5);
}

/* Pink */
#icons, #icons input, #icons h3 {
  color: rgb(237, 12, 108);
}

#icons .item {
  background-color: rgba(245, 202, 221,0.5);
}

#icons .item:nth-of-type(even) {
  background-color: rgba(239, 172, 205,0.5);
}

#image-preview {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.155s ease-in-out;
  pointer-events: none;
}

#image-preview img {
  display: block;
  height: calc(100% - 52px);
  margin-left: 40px;
}

#image-preview video {
  width: 100%;
  height: calc(100% - 52px);
}

#image-preview.show {
  opacity: 1;
  transition-delay: 0.1s;
}

#image-preview.fixed {
  position: fixed;
  width: 700px;
  height: 420px;
  margin-top: -170px;
}

#image-preview.small img {
    height: calc(80% - 52px);
}

/**
 * SUMMER GAMES 2016 CSS
 */

/**
 * HALLOWEEN 2016 CSS
 */

.item.legend h3 {
  color: rgba(252, 176, 28, 0.8) !important;
  text-shadow: 1px 1px 1px black;
}
.item.legend h3:after {
  content: "[3000 Coins]";
  font-size: 18px;
  margin-left: 6px;
}

#halloween2016 #col1 {
  width: 38%;
}

#halloween2016 #col2 {
  width: 46%;
}

#halloween2016 #col3 {
  width: 16%;
}

#halloween2016 #legendary-skins {
  color: #405275;
  margin-bottom: 20px;
  position: relative;
}

#halloween2016 #legendary-skins .inner {
  opacity: 1;
  transition: opacity 0.125s ease-in-out;
}

#halloween2016 #legendary-skins .inner.hide {
  opacity: 0;
}

#halloween2016 #legendary-skins .images {
  height: 374px;
  display: flex;
}

#halloween2016 #legendary-skins .images .item {
  width: 25%;
  padding: 2px;
  position: relative;
  overflow: hidden;
  background: url('../img/portrait-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1px;
  margin-right: .5%;
}

#halloween2016 #legendary-skins .images .item img {
  width: 100%;
  height: auto;
}

#halloween2016 #legendary-skins .thing {
	position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4rem;
  background: rgba(40, 53, 79, 0.9);
  padding: 8px 6px 0px 2px;
  box-sizing: border-box;
}

#halloween2016 #legendary-skins .images .item h3 {
 	font-size: 25px;
  font-style: italic;
  color: #d0d0dc;
  width: 100%;
}

#halloween2016 #epic-skins {
  float: left;
  width: 40%;
  margin-right: 20px;
}

#halloween2016 #emotes h2 {
  margin-top: 24px;
}

#halloween2016 .top {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

#halloween2016 #voicelines, #halloween2016 #victoryposes {
  width: 49%;
}

#halloween2016 #voicelines .items, #halloween2016 #victoryposes .items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 431px;
}

#halloween2016 #voicelines .item, #halloween2016 #victoryposes .item {
  width: 48%;
}

#halloween2016 .bottom {
  padding: 0 10px;
}

#halloween2016 #sprays .items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 260px;
}

#halloween2016 #sprays .item {
  width: 19%;
}

#halloween2016 #sprays h3 {
  font-size: 25px;
}

@media screen and (max-width: 1540px) {
  #halloween2016 {
    flex-direction: column;
    align-items: center;
    width: 1000px;
    position: relative;
    margin: 0 auto;
  }

  #halloween2016 #col1, #halloween2016 #col2 {
    width: 1000px;
  }

  #halloween2016 #col1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #halloween2016 #legendary-skins {
    width: 70%;
    margin-bottom: 15px;
  }

  #halloween2016 #epic-skins {
    width: 29%;
    margin: 0;
  }

  #halloween2016 #col1 .right {
    display: flex;
    width: 100%;
    flex-direction: row;
  }

  #halloween2016 #highlight-intros, #halloween2016 #emotes {
    width: 34%;
  }

  #halloween2016 #emotes {
    margin-left: 2%;
  }

  #halloween2016 #emotes h2 {
    margin-top: 0;
  }

  #halloween2016 #col2 .top {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    width: 70%;
    padding: 0;
  }

  #halloween2016 #voicelines .items, #halloween2016 #victoryposes .items {
    height: 422px;
  }

  #halloween2016 #victoryposes .item {
    z-index: 1;
  }

  #halloween2016 #col2 .bottom {
    width: 70%;
    padding: 0;
  }

  #halloween2016 #col3 {
    width: 290px;
    position: absolute;
    top: 362px;
    right: 12px;
  }
}

/**
 * SUMMER GAMES 2016 CSS
 */

#summergames2016 #col1 {
  width: 78%;
}

#summergames2016 #col2 {
  width: 21%;
}

#summergames2016 #row1, #summergames2016 #row2 {
  display: flex;
}

#summergames2016 #legendary-skins {
  color: #405275;
  margin-bottom: 13px;
  position: relative;
  width: 62%;
}

#summergames2016 #legendary-skins .inner {
  opacity: 1;
  transition: opacity 0.125s ease-in-out;
}

#summergames2016 #legendary-skins .inner.hide {
  opacity: 0;
}

#summergames2016 #legendary-skins .images {
  height: 348px;
  display: flex;
  justify-content: space-between;
}

#summergames2016 #legendary-skins .images .item {
  width: 15.8%;
  padding: 2px;
  position: relative;
  overflow: hidden;
  background: url('../img/portrait-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1px;
}

#summergames2016 #legendary-skins .images .item img {
  width: 100%;
  height: auto;
}

#summergames2016 #legendary-skins .thing {
	position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4rem;
  background: rgba(40, 53, 79, 0.9);
  padding: 8px 6px 0px 2px;
  box-sizing: border-box;
}

#summergames2016 #legendary-skins .images .item h3 {
 	font-size: 25px;
  font-style: italic;
  color: #d0d0dc;
  width: 100%;
}

#summergames2016 #epic-skins, #summergames2016 .right {
  width: 18%;
}

#summergames2016 #epic-skins {
  margin: 0 0.6%;
}

#summergames2016 #epic-skins .item {
  padding: 9px 2px;
}

#summergames2016 #emotes h2 {
  margin-top: 1px;
}

#summergames2016 .top {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

#summergames2016 #voicelines {
  width: 38%;
  margin-right: 0.7%;
}

#summergames2016 #victoryposes {
  width: 15%;
  margin-right: 0.7%;
}

#summergames2016 #sprays {
  width: 45%;
}

#summergames2016 #voicelines .item, #summergames2016 #sprays .item {
    width: 31.6%;
}

#summergames2016 #voicelines .items, #summergames2016 #sprays .items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 333px;
}

#summergames2016 #victoryposes .items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

#summergames2016 #sprays h3 {
  font-size: 25px;
}

#summergames2016 #icons .items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 745px;
}

#summergames2016 #icons .item:nth-of-type(14) h3 {
  font-size: 21px;
}

#summergames2016 #icons .items .item {
  width: 49%;
}

@media screen and (max-width: 1655px) {
  #summergames2016 {
    flex-direction: column;
    align-items: center;
    width: 1000px;
    position: relative;
    margin: 0 auto;
  }

  #summergames2016 #col1, #summergames2016 #col2 {
    width: 1000px;
  }

  #summergames2016 #col1 {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }

  #summergames2016 #row1, #summergames2016 #row2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #summergames2016 #row2 {
    margin-top: 13px;
  }

  #summergames2016 #legendary-skins {
    width: 100%;
    margin-bottom: 13px;
  }

  #summergames2016 #epic-skins {
    width: 50%;
    margin: 0;
  }

  #summergames2016 #epic-skins .items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 111px;
  }

  #summergames2016 #epic-skins .items .item {
    width: 48%;
    padding: 5px 2px;
  }

  #summergames2016 #col1 .right {
    display: flex;
    width: 50%;
    flex-direction: row;
  }

  #summergames2016 #highlight-intros, #summergames2016 #emotes {
    width: 49%;
  }

  #summergames2016 #emotes {
    margin-left: 1%;
  }

  #summergames2016 #emotes h2 {
    margin-top: 0;
  }

  #summergames2016 #victoryposes {
    width: 19%;
  }

  #summergames2016 #victoryposes .item {
    z-index: 1;
  }

  #summergames2016 #sprays {
    width: 41%;
  }

  #summergames2016 #sprays .items, #summergames2016 #victoryposes .items {
    height: 333px;
  }

  #summergames2016 #icons .item h3, #summergames2016 #sprays .item h3, #summergames2016 #victoryposes .item h3, #summergames2016 #voicelines .item h3 {
    font-size: 23px;
  }

  #summergames2016 #icons .items {
    height: 259px;
  }

  #summergames2016 #icons .items .item {
    width: 15.6%;
  }
}

/* Winter Wonderland 2016 */

#winterwonderland2016 {
  flex-direction: column;
  min-width: 1500px;
}
#winterwonderland2016 .row {
  display: flex;
}

#winterwonderland2016 #row1 #col1 {
  width: 40%;
}

#winterwonderland2016 #row1 #col2 {
  width: 60%;
  display: flex;
  justify-content: space-around;
}

#winterwonderland2016 #row1 #col2 .right {
  width: 69%;
}

#winterwonderland2016 #row2 {
  justify-content: space-around;
  margin-top: -15px;
}

#winterwonderland2016 #row2 #col1 {
  width: 35%;
}

#winterwonderland2016 #row2 #col2 {
  width: 64%;
}

#winterwonderland2016 #legendary-skins {
  color: #405275;
  margin-bottom: 20px;
  position: relative;
}

#winterwonderland2016 #legendary-skins .inner {
  opacity: 1;
  transition: opacity 0.125s ease-in-out;
}

#winterwonderland2016 #legendary-skins .inner.hide {
  opacity: 0;
}

#winterwonderland2016 #legendary-skins .images {
  height: 374px;
  display: flex;
}

#winterwonderland2016 #legendary-skins .images .item {
  width: 25%;
  padding: 2px;
  position: relative;
  overflow: hidden;
  background: url('../img/portrait-bg.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  border-radius: 1px;
  margin-right: .5%;
}

#winterwonderland2016 #legendary-skins .images .item img {
  width: 100%;
  height: auto;
}

#winterwonderland2016 #legendary-skins .thing {
	position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 4rem;
  background: rgba(40, 53, 79, 0.9);
  padding: 8px 6px 0px 2px;
  box-sizing: border-box;
}

#winterwonderland2016 #legendary-skins .images .item h3 {
 	font-size: 25px;
  font-style: italic;
  color: #d0d0dc;
  width: 100%;
}

#winterwonderland2016 #epic-skins {
  float: left;
  width: 40%;
  margin-right: 20px;
}

#winterwonderland2016 #emotes h2 {
  margin-top: 24px;
}

#winterwonderland2016 .top {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

#winterwonderland2016 #voicelines {
  width: 29%;
}

#winterwonderland2016 #victoryposes {
  width: 100%;
}

#winterwonderland2016 #victoryposes .items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 157px;
}

#winterwonderland2016 #voicelines .items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 456px;
}

#winterwonderland2016 #voicelines .item {
  width: 48%;
}

#winterwonderland2016 #victoryposes .item {
  width: 48%;
}

#winterwonderland2016 #icons .items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 261px;
}

#winterwonderland2016 #icons .item {
  width: 24%;
}

#winterwonderland2016 #icons .item:nth-child(24) h3 {
  font-size: 21px;
}

#winterwonderland2016 #sprays .items {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 265px;;
}

#winterwonderland2016 #sprays .item {
  width: 24%;
}

#winterwonderland2016 #sprays h3 {
  font-size: 24px;
}

#winterwonderland2016 #sprays h4 {
  font-size: 18px;
  margin-left: 5px;
}

#winterwonderland2016 #sprays .item label {
  display: flex;
  align-items: center;
}

#winterwonderland2016 #sprays .item .orn {
  display: none;
}

#ornamentinfo {
  position: relative;
  margin-left: 10px;
}

#ornamentinfo span {
  font-size: 22px;
  margin-left: 26px;
}

#fakecheckbox {
  position: absolute;
  top: 5px;
}

#winterwonderland2016 #sprays .item .ornl, #fakecheckbox {
  width: 22px;
  height: 22px;
  border-radius: 100px;
  cursor: pointer;
  background: #e3e1e1;
  box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5);
  margin-right: 6px;
  transition: background 200ms;
}

#winterwonderland2016 #sprays .item .orn:checked + label, #fakecb:checked + label {
  background: #ffa500;
}

/*@media screen and (max-width: 1540px) {
  #winterwonderland2016 {
    flex-direction: column;
    align-items: center;
    width: 1000px;
    position: relative;
    margin: 0 auto;
  }

  #winterwonderland2016 #col1, #winterwonderland2016 #col2 {
    width: 1000px;
  }

  #winterwonderland2016 #col1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  #winterwonderland2016 #legendary-skins {
    width: 70%;
    margin-bottom: 15px;
  }

  #winterwonderland2016 #epic-skins {
    width: 29%;
    margin: 0;
  }

  #winterwonderland2016 #col1 .right {
    display: flex;
    width: 100%;
    flex-direction: row;
  }

  #winterwonderland2016 #highlight-intros, #winterwonderland2016 #emotes {
    width: 34%;
  }

  #winterwonderland2016 #emotes {
    margin-left: 2%;
  }

  #winterwonderland2016 #emotes h2 {
    margin-top: 0;
  }

  #winterwonderland2016 #col2 .top {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    width: 70%;
    padding: 0;
  }

  #winterwonderland2016 #voicelines .items, #winterwonderland2016 #victoryposes .items {
    height: 422px;
  }

  #winterwonderland2016 #victoryposes .item {
    z-index: 1;
  }

  #winterwonderland2016 #col2 .bottom {
    width: 70%;
    padding: 0;
  }

  #winterwonderland2016 #col3 {
    width: 290px;
    position: absolute;
    top: 362px;
    right: 12px;
  }
}*/
