#summergames2016 #col1 {
  width: 78%;
}

#summergames2016 #col2 {
  width: 21%;
}

#summergames2016 #row1, #summergames2016 #row2 {
  display: flex;
}

#summergames2016 #epic-skins, #summergames2016 .right {
  width: 22%;
}

#summergames2016 #epic-skins {
  margin-right: 6px;
}

#summergames2016 #epic-skins .item {
  padding: 10px 2px;
}

#summergames2016 #emotes h2 {
  margin-top: 13px;
}

#summergames2016 .top {
  display: flex;
  padding: 0 10px;
}

#summergames2016 #voicelines {
  width: 38%;
}

#summergames2016 #victoryposes {
  width: 15%;
}

#summergames2016 #sprays {
  width: 46%;
}

#summergames2016 #voicelines .items, #summergames2016 #sprays .items {
  height: 333px;
}

#summergames2016 #victoryposes .items {
  flex-wrap: wrap;
}

#summergames2016 #icons .items {
  height: 745px;
}

#summergames2016 #icons .item:nth-of-type(24) h3 {
  font-size: 21px;
}

#summergames2016 #victoryposes .item h3 {
  display: none;
}