#yearoftherooster2017 #row1 #col1 {
  width: 61%;
}

#yearoftherooster2017 #row1 #col2 {
  width: 39%;
}

#yearoftherooster2017 #row2 .left {
  width: 13%;
}

#yearoftherooster2017 #row2 .right {
  width: 18%;
}

#yearoftherooster2017 #voicelines {
  width: 45%;
}

#yearoftherooster2017 #victoryposes {
  width: 15%;
}

#yearoftherooster2017 #icons {
  width: 54%;
}

#yearoftherooster2017 #sprays {
  width: 53%;
}

#yearoftherooster2017 #epic-skins .item {
  padding: 10px 2px;
}

#yearoftherooster2017 #emotes h2 {
  margin-top: 13px;
}

#yearoftherooster2017 #sprays .items {
  height: 300px;
}

#yearoftherooster2017 #icons .item:nth-child(23) h3 {
  font-size: 22px;
}

#yearoftherooster2017 #voicelines .items, #yearoftherooster2017 #icons .items {
  height: 412px;
}

#yearoftherooster2017 #voicelines .item, #yearoftherooster2017 #icons .item {
  padding: 4px 2px;
}
