{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 5,
        "sourceType": "script",
        "ecmaFeatures": {}
    },
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "OWI": true,
        "angular": true,
        "document": true,
        "Promise": true,
        "copy": true,
        "gapi": true
    },
    "plugins": [
        "angular"
    ],
    "extends": "eslint:recommended",
    "rules": {
        "no-console": "off",
        "no-unreachable": "off",
        "semi": "off",
        "indent": ["error", 2, { "SwitchCase": 1 }]
    }
}
