{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 5,
        "sourceType": "script",
        "ecmaFeatures": {}
    },
    "env": {
        "browser": true,
        "node": true
    },
    "globals": {
        "OWI": true,
        "angular": true,
        "document": true,
        "Promise": true,
        "copy": true
    },
    "plugins": [
        "angular"
    ],
    "extends": "eslint:recommended",
    "rules": {
        "no-console": "off"
    }
}
