<html ng-app="OWI">
<head>
  <title>Overwatch Halloween Items Tracker</title>
  <link rel="stylesheet" href="./css/reset.css">
  <link rel="stylesheet" href="./css/main.css">
  <script src="./angular.min.js"></script>
</head>
<body ng-controller="MainCtrl as $ctrl">
  <div id="header">
    <div class="left">
      <img src="./img/logo.png">
      <h1>Halloween Items Checklist 2016</h1>
      <div class="seperator">|</div>
      <div>
        <h2>Event ends on Nov. 1, 2016</h2>
        <h3>Be sure to get everything you want by Oct. 31, 2016 to be safe!</h3>
      </div>
    </div>
    <div class="right">
      <div class="reset">
        <div class="x" ng-click="$ctrl.reset()" ng-mouseover="reset = true" ng-mouseleave="reset = false">+</div>
        <div class="tooltip" ng-class="{show : reset}">Reset Selected</div>
      </div>
    </div>
  </div>
  <div id="items">
    <div class="col" style="width: 38%">
      <div id="legendary-skins" class="section">
        <div id="image-preview" ng-class="{ show: $ctrl.preview }">
          <h2>Image Preview</h2> <span>{{$ctrl.preview.name}}</span>
          <img src="{{$ctrl.preview.img}}" />
        </div>
        <div class="inner" ng-class="{ hide: $ctrl.preview }">
          <h2>Legendary Skins</h2> <span>(3000 Coins)</span>
          <div class="images">
            <div class="item" ng-repeat="skin in $ctrl.items.skins.legendary track by $index" style="background-image:url({{skin.img}});">
              <div class="thing">
                <input type="checkbox" id="{{'legendary' + $index}}" ng-model="$ctrl.checked.legendary[skin.name]" ng-change="$ctrl.onSelect()">
                <label for="{{'legendary' + $index}}"><h3 class="name">{{skin.name}}</h3></label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="epic-skins" class="section">
        <h2>Epic Skins</h2> <span>(750 Coins)</span>
        <div class="item" ng-repeat="skin in $ctrl.items.skins.epic track by $index">
          <input type="checkbox" id="{{'epic' + $index}}" ng-model="$ctrl.checked.epic[skin]" ng-change="$ctrl.onSelect()"> <label for="{{'epic' + $index}}"><h3>{{skin}}</h3></label>
        </div>
      </div>
      <div class="right">
        <div id="highlight-intros" class="section">
          <h2>Highlight Intros</h2> <span>(750 Coins)</span>
          <div class="item" ng-repeat="intro in $ctrl.items.intros track by $index">
            <input type="checkbox" id="{{'intro' + $index}}" ng-model="$ctrl.checked.intros[intro]" ng-change="$ctrl.onSelect()"> <label for="{{'intro' + $index}}"><h3>{{intro}}</h3></label>
          </div>
        </div>
        <div id="emotes" class="section">
          <h2>Emotes</h2> <span>(750 Coins)</span>
          <div class="item" ng-repeat="emote in $ctrl.items.emotes track by $index">
            <input type="checkbox" id="{{'emote' + $index}}" ng-model="$ctrl.checked.emotes[emote]" ng-change="$ctrl.onSelect()"> <label for="{{'emote' + $index}}"><h3>{{emote}}</h3></label>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="width: 46%">
      <div class="top">
        <div id="voicelines" class="section">
          <h2>Voice Lines</h2> <span>(75 Coins)</span>
          <div class="items">
            <div class="item" ng-repeat="voice in $ctrl.items.voicelines track by $index">
              <input type="checkbox" id="{{'voice' + $index}}" ng-model="$ctrl.checked.voicelines[voice]" ng-change="$ctrl.onSelect()"> <label for="{{'voice' + $index}}"><h3>{{voice}}</h3></label>
            </div>
          </div>
        </div>
        <div id="victoryposes" class="section">
          <h2>Victory Poses</h2> <span>(225 Coins)</span>
          <div class="items">
            <div class="item" ng-repeat="pose in $ctrl.items.victoryposes track by $index">
              <input type="checkbox" id="{{'pose' + $index}}" ng-model="$ctrl.checked.victoryposes[pose]" ng-change="$ctrl.onSelect()"> <label for="{{'pose' + $index}}"><h3>{{pose}}</h3></label>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div id="sprays" class="section">
          <h2>Sprays</h2> <span>(75 Coins)</span>
          <div class="items">
            <div class="item" ng-repeat="spray in $ctrl.items.sprays track by $index" ng-mouseover="$ctrl.showPreview(spray)" ng-mouseleave="$ctrl.hidePreview()">
              <input type="checkbox" id="{{'spray' + $index}}" ng-model="$ctrl.checked.sprays[spray.name]" ng-change="$ctrl.onSelect()"> <label for="{{'spray' + $index}}"><h3>{{spray.name}}</h3></label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col" style="width: 16%">
      <div id="icons" class="section">
        <h2>Player Icons</h2>
        <div class="items">
          <div class="item" ng-repeat="icon in $ctrl.items.icons track by $index" ng-mouseover="$ctrl.showPreview(icon)" ng-mouseleave="$ctrl.hidePreview()">
            <input type="checkbox" id="{{'icon' + $index}}" ng-model="$ctrl.checked.icons[icon.name]" ng-change="$ctrl.onSelect()"> <label for="{{'icon' + $index}}"><h3>{{icon.name}}</h3></label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    Designed by Lalato &amp; Izzepizze on <a href="https://www.reddit.com/r/Overwatch/comments/59bo66">Reddit</a> | Site made by Js41637 | View source on <a href="https://github.com/Js41637/Overwatch-Halloween-Item-Tracker">Github</a>
  </div>
  <script src="./main.js"></script>
</body>
</html>
