<html ng-app="OWI">
<head>
  <title>Overwatch Item Tracker</title>
  <meta charset="UTF-8">
  <link rel="icon" type="image/png" sizes="48x48" href="./resources/favicon.png">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.5/angular-animate.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/1.0.20/angular-ui-router.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap-tpls.min.js"></script>
  <script src="./js/app.js"></script>
  <script src="./js/services.js"></script>
  <script src="./js/controllers.js"></script>
  <script src="./js/directives.js"></script>
  <!-- <script src="./js/vendor/particles.min.js"></script> -->
</head>
<body ng-controller="MainCtrl as $ctrl" id="{{$ctrl.item.id}}" style="opacity: 0">
  <div id="background"></div>
  <div id="header">
    <div class="left">
      <img id="header-logo" uib-tooltip="Boop" tooltip-placement="bottom" src="./resources/logo.svg" ng-click="$ctrl.toggleSidebar()">
      <h1><a href="./#/" style="color: #f99e1a; text-decoration: none;">Overwatch Item Tracker</a></h1>
      <div class="event-selector" ng-click="$ctrl.showNav = !$ctrl.showNav">
        <div class="block" ng-if="$ctrl.item.type == 'heroes'">
          <div class="img" style="background-image: url({{$ctrl.item.id | heroImg:'icon'}})"></div>
        </div>
        <h2>{{$ctrl.item.name}} <span class="caret"></span></h2>
      </div>
      <div ui-view="header" class="header-content"></div>
    </div>
    <div class="right">
      <div class="icon settings-icon" ng-click="$ctrl.openSettings()" uib-tooltip="Settings" tooltip-placement="left">
        <span class="glyphicon glyphicon-cog"></span>
      </div>
      <div class="icon theme-icon" ng-click="$ctrl.openTheme()" uib-tooltip="Themes" tooltip-placement="left">
        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 20 20" fill="#FFFFFF">
          <path d="M10,0C4.5,0,0,4.5,0,10s4.5,10,10,10c0.9,0,1.7-0.7,1.7-1.7c0-0.4-0.2-0.8-0.4-1.1c-0.3-0.3-0.4-0.7-0.4-1.1  c0-0.9,0.7-1.7,1.7-1.7h2c3.1,0,5.6-2.5,5.6-5.6C20,4,15.5,0,10,0z M3.9,10C3,10,2.2,9.3,2.2,8.3S3,6.7,3.9,6.7s1.7,0.7,1.7,1.7  S4.8,10,3.9,10z M7.2,5.6c-0.9,0-1.7-0.7-1.7-1.7s0.7-1.7,1.7-1.7S8.9,3,8.9,3.9S8.1,5.6,7.2,5.6z M12.8,5.6c-0.9,0-1.7-0.7-1.7-1.7  s0.7-1.7,1.7-1.7s1.7,0.7,1.7,1.7S13.7,5.6,12.8,5.6z M16.1,10c-0.9,0-1.7-0.7-1.7-1.7s0.7-1.7,1.7-1.7s1.7,0.7,1.7,1.7  S17,10,16.1,10z"/>
        </svg>
      </div>
      <div class="icon about-icon" ng-click="$ctrl.openAbout()" uib-tooltip="About" tooltip-placement="left">
        <span class="glyphicon glyphicon-info-sign"></span>
      </div>
    </div>
  </div>

  <div id="menuNav" class="angular-animate" uib-collapse="!$ctrl.showNav">
    <hero-nav hide-totals="true"></hero-nav>
  </div>

  <div id="sidebar" ng-class="{open: $ctrl.showSidebar}">
    <div class="sidebar-group home">
      <h2 ui-sref="home" ui-sref-active="selected">Home</h2>
    </div>
    <div class="sidebar-group">
      <h2>Updates</h2>
      <div>
        <ul>
          <li ng-repeat="event in ::$ctrl.events track by $index" ui-sref="events({ id: event.id })" ui-sref-active="selected"><a href="#">{{::event.name}}</a></li>
        </ul>
      </div>
    </div>
    <div class="sidebar-group">
      <h2>Heroes</h2>
      <div>
        <ul>
          <li ng-repeat="hero in ::$ctrl.heroes track by $index" ui-sref="heroes({ id: hero.id || 'all' })" ui-sref-active="selected"><a href="#">{{::hero.name || 'All Class'}}</a></li>
        </ul>
      </div>
    </div>
  </div>

  <div ng-if="::$ctrl.noSupportMsg" ng-hide="::$ctrl.hideAlert" class="nosupport alert alert-warning alert-dismissable">
    <button ng-click="$ctrl.dismissAlert()" type="button" class="close"><span>&times;</span></button>
    <strong>Notice!</strong> <span>{{$ctrl.noSupportMsg}}</span>
  </div>

  <div ui-view="main" id="content-container"></div>
  <!-- <Particles ng-if="::$ctrl.particles"></Particles> -->

  <script async defer src="https://apis.google.com/js/api.js"></script>
  <script> // Track page views
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-56716296-2', 'auto');
    ga('send', 'pageview');
  </script>
</body>
</html>
