$EVENT_CUSTOM_RESOURCES: 'resources/WINTER_WONDERLAND/';
$WINTER_WONDERLAND: map-get($events, WINTER_WONDERLAND);

$primary-color: map-get(map-get($WINTER_WONDERLAND, colors), primary);
$highlight-color: map-get(map-get($WINTER_WONDERLAND, colors), highlight);

$color__ice-blue: rgb(235, 248, 254);
$color__smeared-ice: rgb(167, 192, 206);
$color__special-blue: rgb(81, 148, 200);
$opacity__ice-blue: 0.8;

#home #hero-nav .gallery.event .block[href$="/WINTER_WONDERLAND"] .hero-progress-bar {
  background-color: #52496d;
}

body#WINTER_WONDERLAND {
  #header,
  #menuNav,
  #sidebar {
    background-color: rgba($color__special-blue, 0.85);
  }

  #legendary-skins {
    .images .card {
      box-shadow: inset 0 0 40px 12px rgba($color__ice-blue, $opacity__ice-blue);
      overflow: hidden;

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba($color__ice-blue, 0.4);
      }

      &::after {
        top: 4px;
        left: 4px;
        background: url($EVENT_CUSTOM_RESOURCES + 'check.svg') no-repeat 16% 16%/2.8rem auto;
      }

      &:hover,
      &.selected {
        &::before {
          background: none;
        }
      }

      &.selected {
        box-shadow: none;

        &::before {
          content: "";
          width: 120%;
          height: 110%;
          background: transparent;
          position: absolute;
          top: -10%;
          left: -10%;
          border: 0;
          border-radius: 65% 0 0 0;
          filter: blur(10px);
          box-shadow: 0 0 0 10rem rgba($color__ice-blue, 0.9);
        }

        &::after {
          filter: blur(0.75px);
        }

        label.bg {
          box-shadow: none;
          background-color: rgba($color__ice-blue, 0.9);

          .card-heading {
            color: shade(darken($color__smeared-ice, 26%), 26%);
          }

          .card-copy {
            color: shade(darken($color__smeared-ice, 16%), 16%);
          }
        }
      }

      label.bg {
        background-color: rgba($color__ice-blue, $opacity__ice-blue);
        box-shadow: 0 0 14px 12px rgba($color__ice-blue, $opacity__ice-blue);

        @include z-index(400);

        .card-heading {
          color: shade(darken($color__smeared-ice, 12%), 10%);
        }

        .card-copy {
          color: $color__smeared-ice;
        }
      }
    }
  }

  .section {
    overflow: unset;
  }

  .section-header {
    background-color: $color__special-blue;
    color: #fff;
    position: relative;

    h2 {
      &::before {
        filter: brightness(10);
      }

      small {
        color: shade($color__special-blue, 50%);
      }
    }

    &::before {
      content: "";
      position: absolute;
      width: 110px;
      height: 38px;
      left: -2px;
      top: -5px;
      background: url($EVENT_CUSTOM_RESOURCES + 'header-left.png') no-repeat center center;

      @include z-index(above-content);
    }

    &::after {
      content: '';
      position: absolute;
      width: 147px;
      height: 39px;
      right: -3px;
      top: -6px;
      background: url($EVENT_CUSTOM_RESOURCES + 'header-right.png') no-repeat center center;

      @include z-index(above-content);
    }
  }
}
