$EVENT_CUSTOM_RESOURCES: 'resources/UPRISING/';
$UPRISING: map-get($events, UPRISING);

$primary-color: map-get(map-get($UPRISING, colors), primary);
$highlight-color: map-get(map-get($UPRISING, colors), highlight);

$color__dark-blue: rgb(19, 33, 60);
$color__smeared-ice: rgb(167, 192, 206);
$color__special-blue: rgb(81, 148, 200);
$opacity__ice-blue: 0.8;

// Specific event override
#hero-nav .gallery.event .block[href$="/UPRISING"] .img,
body#UPRISING .header-content::before {
  background-image: url('/resources/updates/UPRISING/archives_logo.png') !important;
}

body#UPRISING {
  .event-logo {
    opacity: 0;
  }

  .header-content::before {
    content: "";
    position: absolute;
    height: 120px;
    width: 397px;
    background-repeat: no-repeat;
    background-position: center;
  }

  #legendary-skins {
    .images .card {
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: $color__dark-blue;
        mix-blend-mode: color;
        opacity: 0.6;
      }

      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(0, 10, 29, 0.45);
      }

      label.bg {
        background-color: rgba($color__dark-blue, 0.9);

        @include z-index(above-content, +10);

        .card-heading {
          color: $white;
        }

        .card-copy {
          color: $primary-color;
        }
      }

      &:hover,
      &.selected {
        &::before {
          mix-blend-mode: unset;
          background: none;
        }

        &::after {
          background: none;
        }
      }

      &.selected {
        &::before {
          border: 4px solid $primary-color;
          opacity: 1;
        }

        &::after {
          content: "";
          top: 0;
          left: 0;
          position: absolute;
          width: 6rem;
          height: 6rem;
          background:
            url('resources/icons/check-circle.svg') no-repeat 20% 20%/2rem auto,
            linear-gradient(135deg, $primary-color, $primary-color 50%, rgba($primary-color, 0) 51%, rgba($primary-color, 0)) no-repeat top left/auto;
        }

        label.bg {
          background-color: $primary-color;

          .card-heading {
            color: $white;
          }

          .card-copy {
            color: rgba($white, 0.7);
          }
        }
      }
    }
  }
}


