$EVENT_CUSTOM_RESOURCES: 'resources/HALLOWEEN/';
$HALLOWEEN: map-get($events, HALLOWEEN);

$primary-color: $shark;
$highlight-color: lighten($shark, 16%);

body#HALLOWEEN {
  #header,
  #menuNav,
  #sidebar {
    background-color: rgba($primary-color, 0.85);
  }

  #legendary-skins {
    .images .card {
      filter: grayscale(75%);

      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        border: 1.7rem solid transparent;
        border-image: url($EVENT_CUSTOM_RESOURCES + 'card-border.png') 17 repeat;
      }

      &::after {
        top: 4px;
        left: 4px;
        background: url($EVENT_CUSTOM_RESOURCES + 'check.svg') no-repeat 16% 16%/2.8rem auto;
      }

      &:hover,
      &.selected {
        filter: none;
      }

      label.bg {
        background-color: rgba($primary-color, 0.85);

        .card-heading {
          color: #fff;
        }

        .card-copy {
          color: rgba($white, 0.6);
        }
      }

      input:checked ~ label::before {
        background-color: transparent;
      }

      input:checked ~ label::after {
        background-image: url($EVENT_CUSTOM_RESOURCES + 'check.svg');
        background-size: 90% auto;
      }
    }
  }

  .section-header {
    background-color: $primary-color;
    color: #fff;

    h2 {
      &::before {
        filter: brightness(10);
      }

      small {
        color: rgba(255, 255, 255, 0.6);
      }
    }
  }
}
