// Use the hero portrait instead.
#hero-nav .gallery.hero .block .block-content .imgcont {
  &::before {
    padding-top: 110%;
  }

  .img {
    background-size: cover;
    top: 0;
  }
}

$heroes-two: map-remove($heroes, all);

@each $heroname, $data in $heroes-two {
  #hero-nav .gallery.hero .block[href$="#{$heroname}"] .img {
    background-image: url('/resources/heroes/#{$heroname}/portrait.png') !important;
  }
}
