// JS' Ones
$size__body-min-width:                          900px !default;
$size__navigation-height:                       45px;
$size__gutter:                                  15px !default;
$size__gutter--sm:                              $size__gutter / 2;


$overwatch-locked-item-opacity:                 0.27;






$size__credits-total-container:                 5.4rem;
$size__progress-bar-height:                     3.2rem;
$size__header-height:                           14rem;
//$size__calculated-total-header-height:          $size__navigation-height + $size__header-height + $size__progress-bar-height;

$size__section-content-gutter:                  1.2rem;
$size__item-base:                               1em;
$size__item-spacing:                            $size__gutter / 2;
$multiplier__item-subtitle:                     0.875;
//$size__item-checkbox:                           ($size__item-base + ($size__item-base * $multiplier__item-subtitle)) * 0.6;
$size__legendary-section-height:                50rem;
$size__legendary-card-label-padding:            1.8rem;

$size__preview-img:                             (45rem, 45rem);
$multiplier__preview-img-two:                   1.8;
$size__preview-img-two:                         (nth($size__preview-img, 1) * $multiplier__preview-img-two, nth($size__preview-img, 2));
$size__preview-video:                           (64rem);
$size__preview-video:                           append($size__preview-video, nth($size__preview-video, 1) * 0.5625, comma); // Because you can't reference a list before it being created, the height needs to be calculated seperately then appended.
$size__preview-audio:                           (32rem, auto);

$size__hero-icon:                               (112px, 100px);

$z-index: (
  modal: 1000,
  above-most: 500,
  credits: 10,
  above-content: 5,
  content: 0
);

$item-types: (
  skins: (
    aliases: (skins),
    preview: (
      type: img
    )
  ),
  victoryposes: (
    aliases: (victoryposes, poses),
    preview: (
      type: img
    )
  ),
  emotes: (
    aliases: (emotes),
    preview: (
      type: video,
      width: 40rem,
      height: 40rem
    )
  ),
  icons: (
    aliases: (icons),
    preview: (
      type: img,
      width: 18rem,
      height: 18rem
    )
  ),
  voicelines: (
    aliases: (voicelines),
    preview: (
      type: audio
    )
  ),
  sprays: (
    aliases: (sprays),
    preview: (
      type: img,
      width: 26rem,
      height: 26rem
    )
  ),
  intros: (
    aliases: (intros),
    preview: (
      type: video
    )
  ),
  weapons: (
    aliases: (weapons),
    preview: (
      type: img
    )
  )
);
