$overwatch-heading-text-shadow:                 '1px 2px 3px rgba(51, 51, 51, 0.5)';
$overwatch-locked-item-opacity:                 0.27;

$size__body-min-width:                          80rem !default;

$size__gutter:                                  1.8rem !default;
$size__gutter--sm:                              $size__gutter / 2;

$size__navigation-height:                       4.5rem;
$size__credits-total-container:                 5.4rem;
$size__progress-bar-height:                     3.6rem;
$size__header-height:                           14rem;
$size__calculated-total-header-height:          $size__navigation-height + $size__header-height + $size__progress-bar-height;

$size__item-base:                               1em;
$size__item-spacing:                            $size__gutter / 2;
$multiplier__item-subtitle:                     0.875;
$size__item-checkbox:                           ($size__item-base + ($size__item-base * $multiplier__item-subtitle)) * 0.6;
$size__legendary-section-height:                50rem;
$size__legendary-card-label-padding:            1.8rem;

$size__preview-img:                             (45rem, 45rem);
$multiplier__preview-img-two:                   1.8;
$size__preview-img-two:                         (nth($size__preview-img, 1) * $multiplier__preview-img-two, nth($size__preview-img, 2));
$size__preview-video:                           (64rem);
$size__preview-video:                           append($size__preview-video, nth($size__preview-video, 1) * 0.5625, comma); // Because you can't reference a list before it being created, the height needs to be calculated seperately then appended.
$size__preview-audio:                           (32rem, auto);

$size__hero-icon:                               (112px, 100px);

$gallery-block-skew-angle:                      -10deg;
$text-skew-angle:                               -10deg;

$z-index: (
  modal: 1000,
  above-most: 500,
  credits: 10,
  above-content: 5,
  content: 0
);

$events-additional: (
  SUMMER_GAMES: (
    properties: (
      background-position: center 37%
    )
  ),
  HALLOWEEN: (
    properties: (
      background-position: center 27%
    )
  ),
  WINTER_WONDERLAND: (
    properties: (
      background-position: center 70%
    )
  ),
  UPRISING: (
    properties: (
      background-position: center 18%
    )
  ),
  ANNIVERSARY: (
    properties: (
      background-position: center center
    )
  )
);

$heroes-additional: (
  all: (
    properties: (
      background-position: center 58%
    )
  ),
  ana: (
    properties: (
      background-position: center 12%
    )
  ),
  brigitte: (
    properties: (
      background-position: center 20%
    )
  ),
  dva: (
    properties: (
      background-position: center 48%
    )
  ),
  doomfist: (
    properties: (
      background-position: center 12%
    )
  ),
  genji: (
    properties: (
      background-position: center 10%
    )
  ),
  junkrat: (
    properties: (
      background-position: center 4%
    )
  ),
  mccree: (
    properties: (
      background-position: center 12%
    )
  ),
  mei: (
    properties: (
      background-position: center 10%
    )
  ),
  mercy: (
    properties: (
      background-position: center 9%
    )
  ),
  moira: (
    properties: (
      background-position: center 18%
    )
  ),
  orisa: (
    properties: (
      background-position: center 25%
    )
  ),
  pharah: (
    properties: (
      background-position: center 15%
    )
  ),
  reaper: (
    properties: (
      background-position: center 22%
    )
  ),
  reinhardt: (
    properties: (
      background-position: center 30%
    )
  ),
  roadhog: (
    properties: (
      background-position: center 20%
    )
  ),
  soldier-76: (
    properties: (
      background-position: center 9%
    )
  ),
  sombra: (
    properties: (
      background-position: center 33%
    )
  ),
  symmetra: (
    properties: (
      background-position: center 11%
    )
  ),
  torbjorn: (
    properties: (
      background-position: center 21%
    )
  ),
  tracer: (
    properties: (
      background-position: center 12%
    )
  ),
  widowmaker: (
    properties: (
      background-position: center 12%
    )
  ),
  winston: (
    properties: (
      background-position: center 40%
    )
  ),
  zarya: (
    properties: (
      background-position: center 13%
    )
  ),
  zenyatta: (
    properties: (
      background-position: center 18%
    )
  )
);

$item-types: (
  skins: (
    aliases: (skins),
    preview: (
      type: img
    )
  ),
  victoryposes: (
    aliases: (victoryposes, poses),
    preview: (
      type: img
    )
  ),
  emotes: (
    aliases: (emotes),
    preview: (
      type: video,
      width: 40rem,
      height: 40rem
    )
  ),
  icons: (
    aliases: (icons),
    preview: (
      type: img,
      width: 18rem,
      height: 18rem
    )
  ),
  voicelines: (
    aliases: (voicelines),
    preview: (
      type: audio
    )
  ),
  sprays: (
    aliases: (sprays),
    preview: (
      type: img,
      width: 26rem,
      height: 26rem
    )
  ),
  intros: (
    aliases: (intros),
    preview: (
      type: video
    )
  ),
  weapons: (
    aliases: (weapons),
    preview: (
      type: img
    )
  )
);
