@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes slideInX {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.section {
  break-inside: avoid;
  page-break-inside: avoid;
  margin: 18px 9px;
  background-color: #f0edf2;
  border-radius: 3px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding: 0 12px 12px 12px;
}

.section-header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  background-color: #c6cbde;
  margin: 0 -12px;
  display: flex;
}

.section-header h2 {
  padding: 0.8em;
  color: #405275;
  font-family: Futura, century gothic, arial, sans-serif;
  font-size: 1.4rem;
  font-style: normal;
  text-transform: uppercase;
  vertical-align: middle;
  flex: 1;
}

.section-header .options {
  padding: 0.8em;
}

.section .item {
  display: flex;
  align-items: center;
  font-family: Futura, century gothic, arial, sans-serif;
  text-transform: uppercase;
  margin-top: 12px;
  position: relative;
}

.section .item input {
  height: 20px;
  margin: 0;
  cursor: pointer;
  min-width: 20px;
}

.section .item label {
  width: 100%;
  cursor: pointer;
  display: flex;
  padding-left: 6px;
}

.section .item h3 {
  font-family: Futura, century gothic, arial, sans-serif;
  text-transform: uppercase;
}

.section .item small {
  margin-left: 4px;
}


.section-header h2:before {
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
  margin-right: 0.6em;
  vertical-align: text-bottom;
  background-position: center;
}

#skins h2:before,
#epic-skins h2:before {
  background-image: url(resources/icons/item-types/epic-skins.svg);
}

#icons h2:before {
  background-image: url(resources/icons/item-types/player-icons.svg);
}

#voicelines h2:before {
  background-image: url(resources/icons/item-types/voice-lines.svg);
}

#sprays h2:before {
  background-image: url(resources/icons/item-types/sprays.svg);
}

#emotes h2:before {
  background-image: url(resources/icons/item-types/emotes.svg);
}

#intros h2:before,
#highlight-intros h2:before {
  background-image: url(resources/icons/item-types/highlight-intros.svg);
}

#poses h2:before,
#victoryposes h2:before {
  background-image: url(resources/icons/item-types/victory-poses.svg);
}


/* HERO HEADER */
#hero-container #hero-header {
  margin-top: -110px;
  margin-left: -9px;
  margin-right: -9px;
  position: relative;
}

#hero-container .hero-overview {
  justify-content: flex-start;
  min-height: 270px;
  background-size: cover;
  background-color: #2d2d2b;
  transition: background-image 2s ease-in-out;
  display: flex;
}

body#all #hero-container .hero-overview {
  background-image: url(resources/allclass.jpg);
  background-position: 50% 62%;
}

body#ana #hero-container .hero-overview {
  background-image: url(resources/heroes/ana/background-story.jpg);
  background-position: 50% 14%;
}

body#bastion #hero-container .hero-overview {
  background-image: url(resources/heroes/bastion/background-story.jpg);
  background-position: 50% 6%;
}

body#dva #hero-container .hero-overview {
  background-image: url(resources/heroes/dva/background-story.jpg);
  background-position: 50% 44%;
}

body#genji #hero-container .hero-overview {
  background-image: url(resources/heroes/genji/background-story.jpg);
  background-position: 50% 15%;
}

body#hanzo #hero-container .hero-overview {
  background-image: url(resources/heroes/hanzo/background-story.jpg);
  background-position: 50% 2%;
}

body#junkrat #hero-container .hero-overview {
  background-image: url(resources/heroes/junkrat/background-story.jpg);
  background-position: 50% 5%;
}

body#lucio #hero-container .hero-overview {
  background-image: url(resources/heroes/lucio/background-story.jpg);
  background-position: 50% 5%;
}

body#mccree #hero-container .hero-overview {
  background-image: url(resources/heroes/mccree/background-story.jpg);
  background-position: 50% 13%;
}

body#mei #hero-container .hero-overview {
  background-image: url(resources/heroes/mei/background-story.jpg);
  background-position: 50% 15%;
}

body#mercy #hero-container .hero-overview {
  background-image: url(resources/heroes/mercy/background-story.jpg);
  background-position: 50% 10%;
}

body#orisa #hero-container .hero-overview {
  background-image: url(resources/heroes/orisa/background-story.jpg);
  background-position: 50% 33%;
}

body#pharah #hero-container .hero-overview {
  background-image: url(resources/heroes/pharah/background-story.jpg);
  background-position: 50% 16%;
}

body#reaper #hero-container .hero-overview {
  background-image: url(resources/heroes/reaper/background-story.jpg);
  background-position: 50% 20%;
}

body#reinhardt #hero-container .hero-overview {
  background-image: url(resources/heroes/reinhardt/background-story.jpg);
  background-position: 50% 32%;
}

body#roadhog #hero-container .hero-overview {
  background-image: url(resources/heroes/roadhog/background-story.jpg);
  background-position: 50% 25%;
}

body#soldier-76 #hero-container .hero-overview {
  background-image: url(resources/heroes/soldier-76/background-story.jpg);
  background-position: 50% 8%;
}

body#sombra #hero-container .hero-overview {
  background-image: url(resources/heroes/sombra/background-story.jpg);
  background-position: 50% 37%;
}

body#symmetra #hero-container .hero-overview {
  background-image: url(resources/heroes/symmetra/background-story.jpg);
  background-position: 50% 7%;
}

body#torbjorn #hero-container .hero-overview {
  background-image: url(resources/heroes/torbjorn/background-story.jpg);
  background-position: 50% 28%;
}

body#tracer #hero-container .hero-overview {
  background-image: url(resources/heroes/tracer/background-story.jpg);
  background-position: 50% 13%;
}

body#widowmaker #hero-container .hero-overview {
  background-image: url(resources/heroes/widowmaker/background-story.jpg);
  background-position: 50% 13%;
}

body#winston #hero-container .hero-overview {
  background-image: url(resources/heroes/winston/background-story.jpg);
  background-position: 50% 42%;
}

body#zarya #hero-container .hero-overview {
  background-image: url(resources/heroes/zarya/background-story.jpg);
  background-position: 50% 12%;
}

body#zenyatta #hero-container .hero-overview {
  background-image: url(resources/heroes/zenyatta/background-story.jpg);
  background-position: 50% 18%;
}

  #hero-container .hero-overview .hero-class,
  #hero-container .hero-overview .hero-image {
    display: none;
  }

  #hero-container .hero-overview .hero-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #hero-container .hero-overview .hero-name {
    font-size: 120px;
    color: #fff;
    text-indent: 43px; /* 45px - 3px for the weird spacing */
    animation-name: slideInX;
    animation-iteration-count: 1;
    animation-timing-function: ease-out;
    animation-duration: 1s;
    font-style: italic;
    text-shadow: 0 0 25px rgba(0,0,0,0.3);
    margin-top: 14px; /* This is an offset to account for the weird line height in the font used */
  }

    #hero-container .hero-name:after {
      content: "";
      background-size: 28px;
      display: inline-block;
      vertical-align: text-top;
      margin-left: 14px;
      margin-top: 6px;
      height: 28px;
      width: 28px;
      border: 2px solid rgba(255,255,255,0.4);
      border-radius: 50%;
      overflow: visible;
      padding: 12px;
      background-position: center;
      background-repeat: no-repeat;
      box-sizing: content-box;
    }

    body#all .hero-name:after {
      background-image: url(../../../resources/logo.svg);
    }

    body#genji .hero-name:after,
    body#mccree .hero-name:after,
    body#pharah .hero-name:after,
    body#reaper .hero-name:after,
    body#soldier-76 .hero-name:after,
    body#sombra .hero-name:after,
    body#tracer .hero-name:after {
      background-image: url(resources/icons/roles/offense.svg);
    }

    body#bastion .hero-name:after,
    body#hanzo .hero-name:after,
    body#junkrat .hero-name:after,
    body#mei .hero-name:after,
    body#torbjorn .hero-name:after,
    body#widowmaker .hero-name:after {
      background-image: url(resources/icons/roles/defence.svg);
    }

    body#dva .hero-name:after,
    body#orisa .hero-name:after,
    body#reinhardt .hero-name:after,
    body#roadhog .hero-name:after,
    body#winston .hero-name:after,
    body#zarya .hero-name:after {
      background-image: url(resources/icons/roles/tank.svg);
    }

    body#ana .hero-name:after,
    body#lucio .hero-name:after,
    body#mercy .hero-name:after,
    body#symmetra .hero-name:after,
    body#zenyatta .hero-name:after {
      background-image: url(resources/icons/roles/support.svg);
    }


  #hero-container #hero-header .hero-progress {
    height: 36px;
    top: 234px; /* 270px, height of the header, minus the height of the progress bar */
    left:0;
    right: 0;
    background: rgba(0,0,0,0.4);
    text-align: center;
    position: absolute;
  }

    #hero-container #hero-header .hero-progress .hero-progress-bar {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      border-radius: 0;
      border-top: 0;
      transition: width .8s ease-in-out;
    }

    #hero-container #hero-header .hero-progress span {
      line-height: 36px;
      font-family: Futura, century gothic, arial, sans-serif;
      font-size: 16px;
      text-transform: uppercase;
      display: block;
      position: relative;
      color: #fff;
      text-shadow: 1px 1px 2px rgb(54, 54, 54);
    }

  #hero-container #hero-header .options {
    position: absolute;
    top: 190px;
    right: 9px;
    font-size: 18px;
    display: flex;
    align-items: center;
  }

  #hero-container #hero-header .toggle-grid {
    display: none;
  }

  #all #hero-container #hero-header .toggle-grid {
    display: inline-block;
  }

  #hero-container #hero-header .btn {
    color: #fff;
    border: 1px solid #fff;
    background-color: transparent;
    padding: 7px 13px 6px;
    font-size: 0.8em;
    font-family: Futura, century gothic, arial, sans-serif;
    text-transform: uppercase;
    margin-left: 9px;
  }

  #all #hero-container #hero-header .btn {
    background-color: rgba(0,0,0,0.4);
  }

    #hero-container #hero-header .btn:hover,
    #all #hero-container #hero-header .btn:hover,
    #hero-container #hero-header .btn:focus,
    #all #hero-container #hero-header .btn:focus,
    #hero-container #hero-header .btn-group.open .dropdown-toggle,
    #all #hero-container #hero-header .btn-group.open .dropdown-toggle {
      background-color: #fff;
      color: #333;
      box-shadow: none;
    }

    #hero-container #hero-header .options .btn-group .dropdown-menu li label[for="SUMMER_GAMES_2016"],
    #hero-container #hero-header .options .btn-group .dropdown-menu li label[for="HALLOWEEN_2016"],
    #hero-container #hero-header .options .btn-group .dropdown-menu li label[for="WINTER_WONDERLAND_2016"],
    #hero-container #hero-header .options .btn-group .dropdown-menu li label[for="YEAR_OF_THE_ROOSTER_2017"],
    #hero-container #hero-header .options .btn-group .dropdown-menu li label[for="UPRISING_2017"] {
      padding-left: 30px;
    }

    #hero-container #hero-header .options .btn-group .dropdown-menu li label[for="SUMMER_GAMES_2016"]:before,
    #hero-container #hero-header .options .btn-group .dropdown-menu li label[for="HALLOWEEN_2016"]:before,
    #hero-container #hero-header .options .btn-group .dropdown-menu li label[for="WINTER_WONDERLAND_2016"]:before,
    #hero-container #hero-header .options .btn-group .dropdown-menu li label[for="YEAR_OF_THE_ROOSTER_2017"]:before,
    #hero-container #hero-header .options .btn-group .dropdown-menu li label[for="UPRISING_2017"]:before {
      content: "";
      width: 25px;
      height: 25px;
      position: absolute;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      position: absolute;
      left: 12px;
      margin-top: -2px;
    }

    #hero-container #hero-header .options .btn-group .dropdown-menu li label[for="SUMMER_GAMES_2016"]:before {
      background-image: url(resources/icons/events/SUMMER_GAMES_2016.svg);
    }

    #hero-container #hero-header .options .btn-group .dropdown-menu li label[for="HALLOWEEN_2016"]:before {
      background-image: url(resources/icons/events/HALLOWEEN_2016.svg);
    }

    #hero-container #hero-header .options .btn-group .dropdown-menu li label[for="WINTER_WONDERLAND_2016"]:before {
      background-image: url(resources/icons/events/WINTER_WONDERLAND_2016.svg);
    }

    #hero-container #hero-header .options .btn-group .dropdown-menu li label[for="YEAR_OF_THE_ROOSTER_2017"]:before {
      background-image: url(resources/icons/events/YEAR_OF_THE_ROOSTER_2017.svg);
    }

    #hero-container #hero-header .options .btn-group .dropdown-menu li label[for="UPRISING_2017"]:before {
      background-image: url(resources/icons/events/UPRISING_2017.svg);
    }

  #hero-container #hero-header .currentfilter {
    font-size: 15px;
    font-family: Futura, century gothic, arial, sans-serif;
    text-transform: uppercase;
    color: #fff;
    background: rgb(255, 165, 0);
    padding: 9px 12px;
    display: block;
    margin: 18px;
    margin-bottom: 0;
  }





/* If an item has an Event & Achivement Icons */
#hero-container .hero-items .item[event]:not([event="none"]):before,
#hero-container .hero-items .item[achievement]:not([achievement="false"]):before {
  right: 29px;
}

#hero-container .item[event][achievement]:not([event="none"]):not([achievement="false"]) {
  padding-right: 49px;
}


/* Event Icons */
#hero-container .hero-items .item[event="HALLOWEEN_2016"]:after {
  background-image: url(resources/icons/events/HALLOWEEN_2016.svg);
}

#hero-container .hero-items .item[event="SUMMER_GAMES_2016"]:after {
  background-image: url(resources/icons/events/SUMMER_GAMES_2016.svg);
}

#hero-container .hero-items .item[event="WINTER_WONDERLAND_2016"]:after {
  background-image: url(resources/icons/events/WINTER_WONDERLAND_2016.svg);
}

#hero-container .hero-items .item[event="YEAR_OF_THE_ROOSTER_2017"]:after {
  background-image: url(resources/icons/events/YEAR_OF_THE_ROOSTER_2017.svg);
}

#hero-container .hero-items .item[event="UPRISING_2017"]:after {
  background-image: url(resources/icons/events/UPRISING_2017.svg);
}


/* Achivement Icons */

.item[achievement="true"]:after,
#hero-container .item:not([event="none"]):not([achievement="false"]):before {
  background-image: url(resources/icons/achievement.svg);
}


#hero-container .hero-items {
  -webkit-column-width: 530px;
  -moz-column-width: 530px;
  column-width: 530px;
  -webkit-column-gap: 0;
  -moz-column-gap: 0;
  column-gap: 0;
  padding-top: 18px;
}

#all #hero-container .hero-items, #hero-container.filtering .hero-items {
    -webkit-column-width: 700px;
    -moz-column-width: 700px;
    column-width: 700px;
    column-count: 2;
    -webkit-column-count: 0;
    -moz-column-count: 0;
}

#hero-container .hero-items .section:first-child {
  margin-top: 0;
}


#hero-container .section-header .options {
    padding: 0.8em;
}

#hero-container .section-header .options .btn {
    padding: 6px;
}

#hero-container .hero-items #sprays .item:nth-of-type(odd) {
    margin-right: 12px;
}

#hero-container .hero-items #sprays .item,
#all .hero-items #icons .item {
    width: calc(50% - 6px);
    display: inline-flex;
}


/* ALL CLASS */

#all .hero-items #icons .item {
  width: calc(33% - 6px);
  margin-right: 12px;
}

#all .hero-items #icons .item:nth-of-type(3n+3) {
  margin-right: 0
}


/* GRID */

#hero-container .hero-grid .section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2em;
  padding: 0;
  background: none;
  overflow: visible;
}

#hero-container .hero-grid .section .section-header {
  width: 100%;
  margin: 0;
  background: none;
}

#hero-container .hero-grid .section .section-header h2 {
  font-size: 4rem;
  font-family: inherit;
  font-style: italic;
  color: #fff;
  padding: 0;
  border-bottom: 6px solid rgba(240,237,242,.3);
  margin-bottom: 0.2em;
  padding-bottom: 0.2em;
}

#hero-container .hero-grid .section .section-header h2:before {
  display: none;
}

#hero-container .hero-grid .section .section-header h2 small {
  color: rgba(255,255,255,0.5);
}

#hero-container .hero-grid .item {
  display: inline-block;
  margin: 3px;
  width: 100px;
  height: 100px;
  text-align: center;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 100ms ease-in-out, opacity 150ms ease-in-out;
  opacity: 0;
  transform: scale(0);
  cursor: pointer;
  position: relative;
}

#hero-container .hero-grid .item.show {
  transform: scale(1);
  opacity: 1;
}

#hero-container .hero-grid #sprays .item {
  width: 130px;
  height: 130px;
}

#hero-container .hero-grid .item:not(.selected) {
  opacity: 0.4;
}

#hero-container .hero-grid .item:not(.selected):before {
  content: "";
  background-image: url(resources/icons/lock.svg) !important;
  width: 26px;
  height: 26px;
  position: absolute;
  bottom: 1px;
  right: 1px;
  background-size: contain;
}

#hero-container .hero-grid .item {
  border-radius: 6px;
  overflow: hidden;
  border: 3px solid rgba(255, 255, 255, 0.6);
}

#hero-container .hero-grid .item:hover {
  transform: scale(1.1) !important;
  opacity: 1;
}

#hero-container .hero-grid .item.pulse:hover {
  transform: scale(1.2) !important;
}
