// Get data first
@import "../../global/global";
// Import all the variables, mixins, etc.
@import
  "include/config/colors",
  "include/config/config",
  "include/config/typography",
  "include/config/functions",
  "include/config/mixins"
;
@import
  "include/override-bootstrap",
  "include/animations",
  "include/home",
  "include/header",
  "include/credits",
  "include/nav",
  "include/progress",
  "include/heroes",
  "include/events",
  "include/sections",
  "include/previews",
  "include/hero__icon-grid",
  "include/overrides",
  "include/sidebar",
  "include/dropdowns",
  "include/modals",
  "include/loader"
;

body {
  min-width: $body-width;
  transition: opacity 100ms ease-in-out;
  background: no-repeat left $total-header-height/cover #3e4f6f url('resources/bg.png');
  font-family: $font__base;
  color: $color__default-text;
  font-size: 10px; // Define 1rem = 10px. Makes everything else easy and now a bootstrap upgrade won't make everything big...
}

h1 {
  font-family: $font__big-noodle;
}

#home,
#hero-container,
#event-container {
  margin-top: -($header-height + $credit-container-height);
  position: relative;
  width: 100%;
  display: inline-block;
}

#home-header,
#hero-header,
#event-header {
  min-height: $total-header-height;
  width: 100%;
  padding-top: $header-height;
  background-size: cover;
  position: relative;
}

#home-header {
  background-image: url('resources/home/bg.jpg');
  margin-bottom: 4.5rem;
}

.hero-items {
  padding: $gutter-width;
}
