// Get data first
@import "../../global/global";
@import
  "include/overrides-resets",
  "include/variables-mixins-functions",
  "include/animations",
  "include/base",
  "include/header",
  "include/credits",
  "include/nav",
  "include/progress",
  "include/heroes",
  "include/events",
  "include/sections",
  "include/sidebar",
  "include/modals"
;

#home,
#hero-container,
#event-container {
  margin-top: -($header-height + $credit-container-height);
  position: relative;
  width: 100%;
  display: inline-block;
}

#home-header,
#hero-header,
#event-header {
  min-height: $total-header-height;
  width: 100%;
  padding-top: $header-height;
  background-size: cover;
  position: relative;
}

#home-header {
  background-image: url('resources/home/bg.jpg');
  margin-bottom: 3.5rem;
}

.hero-items {
  padding: $gutter-width;
}
