// Overrides and Resets
@import
  "include/overrides-resets",
  "include/variables-mixins-functions",
  "include/animations",
  "include/base",
  "include/header",
  "include/credits",
  "include/nav",
  "include/progress",
  "include/heroes",
  "include/events",
  "include/sidebar",
  "include/modals"
;

#home,
#hero-container,
#event-container {
  margin-top: -($header-height + $credit-container-height);
  position: relative;
  width: 100%;
  display: inline-block;
}

#event-container::before {
  content: "";
  display: inline-block;
  z-index: -1;
}

#hero-header,
#event-container::before {
  min-height: $total-header-height;
  width: 100%;
  padding-top: $header-height;
  background-size: cover;
  position: relative;
}
