<div id="settings" class="about">
  <div class="modal-header">
      <h2 class="modal-title"><span uib-tooltip="Boop" tooltip-placement="right">About Overwatch Item Tracker</span></h2>
  </div>
  <div class="modal-body" id="modal-body">
    <div class="setting">
      <p>Overwatch Item Tracker is a website designed to let you track new items added to Overwatch for each event. It allows you to mark items as selected so you know what you have collected and what you still need to collect, it also shows previews of all the new items apart from voice lines</p>
      <br />
      <p>Initial Design by Lalato &amp; Izzepizze on <a href="https://www.reddit.com/r/Overwatch/comments/59bo66">Reddit</a>, Site made by Js41637</p>
    </div>
    <div class="setting">
      <h3>Credits</h3>
      <ul>
        <li><a target="_blank" href="https://angularjs.org/">AngularJS</a> The Javascript framework to end all Javascript frameworks</li>
        <li><a target="_blank" href="https://angular-ui.github.io/bootstrap/">UI Bootstrap</a> Powers this modal and the tooltips!</li>
        <li><a target="_blank" href="http://getbootstrap.com/">Bootstrap</a> Has pretty nice looking modals, buttons and tooltips!</li>
        <li><a target="_blank" href="https://playoverwatch.com/">Overwatch</a> It's an ok game</li>
        <li><a target="_blank" href="https://github.com/">Github</a> The home of open source</li>
        <li><a target="_blank" href="https://reddit.com/r/overwatch/">/r/overwatch</a> and the awesome people there</li>
        <li><a target="_blank" href="http://overwatch.wikia.com/wiki/Overwatch_Wiki">Overwatch Wikia</a></li>
        <li><a target="_blank" href="http://overwatch.gamepedia.com/Overwatch_Wiki">Overwatch Gamepedia</a></li>
        <li><a target="_blank" href="https://owdev.wiki">Overtool</a></li>
      </ul>
    </div>
    <div class="setting">
      <h3>Contributing</h3>
      <p>Want to contribute to Overwatch Item Tracker and help make Overwatch tracking great again? Check us out on Github at: <br /><a target="_blank" href="https://github.com/Js41637/Overwatch-Item-Tracker">https://github.com/Js41637/Overwatch-Item-Tracker</a></p>
    </div>
  </div>
  <div class="copyright">
    This site is not affiliated with Blizzard. <br />
    ©2017 Blizzard Entertainment, Inc. All rights reserved.
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="settings.close()">Close</button>
  </div>
</div>
