<div id="settings" class="about">
  <div class="modal-header">
    <div class="close glyphicon glyphicon-remove" ng-click="$close()"></div>
    <h2 class="modal-title"><span>{{message}}</span></h2>
  </div>
  <div class="modal-body" ng-show="submessage">
    <p>{{submessage}}</p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-danger" style="width: 100px;" ng-click="$close(true)">Yes</button>
    <button class="btn btn-primary"style="width: 100px;" ng-click="$close()">No</button>
  </div>
</div>
