<div id="settings">
  <div class="modal-header">
    <div class="close glyphicon glyphicon-remove" ng-click="settings.close()"></div>
    <h2 class="modal-title">Settings</h2>
  </div>
  <div class="modal-body" id="modal-body">
    <uib-tabset justified="true">
      <uib-tab index="0" heading="General Settings">
        <!--<div class="setting">
          <h3>Particles</h3>
          <p>Disable or enable particles (snow effect) on the page</p>
          <div class="btn btn-primary" ng-click="settings.toggleSetting('particles')">{{::settings.particles ? 'Disable' : 'Enable'}}</div>
        </div>-->
        <div class="setting">
          <h3>Select All Items</h3>
          <p>Marks all items for every event as selected</p>
          <div class="btn btn-primary" ng-click="settings.selectAll()">Select Everything!</div>
        </div>
        <div class="setting">
          <h3>Count Icons as part of total</h3>
          <p>Toggles icons being counted towards the total items for a hero (as it is ingame)</p>
          <div class="btn btn-primary" ng-click="settings.toggleSetting('countIcons', true)">{{settings.countIcons ? "Don't count icons" : 'Count icons'}}</div>
        </div>
        <div class="setting">
          <h3>Show Previews</h3>
          <p>Disable or enable showing previews of items (sprays, emotes, etc...)</p>
          <div class="btn btn-primary" ng-click="settings.toggleSetting('showPreviews', true)">{{settings.showPreviews ? 'Disable' : 'Enable'}}</div>
        </div>
        <div class="setting">
          <h3>HD Videos</h3>
          <p>Disable or enable showing HD videos of Highlight Intros and Emotes</p>
          <div class="btn btn-primary" ng-click="settings.toggleSetting('hdVideos')">{{settings.hdVideos ? 'Disable' : 'Enable'}}</div>
        </div>
        <div class="setting">
          <h3>Audio Volume</h3>
          <p>Set the volume at which videos and audio is played at (default 50%)</p>
          <div class="range-input">
            <input type="range" min="0.0" max="1.0" step="0.1" ng-change="settings.setVolume()" ng-model="settings.audioVolume" value="{{settings.audioVolume}}" />
            <span>{{settings.audioVolume * 100}}%</span>
          </div>
        </div>
      </uib-tab>
      <uib-tab index="1" heading="Import / Export / Backup">
        <div class="setting">
          <h3>Google Drive <small ng-show="settings.googleSignedIn">Signed in as {{settings.googleUser.getName() || 'NO_NAME'}} ({{settings.googleUser.getEmail() || 'NO_EMAIL'}})</small></h3>
          <p><strong>Experimental:</strong> Enable storing a copy of your Overwatch data on Google Drive</p>
          <div class="buttons" >
            <div class="btn btn-primary" ng-show="settings.googleSignedIn" ng-click="settings.googleSignOut()">Sign Out</div>
            <div class="btn btn-primary" ng-hide="settings.googleSignedIn" ng-click="settings.googleLogin()">Authorize</div>
            <div class="btn btn-primary" ng-show="settings.googleSignedIn" ng-click="settings.uploadToDrive()">Upload to Drive</div>
            <div class="btn btn-primary" ng-show="settings.googleSignedIn" ng-click="settings.downloadFromDrive()">Download from Drive</div>
            <div class="btn btn-primary" ng-show="settings.googleSignedIn" ng-click="settings.toggleSync()">{{settings.syncDisabled ? 'Enable Sync' : 'Disable Sync'}}</div>
          </div>
          <div class="alert alert-info" ng-show="settings.willEnableSync">Notice: Before sync is enabled you need to choose to either download from Google Drive or upload your current data to Google Drive. This is so sync doesn't accidently overwrite your data.</div>
          <div class="alert alert-{{settings.googleMessage[0]}}" ng-if="settings.googleMessage">{{settings.googleMessage[1]}}</div>

          <small>Enabling Google Drive Sync will make it so your data is automatically updated on Google Drive occasionally while you are on the site. NOTE: Sync is experimental and I am sorry if something goes terribly wrong. Remember to always keep a backup if you value your data!</small>
        </div>
        <div class="setting">
          <h3>Import/Export Data</h3>
          <p>Copy and paste this string into your other browser or store it in a file for backup. You can also input your export and import it with the overwrite button.</p>
          <div ng-hide="settings.importErrors == null || settings.importErrors == false" class="alert alert-danger">
            <strong>Error:</strong>
            <pre>{{settings.importErrors}}</pre>
          </div>
          <div ng-show="settings.importErrors == false" class="alert alert-success">
            <strong>Success:</strong>
            <pre>Everything looks good under da hood!</pre>
          </div>
          <textarea type="text" class="form-control" ng-model="settings.data" rows="10"></textarea>
          <div class="btn btn-primary" ng-click="settings.downloadJSON()">Download JSON</div>
          <div class="btn btn-primary" ng-click="settings.importData(settings.data, true)">Test Validity</div>
          <div class="btn btn-danger" ng-click="settings.importData(settings.data)">Overwrite data!</div>
        </div>
        <div class="setting">
          <h3>Reset Saved Data</h3>
          <p><strong>Warning!</strong> Doing this will reset all items you have selected</p>
          <div class="btn btn-danger" ng-click="settings.resetData()">Erase Data</div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
  <div class="modal-footer">
    <div class="btn btn-primary" ng-click="settings.close()">Close</div>
  </div>
</div>
