<div id="settings" class="themes">
  <div class="modal-header">
      <h2 class="modal-title"><span uib-tooltip="Boop" tooltip-placement="right">Themes</span></h2>
  </div>
  <div class="modal-body" id="modal-body">
    <div class="setting">
      <h3>Standard <span class="selected" ng-show="settings.currentTheme == 'standard'">Selected</span></h3>
      <p>The normal theme the site is made in</p>
      <div class="img" style="background-image: url('./css/sample.jpg')" ng-click="settings.selectTheme('standard')"></div>
      <div class="madeBy">Made by <a target="_blank" href="https://github.com/DirtDiglett">Js41637</a>, initial design by Lalato &amp; Izzepizze</div>
    </div>
    <div class="setting">
      <h3>Event Styled Layouts &amp; Heroic-themed<span class="selected"  ng-show="settings.currentTheme == 'dirtdiglett'">Selected</span></h3>
      <p>Changes the visual design of the layouts to represent the current event, and the hero pages to use more heroic hero imagery</p>
      <div class="img" style="background-image: url('./css/themes/dirtdiglett/sample.jpg')" ng-click="settings.selectTheme('dirtdiglett')"></div>
      <div class="madeBy">Made by <a target="_blank" href="https://github.com/DirtDiglett">DirtDiglett</a></div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="settings.close()">Close</button>
  </div>
</div>
