$classes: (
  damage,
  tank,
  support
);

// [id]: [filename]
$achievements: (
  true: 'achievement',
  blizzard: 'blizzard',
  bcrf: 'heart',
  owl: 'overwatch_league'
);

// Colors used for events are not official, just taken primarily from the logos.
$events: (
  ANNIVERSARY: (
    colors: (
      primary: #ff9c00, // The orange used from the logo seemed appropriate here.
      highlight: lighten(#ff9c00, 10%),
    )
  ),
  HALLOWEEN: (
    colors: (
      primary: #ecd53c,
      highlight: lighten(#ecd53c, 10%)
    )
  ),
  LUNAR_NEW_YEAR: (
    colors: (
      primary: #cd2807,
      highlight: lighten(#cd2807, 10%)
    )
  ),
  SUMMER_GAMES: (
    colors: (
      primary: #78c843,
      highlight: lighten(#78c843, 10%)
    )
  ),
  UPRISING: (
    colors: (
      primary: #00d1d5,
      highlight: lighten(#00d1d5, 10%)
    )
  ),
  WINTER_WONDERLAND: (
    colors: (
      primary: #e9f6ff,
      highlight: lighten(#e9f6ff, 10%)
    )
  )
);

$heroes: (
  all: (
    colors: (
      primary: #fa9c1e,
      highlight: #ffb757
    )
  ),
  ana: (
    colors: (
      primary: #ccc2ae,
      highlight: #dcd5c7
    )
  ),
  ashe: (
    colors: (
      primary: #3e3c3a,
      highlight: #7e7c7a
    )
  ),
  baptiste: (
    colors: (
      primary: #f08d35,
      highlight: #f08d35
    )
  ),
  bastion: (
    colors: (
      primary: #6e994d,
      highlight: #82af5f
    )
  ),
  brigitte: (
    background-position: (
      x: 0,
      y: 14%
    ),
    colors: (
      primary: #73342b,
      highlight: #914236
    )
  ),
  doomfist: (
    colors: (
      primary: #e04e34,
      highlight: #e56d57
    )
  ),
  dva: (
    colors: (
      primary: #ff7fd1,
      highlight: #ffa8e0
    )
  ),
  genji: (
    background-position: (
      x: 0,
      y: 10%
    ),
    colors: (
      primary: #84fe01,
      highlight: #98fe2a
    )
  ),
  hanzo: (
    colors: (
      primary: #938848,
      highlight: #ada057
    )
  ),
  junkrat: (
    colors: (
      primary: #d39308 ,
      highlight: #f5ac0f
    )
  ),
  lucio: (
    colors: (
      primary: #8bec22,
      highlight: #9ef048
    )
  ),
  mccree: (
    colors: (
      primary: #8d3939,
      highlight: #aa4545
    )
  ),
  mei: (
    colors: (
      primary: #9adbf4,
      highlight: #bfe8f8
    )
  ),
  mercy: (
    colors: (
      primary: #ffe16c,
      highlight: #ffea95
    )
  ),
  moira: (
    colors: (
      primary: #691ccf,
      highlight: #7e30e3
    )
  ),
  orisa: (
    colors: (
      primary: #dc9a00,
      highlight: #ffb405
    )
  ),
  pharah: (
    colors: (
      primary: #1b65c6,
      highlight: #2778e2
    )
  ),
  reaper: (
    colors: (
      primary: #272725,
      highlight: #3c3c39
    )
  ),
  reinhardt: (
    colors: (
      primary: #aa958e,
      highlight: #bbaba5
    )
  ),
  roadhog: (
    colors: (
      primary: #c09477,
      highlight: #cdaa93
    )
  ),
  soldier-76: (
    colors: (
      primary: #5870b6,
      highlight: #7588c3
    )
  ),
  sombra: (
    colors: (
      primary: #751b9c,
      highlight: #9021bf
    )
  ),
  symmetra: (
    colors: (
      primary: #5cecff,
      highlight: #85f1ff
    )
  ),
  torbjorn: (
    colors: (
      primary: #ff6200,
      highlight: #ff7b28
    )
  ),
  tracer: (
    colors: (
      primary: #f8911b,
      highlight: #faa443
    )
  ),
  widowmaker: (
    colors: (
      primary: #6f6fae,
      highlight: #8a8abd
    )
  ),
  winston: (
    colors: (
      primary: #4c505c,
      highlight: #5f6472
    )
  ),
  wrecking-ball: (
    colors: (
      primary: #ff751f,
      highlight: #ff8e47
    )
  ),
  zarya: (
    colors: (
      primary: #f571a8,
      highlight: #f897bf
    )
  ),
  zenyatta: (
    colors: (
      primary: #c79c00,
      highlight: #f0bc00
    )
  )
);
