@font-face {
  font-family: "Big Noodle Titling";
  src: local("BigNoodleTitling"), url($ROOT + '/fonts/big-noodle.woff') format("woff"), url($ROOT + '/fonts/big-noodle.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Big Noodle Titling";
  src: local("BigNoodleTitling"), url($ROOT + '/fonts/big-noodle-oblique.woff') format("woff"), url($ROOT + '/fonts/big-noodle-oblique.ttf') format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Futura;
  src: url($ROOT + '/fonts/futura.eot');
  src: url($ROOT + '/fonts/futura.woff') format("woff"), url($ROOT + '/fonts/futura.ttf') format("truetype");
  font-weight: 400;
  font-style: normal;
}
