<div id="row1" class="row">
  <div id="col1" class="col">
    <legendary-skins></legendary-skins>
  </div>
  <div id="col2" class="col space-between">
    <div id="voicelines" class="section flex-column x2">
      <div class="section-header">
        <h2>Voice Lines <small>75</small></h2>
      </div>
      <div class="items">
        <div class="item" ng-repeat="voice in ::data.items.voicelines track by $index">
          <input type="checkbox" id="{{'voice' + $index}}" ng-model="checked.voicelines[voice.id]" ng-change="onSelect()">
          <label for="{{'voice' + $index}}">
            <h3>{{::voice.hero}}</h3>
            <h4>{{::voice.name|translate}}</h4>
          </label>
        </div>
      </div>
    </div>
    <div id="icons" class="section flex-column x2">
      <div class="section-header">
        <h2>Player Icons</h2>
      </div>
      <div class="items">
        <div class="item" ng-repeat="icon in ::data.items.icons track by $index" ng-mouseover="showPreview(icon, 'icon')" ng-mouseleave="hidePreview()">
          <input type="checkbox" id="{{'icon' + $index}}" ng-model="checked.icons[icon.id]" ng-change="onSelect()">
          <label for="{{'icon' + $index}}">
            <h3>{{::icon.name|translate}}</h3>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="row2" class="row space-between">
  <div class="left">
    <div id="epic-skins" class="section">
      <div class="section-header">
        <h2>Epic Skins <small>750</small></h2>
      </div>
      <div class="items">
        <div class="item" ng-repeat="skin in ::data.items.skinsEpic track by $index" ng-mouseover="showPreview(skin)" ng-mouseleave="hidePreview()">
          <input type="checkbox" id="{{'epic' + $index}}" ng-model="checked.skinsEpic[skin.id]" ng-change="onSelect()">
          <label for="{{'epic' + $index}}">
            <h3>{{::skin.hero}}</h3>
            <h4>{{::skin.name|translate}}</h4>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="right">
    <div id="highlight-intros" class="section">
      <div class="section-header">
        <h2>Highlight Intros <small>750</small></h2>
      </div>
      <div class="items">
        <div class="item" ng-repeat="intro in ::data.items.intros track by $index" ng-mouseover="showPreview(intro)" ng-mouseleave="hidePreview()">
          <input type="checkbox" id="{{'intro' + $index}}" ng-model="checked.intros[intro.id]" ng-change="onSelect()">
          <label for="{{'intro' + $index}}">
            <h3>{{::intro.hero}}</h3>
            <h4>{{::intro.name|translate}}</h4>
          </label>
        </div>
      </div>
    </div>
    <div id="emotes" class="section">
      <div class="section-header">
        <h2>Emotes <small>750</small></h2>
      </div>
      <div class="items">
        <div class="item" ng-repeat="emote in ::data.items.emotes track by $index" ng-class="{legend: emote.legendary}" ng-mouseover="showPreview(emote)" ng-mouseleave="hidePreview()">
          <input type="checkbox" id="{{'emote' + $index}}" ng-model="checked.emotes[emote.id]" ng-change="onSelect()">
          <label for="{{'emote' + $index}}">
            <h3>{{::emote.hero}}</h3>
            <h4>{{::emote.name|translate}}</h4>
          </label>
        </div>
      </div>
    </div>
  </div>
  <div id="victoryposes" class="section flex-column x3">
    <div class="section-header">
      <h2>Victory Poses <small>225</small></h2>
    </div>
    <div class="items">
      <div class="item" ng-repeat="pose in ::data.items.poses track by $index" ng-mouseover="showPreview(pose)" ng-mouseleave="hidePreview()">
        <input type="checkbox" id="{{'pose' + $index}}" ng-model="checked.poses[pose.id]" ng-change="onSelect()">
        <label for="{{'pose' + $index}}">
          <h3>{{::pose.hero}}</h3>
          <h4>{{::pose.name|translate}}</h4>
        </label>
      </div>
    </div>
  </div>
  <div id="sprays" class="section flex-column x4">
    <div class="section-header">
      <h2>Sprays <small>75</small></h2>
    </div>
    <div class="items">
      <div class="item" ng-repeat="spray in ::data.items.sprays track by $index" ng-if="::!spray.id.includes('dragon-dance')" ng-mouseover="showPreview(spray, 'spray')" ng-mouseleave="hidePreview()">
        <input type="checkbox" id="{{'spray' + $index}}" ng-model="checked.sprays[spray.id]" ng-change="onSelect()">
        <label for="{{'spray' + $index}}">
          <h3>{{::spray.hero || spray.name|translate}}</h3>
          <h4 ng-if="spray.hero">{{::spray.name|translate}}</h4>
        </label>
      </div>
    </div>
  </div>
</div>
