<div ng-show="$ctrl.item.dates.end > $ctrl.currentDate" class="event-active">
  <h2>Event ends on {{$ctrl.item.dates.end | date:'MMM d'}} local time</h2>
  <h3>Be sure to get everything you want by {{$ctrl.item.dates.end - 86400000 | date:'MMM d'}} to be safe!</h3>
</div>
<div ng-show="$ctrl.item.dates.end < $ctrl.currentDate" class="event-ended">
  <h2>Event ended on {{$ctrl.item.dates.end | date:'MMM d yyyy'}}  local time</h2>
  <h3>These items should be available again around {{$ctrl.item.dates.start | date:'MMM d'}} next year</h3>
</div>
