<sub-header></sub-header>

<div id="hero-container">
  <div id="hero-header">
    <div class="hero-overview">
      <div class="hero-image">
        <img src="{{ hero.id | heroPortraitUrl }}" />
      </div>
      <div class="hero-info">
        <h2 class="hero-name">{{hero.name}}</h2>
        <h3 class="hero-class">{{hero.class}}</h2>
      </div>
    </div>
  </div>
  <div class="hero-items">
    <div ng-repeat="(type, items) in hero.items track by $index" id="{{type}}" class="section">
      <div class="section-header">
        <h2>{{type}}</h2>
      </div>
      <div class="item" class="{{item.quality || 'unknown'}}" event="{{item.event}}" achievement="{{item.achievement}}" ng-repeat="item in items track by $index">
        <input type="checkbox" id="{{type + item.id}}">
        <label for="{{type + item.id}}">
          <h3 class="color-{{item.quality}}">{{item.name}}</h3>
          <small class="color-cost">{{ item | itemPrice:type }}</small>
        </label>
      </div>
    </div>
  </div>
</div>
