<div id="legendary-skins" class="section">
  <div id="image-preview" scroll ng-class="{ show: preview, type: preview.type, fixed: isFixed }">
    <div class="preview" ng-show="preview.img" ng-class="{two: preview.dragonURL}">
      <div class="card {{preview.type || ''}}" lazy-background="{{preview.img}}">
        <div class="bg2"></div>
        <div class="bg">
          <div class="card-content">
            <h4 ng-if="preview.type == 'icon'" class="card-heading">Player Icon</h4>
            <h4 ng-if="preview.type != 'icon'" class="card-heading">{{preview.hero || 'All Heroes'}}</h4>
            <p class="card-copy">{{preview.name|translate}}</p>
          </div>
        </div>
      </div>

      <div class="card {{preview.type || ''}}" ng-if="preview.dragonURL" lazy-background="{{preview.dragonURL}}">
        <div class="bg2"></div>
        <div class="bg">
          <div class="card-content">
            <h4 class="card-heading">{{preview.hero}}</h4>
            <p class="card-copy">{{preview.name|translate}}</p>
          </div>
        </div>
      </div>
    </div>
    <div class="preview video" ng-if="preview.video">
      <div class="card {{preview.type || ''}}" lazy-background="{{preview.img}}">
        <div class="bg2"></div>
        <video autoplay="true" autostart="true" loop="true" src="{{preview.video}}"></video>
        <div class="bg">
          <div class="card-content">
            <h4 class="card-heading">{{preview.hero || 'All Heroes'}}</h4>
            <p class="card-copy">{{preview.name|translate}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="inner" ng-class="{ hide: preview }">
    <h2>Legendary Skins <small class="color-legendary">3000</small></h2>
    <div class="images">
      <div class="card" ng-repeat="skin in ::data.items.skinsLegendary track by $index" lazy-background="{{::skin.img}}">
        <input type="checkbox" id="{{'legendary' + $index}}" ng-model="checked.skinsLegendary[skin.id]" ng-change="onSelect()">
        <label for="{{'legendary' + $index}}" class="bg">
          <div class="card-content">
            <h4 class="card-heading">{{skin.hero}}</h4>
            <p class="card-copy">{{skin.name|translate}}</p>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>
