<div id="settings">
  <div class="modal-header">
      <h2 class="modal-title">Settings</h2>
  </div>
  <div class="modal-body" id="modal-body">
    <div class="setting">
      <h3>Reset Saved Data</h3>
      <p><strong>Warning!</strong> Doing this will reset all items you have selected</p>
      <button class="btn btn-danger" type="button" ng-click="settings.resetData()">Erase Data</button>
    </div>
    <div class="setting">
      <h3>Particles</h3>
      <p>Disable or enable particles (snow effect) on the page</p>
      <button class="btn btn-info" type="button" ng-click="settings.toggleParticles()">{{::settings.particles ? 'Disable' : 'Enable'}}</button>
    </div>
    <div class="setting">
      <h3>Select All Items</h3>
      <p>Marks all items for every event as selected</p>
      <button class="btn btn-info" type="button" ng-click="settings.selectAll()">Select Everything!</button>
    </div>
    <div class="setting">
      <h3>View Mode</h3>
      <p>Change how you want to view the list of items. Per Hero only works for Winter Wonderland 2016.</p>
      <div class="btn-group" uib-dropdown>
        <button id="view-mode-button" type="button" class="btn btn-info" uib-dropdown-toggle>
          {{settings.viewModes[settings.viewMode]}} <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="view-mode-button">
          <li role="menuitem" ng-repeat="(id, label) in settings.viewModes"><a href="#" ng-click="settings.saveViewMode(id)">{{label}}</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="settings.close()">Close</button>
  </div>
</div>
