<div id="sub-header">
  <div id="cost-remaining" tooltip-class="cost-remaining-tooltip" uib-tooltip-template="'costRemaining.html'" tooltip-placement="left">
    <img src="./resources/icons/currency.svg" /> <span count-to="{{cost.remaining}}" count-from="{{cost.prev}}"></span>
  </div>
  <script type="text/ng-template" id="costRemaining.html">
    <table>
      <tbody>
        <tr>
          <td>Cost to purchase remaining items:</td>
          <td>{{cost.remaining | number}}</td>
        </tr>
        <tr>
          <td>Cost to purchase selected items:</td>
          <td>{{cost.selected | number}}</td>
        </tr>
        <tr>
          <td>Cost to purchase all items:</td>
          <td>{{cost.total | number}}</td>
        </tr>
    </table>
  </script>
</div>
