<div id="settings" class="themes">
  <div class="modal-header">
      <h2 class="modal-title"><span uib-tooltip="Boop" tooltip-placement="right">Themes</span></h2>
  </div>
  <div class="modal-body" id="modal-body">
    <div class="setting" ng-click="settings.selectTheme('dirtdiglett')">
      <h3>Event Styled Layouts</h3>
      <p>Changes the visual design of the layouts to represent the current event</p>
      <img src="./css/themes/dirtdiglett/sample.jpg" />
      <span>Made By <a target="_blank" href="https://github.com/DirtDiglett">DirtDiglet</a></span>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="settings.close()">Close</button>
  </div>
</div>
