<div id="row1" class="row">
  <div id="col1" class="col">
    <div id="legendary-skins" class="section">
      <div id="image-preview" scroll ng-class="{ show: preview, small: preview.isSmall, fixed: isFixed }">
        <div class="preview" ng-show="preview.img" ng-class="{two: preview.ornamentURL}">
          <h2>Image Preview</h2> <span>{{preview.name}}</span>
          <div class="imgcont">
            <img src="{{preview.img}}" />
            <img ng-if="preview.ornamentURL" src="{{preview.ornamentURL}}" />
          </div>
        </div>
        <div class="preview" ng-if="preview.video">
          <h2>Video Preview</h2> <span>{{preview.name}}</span>
          <video autoplay="true" autostart="true" loop="true" src="{{preview.video}}"></video>
        </div>
      </div>
      <div class="inner" ng-class="{ hide: preview }">
        <h2>Legendary Skins</h2> <span>(3000 Coins)</span>
        <div class="images">
          <div class="item" ng-repeat="skin in data.items.skinsLegendary track by $index" style="background-image:url({{skin.img}});">
            <div class="thing">
              <input type="checkbox" id="{{'legendary' + $index}}" ng-model="checked.skinsLegendary[skin.id]" ng-change="onSelect()">
              <label for="{{'legendary' + $index}}"><h3 class="name">{{skin.name}} {{skin.hero}}</h3></label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="col2" class="col">
    <div id="voicelines" class="section">
      <h2>Voice Lines</h2> <span>(75 Coins)</span>
      <div class="items">
        <div class="item" ng-repeat="voice in data.items.voicelines track by $index">
          <input type="checkbox" id="{{'voice' + $index}}" ng-model="checked.voicelines[voice.id]" ng-change="onSelect()"> <label for="{{'voice' + $index}}"><h3>{{voice.hero}}</h3></label>
        </div>
      </div>
    </div>
    <div class="right">
      <div id="victoryposes" class="section">
        <h2>Victory Poses</h2> <span>(225 Coins)</span>
        <div class="items">
          <div class="item" ng-repeat="pose in data.items.poses track by $index" ng-mouseover="showPreview(pose)" ng-mouseleave="hidePreview()">
            <input type="checkbox" id="{{'pose' + $index}}" ng-model="checked.poses[pose.id]" ng-change="onSelect()"> <label for="{{'pose' + $index}}"><h3>{{pose.name}} {{pose.hero}}</h3></label>
          </div>
        </div>
      </div>
      <div id="icons" class="section">
        <h2>Player Icons</h2>
        <div class="items">
          <div class="item" ng-repeat="icon in data.items.icons track by $index" ng-mouseover="showPreview(icon, true)" ng-mouseleave="hidePreview()">
            <input type="checkbox" id="{{'icon' + $index}}" ng-model="checked.icons[icon.id]" ng-change="onSelect()"> <label for="{{'icon' + $index}}"><h3>{{icon.name}}</h3></label>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="row2" class="row">
  <div id="col1" class="col">
    <div class="left">
      <div id="epic-skins" class="section">
        <h2>Epic Skins</h2> <span>(750 Coins)</span>
        <div class="item" ng-repeat="skin in data.items.skinsEpic track by $index" ng-mouseover="showPreview(skin)" ng-mouseleave="hidePreview()">
          <input type="checkbox" id="{{'epic' + $index}}" ng-model="checked.skinsEpic[skin.id]" ng-change="onSelect()"> <label for="{{'epic' + $index}}"><h3>{{skin.name}} {{skin.hero}}</h3></label>
        </div>
      </div>
    </div>
    <div class="right">
      <div id="highlight-intros" class="section">
        <h2>Highlight Intros</h2> <span>(750 Coins)</span>
        <div class="item" ng-repeat="intro in data.items.intros track by $index" ng-mouseover="showPreview(intro)" ng-mouseleave="hidePreview()">
          <input type="checkbox" id="{{'intro' + $index}}" ng-model="checked.intros[intro.id]" ng-change="onSelect()"> <label for="{{'intro' + $index}}"><h3>{{intro.name}} {{intro.hero}}</h3></label>
        </div>
      </div>
      <div id="emotes" class="section">
        <h2>Emotes</h2> <span>(750 Coins)</span>
        <div class="item" ng-repeat="emote in data.items.emotes track by $index" ng-class="{legend: emote.legendary}" ng-mouseover="showPreview(emote)" ng-mouseleave="hidePreview()">
          <input type="checkbox" id="{{'emote' + $index}}" ng-model="checked.emotes[emote.id]" ng-change="onSelect()"> <label for="{{'emote' + $index}}"><h3>{{emote.name}} {{emote.hero}}</h3></label>
        </div>
      </div>
    </div>
  </div>
  <div id="col2" class="col">
    <div id="sprays" class="section">
      <h2>Sprays</h2> <span>(75 Coins)</span>
      <span id="ornamentinfo">
        <input type="checkbox" id="fakecb" style="display:none">
        <label for="fakecb" id="fakecheckbox"></label> <span> = Ornament Spray</span>
      </span>
      <span class="wot" tooltip-popup-delay="400" uib-tooltip="This event added two sprays for every character, the checkboxes are for the normal sprays and the circle boxes are for each characters 'Ornament' Spray">What's this?</span>
      <div class="items">
        <div class="item" ng-repeat="spray in data.items.sprays track by $index" ng-if="!spray.id.includes('ornament')" ng-mouseover="showPreview(spray)" ng-mouseleave="hidePreview()">
          <input type="checkbox" id="{{'spray' + $index}}" ng-model="checked.sprays[spray.id]" ng-change="onSelect()">
          <input ng-if="spray.hero" type="checkbox" class="orn" ng-if="spray.hero" id="{{'sprayorn' + $index}}" ng-model="checked.sprays[spray.ornamentID]" ng-change="onSelect()">
          <label ng-if="spray.hero" for="{{'sprayorn' + $index}}" class="ornl"></label>
          <label for="{{'spray' + $index}}">
            <h3>{{spray.hero ? spray.hero : spray.name}}</h3>
            <h4 ng-if="spray.hero">[{{spray.name}}]</h4>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
