#sub-header {
  position: sticky;
  height: $size__credits-total-container;
  top: 0;
  pointer-events: none;
  @include z-index(credits);

  #cost-remaining {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    background-color: $color__credit-total-background;
    border-bottom-left-radius: 0.5rem;
    padding: 0 1rem;
    min-width: 11rem;
    height: 100%;
    pointer-events: all;

    img {
      width: auto;
      height: $font__credits-total * 0.6;
    }

    span {
      margin-left: 0.5rem;
      font-size: $font__credits-total;
      letter-spacing: 0.3;
      line-height: 1;
      color: $color__credit-total-text;
      text-shadow: rgba($white, 0.3) 0 0 0.8rem;

      @include font(Big-Noodle);
      @include stroke(1px, 1px, rgba(0,0,0,0.025), '0 0 25px rgba(255, 255, 255, 0.3)');
    }
  }
}

.cost-remaining-tooltip .tooltip-inner {
  max-width: 100%;

  table tr {
    td {
      font-family: $font__monospace;
      font-weight: bold;
      text-align: right;

      &:first-of-type {
        font-weight: normal;
        padding-right: 1rem;
      }
    }
  }
}
