.dropdown-menu div[event] label::after {
  content: "";
  width: 1.5em;
  height: 1.5em;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  filter: brightness(0.55);
}

.dropdown-menu {
  box-shadow: 0 3px 12px rgba(37, 37, 37, 0.2);
  border-radius: 0.2rem;
  border: 0;
  padding: $size__gutter--sm 0;
  text-transform: uppercase;
  color: $shark;

  > li {
    > a {
      padding: 0.4rem $size__gutter;
      color: $shark;

      &:hover,
      &.active {
        color: $white;
        background-color: $azure-radiance;
      }

      &[ng-click] {
        cursor: pointer;
      }
    }

    div {
      display: flex;
      align-items: center;
      padding: 0.4rem $size__gutter;
    }

    input[type="checkbox"] {
      margin: 0;
      margin-right: 0.5rem;
      width: 1.8rem;
      height: 1.8rem;
    }

    label {
      flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
    }

    @each $event, $eventdata in $events {
      label[for="#{$event}"]::after {
        background-image: url($ROOT + '/resources/icons/#{$event}.svg');
      }
    }
  }

  .save-filters {
    padding: 0 $size__gutter--sm;

    .btn {
      display: block;
      width: 100%;
      text-transform: uppercase;
    }
  }
}

.dropdown-menu.filters {
  width: 25rem;
}
