#event-header {
  margin-bottom: $legendary-height + ($gutter-width * 2);
}

.header-content {
  height: $page-header-height;
  position: absolute;
  top: $header-height;
  left: ($page-header-height - ($page-title-font-size - 1rem)) / 2; // Matches the hero one.
  display: flex;
  align-items: center;
  margin-right: 11rem;

  @include page-title(event);

  .event-logo {
    height: $page-title-font-size;
    margin-right: ($page-header-height - ($page-title-font-size - 1rem)) / 2;
  }

  h2 {
    font-size: $page-title-font-size * 0.4;
  }
}


// Generate event-specific
@each $eventname, $data in $events {
  $colors: map-get($data, 'colors');

  body##{$eventname} #event-header,
  #hero-nav .gallery.event .block[href$="/#{$eventname}"] {
    background-image: url('resources/#{$eventname}/bg.jpg');
  }

  body##{$eventname} #event-header {
    @if map-has-key($events-additional, $eventname) {
      @include additionalProperties($events-additional, $eventname);
    }
  }

  .item[event="#{$eventname}"] + .tooltip .preview.img {
    background-image:
      url('resources/#{$eventname}/icon-bg.png'),
      url('resources/#{$eventname}/preview-bg.png');
  }
}


// Specific event override
#hero-nav .gallery.event .block[href$="/UPRISING"] .img,
body#UPRISING .header-content::before {
  background-image: url('/resources/updates/UPRISING/archives_logo.png') !important;
}

body#UPRISING {
  .event-logo {
    opacity: 0;
  }

  .header-content::before {
    content: "";
    position: absolute;
    height: 120px;
    width: 397px;
    background-repeat: no-repeat;
    background-position: center;
  }
}

// Import it after to override defined properties above.
@import "legendary-skins";
