#legendary-skins {
  position: absolute;
  width: calc(100vw - 1.8rem * 3);
  height: $size__legendary-section-height;
  left: $size__gutter;
  top: -$size__legendary-section-height - $size__gutter;
  background: none;
  border-radius: 0;
  box-shadow: none;
  overflow: visible;

  .inner {
    display: flex;
    flex-direction: column;
    height: 100%;

    h2 {
      @include special-section-header();

      small {
        font-size: 0.8em;
        color: qualitycolor(legendary);
        margin-left: 0.4rem;

        &::before {
          content: "";
          display: inline-block;
          width: 0.75em;
          height: 0.7em;
          background: url('/resources/icons/currency.svg') no-repeat center/0.7em auto;
        }
      }
    }
  }

  .images {
    display: flex;
    flex: 1;

    .card {
      width: auto;
      flex: 1;
      display: flex;
      align-items: flex-end;
      margin-right: $size__gutter--sm;
      background-size: cover;
      background-position: center;
      position: relative;
      transition: all 75ms;
      cursor: pointer;

      @include shadow(subtle);

      &:hover {
        outline: 0.4rem solid $white;
        transform: scale(1.04);

        @include z-index(credits, -2);
      }

      &.selected {
        &::before {
          content: "";
          border: 4px solid qualitycolor(legendary);
          position: absolute;
          width: 100%;
          height: 100%;
        }

        &::after {
          content: "";
          top: 0;
          left: 0;
          position: absolute;
          width: 6rem;
          height: 6rem;
          background:
            url('resources/icons/check-circle.svg') no-repeat 20% 20%/2rem auto,
            linear-gradient(135deg, qualitycolor(legendary), qualitycolor(legendary) 50%, rgba(qualitycolor(legendary), 0) 51%, rgba(qualitycolor(legendary), 0)) no-repeat top left/auto;
        }

        label.bg {
          background: qualitycolor(legendary);

          &::before,
          &::after {
            display: none;
          }

          .card-heading {
            color: $white;
          }

          .card-copy {
            color: rgba($white, 0.8);
          }
        }
      }

      &:last-child {
        margin-right: 0;
      }

      input {
        display: none;
      }

      label.bg {
        background: $color__card-background;
        padding: $size__legendary-card-label-padding;
        width: 100%;
        font-size: 1.6rem;

        .card-content {
          font-size: 3.3rem;
        }

        .card-heading {
          font-size: $font-size__legendary-card-title;
          color: $color__card-title;

          @include font(Big-Noodle);
          @include skew-text();
        }

        .card-copy {
          font-size: $font-size__legendary-card-subtitle;
          color: $color__card-subtitle;
          text-transform: uppercase;
          margin: 0;
          line-height: 0.9;
        }
      }

      input ~ label::before,
      input ~ label::after {
        content: "";
        position: absolute;
        left: $size__gutter--sm;
        top: $size__gutter--sm;
        width: $size__item-checkbox;
        height: $size__item-checkbox;
      }

      input ~ label::before {
        background-color: rgba($white, 0.4);
        border-radius: 0.2rem;
      }

      input ~ label::after {
        background-repeat: no-repeat;
        background-position: center center;
        background-size: auto 60%;
      }

      input:checked ~ label::before {
        background-color: $orange;
        border: 0;
      }

      input:checked ~ label::after {
        background-image: url('resources/icons/check.svg');
      }
    }
  }
}
