#event-header {
  margin-bottom: $size__legendary-section-height + ($size__gutter * 2);
}

.header-content {
  height: $size__header-height;
  position: absolute;
  top: $size__navigation-height;
  left: ($size__header-height - ($font__page-title--lg - 1rem)) / 2; // Matches the hero one.
  display: flex;
  align-items: center;
  margin-right: 11rem;

  @include page-title(event);

  .event-logo {
    height: $font__page-title--lg;
    margin-right: ($size__header-height - ($font__page-title--lg - 1rem)) / 2;
  }

  h2 {
    font-size: $font__page-title--lg * 0.4;
    @include skew-text();
  }

  h3 {
    @include font(Futura);
  }
}

// Generate event-specific
@each $eventname, $data in $events {
  $colors: map-get($data, 'colors');

  body##{$eventname} #event-header,
  #hero-nav .gallery.event .block[href$="/#{$eventname}"] {
    background-image: url('resources/#{$eventname}/bg.jpg');
  }

  body##{$eventname} #event-header {
    @if map-has-key($events-additional, $eventname) {
      @include additionalProperties($events-additional, $eventname);
    }
  }

  .item[event="#{$eventname}"] + .tooltip .preview.img,
  body##{$eventname} .tooltip .preview.img {
    background-image:
      url('resources/#{$eventname}/icon-bg.png'),
      url('resources/#{$eventname}/preview-bg.png');
  }

  %preview-two-bgs {
    background-size: contain, 50% auto;
    background-repeat: repeat-x;
    background-position: left;
  }

  body##{$eventname} .tooltip .preview.img.two {
    @extend %preview-two-bgs;
  }
}

// Import it after to override defined properties above.
@import "event__legendary-skins";
