#header {
  height: $size__navigation-height;
  padding: 0 $size__gutter;
  display: flex;
  justify-content: space-between;
  position: relative;

  @include z-index(credits, -1);

  .left,
  .right {
    display: flex;
    align-items: center;
  }

  #header-logo {
    height: 70%;
  }

  .left {
    h1 {
      margin: 0 3rem 0 1rem;
      font-size: 3rem;
    }
  }

  .event-selector {
    cursor: pointer;
    padding: 0 1.6rem;
    display: flex;
    align-items: center;
    background: $color__navigation-button;

    h2 {
      font-size: 1.6rem;
      text-transform: uppercase;
      margin: 0;
      line-height: 1;
      display: flex;
      height: $size__navigation-height;
      align-items: center;

      .caret {
        margin-left: 0.8rem;
      }
    }

    .block {
      display: inline-block;
      margin-left: -1.6rem;

      .img {
        display: inline-block;
        height: 100%;
        width: solve-ratio($width: nth($size__hero-icon, 1), $height: nth($size__hero-icon, 2), $denominator: $size__navigation-height);
        background-size: cover;
        margin-right: 1.6rem;
      }
    }
  }

  .icon {
    font-size: 2rem;
    padding: ($size__navigation-height - 2rem) / 2;
    width: $size__navigation-height;
    cursor: pointer;

    svg {
      width: auto;
      height: 2rem;
    }
  }

  .event-selector:hover,
  .icon:hover {
    background: $color__navigation-button-hover;
  }
}

#header,
#menuNav,
#sidebar {
  background: $color__navigation-background;
}

#menuNav,
#sidebar {
  @include z-index(modal, -1);
}

#menuNav {
  position: absolute;
  top: $size__navigation-height;
  left: 0;
  right: 0;
  will-change: auto;
  transition: height 0.315s linear;
  padding: $size__gutter;
}
