#header {
  height: $header-height;
  padding: 0 $gutter-width;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: map-get($z-index, credits) - 1;

  .left,
  .right {
    display: flex;
    align-items: center;
  }

  #header-logo {
    height: 70%;
  }

  .left {
    h1 {
      margin: 0 3rem 0 1rem;
      font-size: 3rem;
      font-style: italic;
    }
  }

  .event-selector {
    cursor: pointer;
    padding: 0 1.6rem;
    display: flex;
    align-items: center;
    background: #1c75bc;

    h2 {
      font-size: 1.6rem;
      text-transform: uppercase;
      margin: 0;
      line-height: 1;
      display: flex;
      height: $header-height;
      align-items: center;

      .caret {
        margin-left: 0.8rem;
      }
    }

    .block {
      display: inline-block;
      margin-left: -1.6rem;

      .img {
        display: inline-block;
        height: 100%;
        width: getaspectratiovalue(map-get($hero-icon-size, width), map-get($hero-icon-size, height), $header-height);
        background-size: cover;
        margin-right: 1.6rem;
      }
    }
  }

  .icon {
    font-size: 2rem;
    padding: ($header-height - 2rem) / 2;
    width: $header-height;
    cursor: pointer;

    svg {
      width: auto;
      height: 2rem;
    }
  }

  .event-selector:hover,
  .icon:hover {
    background: #2a8edf;
  }
}

#header,
#menuNav,
#sidebar {
  background: $color__header-background;
}

#menuNav,
#sidebar {
  z-index: map-get($z-index, modal);
}

#menuNav {
  position: absolute;
  top: $header-height;
  left: 0;
  right: 0;
  will-change: auto;
  transition: height 0.315s linear;
  padding: $gutter-width;
}
