.hero-grid {
  .section {
    background: transparent;
    padding: $size__gutter;
    box-shadow: none;
    overflow: visible; // This is mandatory to avoid a visual glitch-out.
  }

  .section-header {
    background: transparent;
    padding: 0;

    h2 {
      flex: 1;

      @include special-section-header();

      small {
        font-size: 0.7em;
        margin-left: 0.4rem;
        color: $color__section-header-subtext--special;
      }

      &::before {
        display: none !important;
      }
    }
  }

  .section-content {
    padding: 0;
    display: grid;
    grid-gap: 1rem;

    .item {
      cursor: pointer;
    }
  }

  .section#icons {
    .section-content {
      grid-template-columns: repeat(auto-fit, 10rem) !important;
      grid-auto-rows: 10rem;
    }

    .item {
      width: 100% !important;
      height: 100%;
      background: transparent no-repeat center/contain;
      border-radius: 0.6rem;
      border: 2px solid rgba($white, 0.6);
      margin: 0;
    }
  }

  .section#sprays {
    .section-content {
      grid-template-columns: repeat(auto-fit, 15rem) !important;
      grid-auto-rows: 15rem;
    }

    .item {
      width: 100% !important;
      height: 100%;
      background: $color__grid-spray-background no-repeat center/contain;
      border: 3px solid transparent;
      margin: 0;

      &:hover {
        transform: none;
        border-color: $color__grid-spray-border-hover;
        box-shadow: 0 0 4px $color__grid-spray-border-hover-shadow, inset 0 0 4px $color__grid-spray-border-hover-shadow;
      }
    }
  }

  .item {
    opacity: $overwatch-locked-item-opacity;
    text-align: right;
    padding: 0.2rem;
    justify-content: flex-end;
    align-items: flex-start;

    &:hover {
      transform: scale(1.1);
      opacity: 1;
      outline: none;
    }

    &.selected {
      opacity: 1;

      .lock-icon {
        opacity: 0;
      }
    }

    &::before,
    &::after {
      display: inline-block;
      filter: none !important;
    }

    .lock-icon {
      background-image: url(/resources/icons/lock.svg);
      position: absolute;
      right: 1px;
      bottom: 1px;
      opacity: 1;
      width: 24px;
      height: 24px;
      background-size: contain;
    }
  }

  .tooltip {
    padding: 0 !important;
    transform: translateY(50%);

    .tooltip-arrow {
      display: none;
    }

    .tooltip-inner {
      background: $black;
      padding: 0.4rem 0.8rem;
      font-family: $font__base;
      text-transform: uppercase;
      font-size: 1.4rem;
    }
  }
}
