#hero-header {
  .hero-info {
    display: flex;
    align-items: center;
    height: $page-header-height;
  }

  .hero-image {
    display: none;
  }

  .hero-name {
    display: inline-block;
    padding-left: ($page-header-height - ($page-title-font-size - 1rem)) / 2; // Using 11rem instead of 12 to account for the extra empty space between the defined font size and the actual size of Big Noodle

    @include page-title(hero);
  }

  .hero-class {
    font-size: 0;
    box-sizing: content-box;
    background-size: 2.8rem;
    display: inline-block;
    height: 2.8rem;
    width: 2.8rem;
    border: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 50%;
    padding: 1.2rem;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -2.8rem * 2.5;
    margin-left: 1rem;

    @include slidein;
  }

  // Generates base CSS for classes
  @each $classname in $classes {
    .hero-class.#{$classname} {
      background-image: url('resources/icons/roles/#{$classname}.svg');
    }
  }

  .options {
    position: absolute;
    bottom: $progress-bar-height + $gutter-width;
    right: $gutter-width;

    > .btn,
    > .btn-group > .btn {
      background: rgba(0, 0, 0, 0.4);
      font-size: 1.4rem;
      text-transform: uppercase;
      color: #fff;
      border: 0;
      border-radius: 0.4rem;
      padding: 0.9em 1.32em;
      line-height: 1;
      margin-left: 0.9rem;
    }

    > .btn:hover,
    > .btn:active,
    > .btn-group > .btn:hover,
    > .btn-group.open > .btn {
      color: $grey;
      background: #fff;
      box-shadow: none;
    }

    > .btn[uib-tooltip="Clear Filters"] {
      background: rgba(255, 0, 0, 0.7);

      &:hover {
        color: #fff;
        background: red;
      }
    }
  }

  .currentFilter {
    background: $orange;
    position: absolute;
    padding: 1rem 1.4rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    box-shadow: 0 3px 12px rgba(37, 37, 37, 0.2);
    color: $grey;
    bottom: -$progress-bar-height / 1.33;
    padding-left: $gutter-width;
  }
}

.hero-items {
  column-gap: $gutter-width;
  columns: 3;
}

// Generate hero-specific CSS
@each $heroname, $data in $heroes {
  $colors: map-get($data, 'colors');


  body##{$heroname} {
    #hero-container #hero-header {
      background-image: url('resources/heroes/#{$heroname}/background-story.jpg');

      @if map-has-key($heroes-additional, $heroname) {
        @include additionalProperties($heroes-additional, $heroname);
      }
    }
  }
}

body#all .hero-class {
  display: none;
}
