#hero-header {
  .hero-info {
    display: flex;
    align-items: center;
    height: $size__header-height;
  }

  .hero-image {
    display: none;
  }

  .hero-name {
    display: inline-block;
    padding-left: ($size__header-height - ($font__page-title--lg - 1rem)) / 2; // Using 11rem instead of 12 to account for the extra empty space between the defined font size and the actual size of Big Noodle

    @include page-title($type: hero, $isSkewed: true);
  }

  .hero-class {
    font-size: 0;
    box-sizing: content-box;
    background-size: 2.8rem;
    display: inline-block;
    height: 2.8rem;
    width: 2.8rem;
    border: 2px solid rgba($white, 0.4);
    border-radius: 50%;
    padding: 1.2rem;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: -2.8rem * 2.5;
    margin-left: 1rem;

    @include slidein;
  }

  // Generates base CSS for classes
  @each $classname in $classes {
    .hero-class.#{$classname} {
      background-image: url('resources/icons/roles/#{$classname}.svg');
    }
  }

  .options {
    position: absolute;
    bottom: $size__progress-bar-height + $size__gutter;
    right: $size__gutter;

    > .btn,
    > .btn-group > .btn {
      background: $color__header-buttons-background;
      font-size: 1.4rem;
      text-transform: uppercase;
      color: $color__header-buttons-text;
      border: 0;
      border-radius: 0.4rem;
      padding: 0.9em 1.32em;
      line-height: 1;
      margin-left: 0.9rem;
    }

    > .btn:hover,
    > .btn:active,
    > .btn-group > .btn:hover,
    > .btn-group.open > .btn {
      color: $color__header-buttons-hover-text;
      background: $color__header-buttons-hover-background;
      box-shadow: none;
    }

    > .btn[uib-tooltip="Clear Filters"] {
      background: rgba(255, 0, 0, 0.7);

      &:hover {
        color: $white;
        background: red;
      }
    }
  }

  .currentFilter {
    background: $overwatch-orange--primary;
    position: absolute;
    padding: 1rem 1.4rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    color: $shark;
    bottom: -$size__progress-bar-height / 1.33;
    padding-left: $size__gutter;

    @include shadow(subtle);
  }
}

.hero-items {
  column-gap: $size__gutter;
  columns: 3;
}

// Generate hero-specific CSS
@each $heroname, $data in $heroes {
  $colors: map-get($data, 'colors');


  body##{$heroname} {
    #hero-container #hero-header {
      background-image: url('resources/heroes/#{$heroname}/background-story.jpg');

      @if map-has-key($heroes-additional, $heroname) {
        @include additionalProperties($heroes-additional, $heroname);
      }
    }
  }
}
