@keyframes loading {
  0% {
    transform: scale(1);
    opacity: 1;
  }

  15%,
  50% {
    transform: scale(0.5);
    opacity: 0;
  }

  65% {
    transform: scale(1);
    opacity: 1;
  }
}

.loader {
  height: 98%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  transition: opacity 100ms;
  position: absolute;
  top: 0;
  left: 0;
  color: $white;

  svg {
    width: 90px;
    height: 90px;

    path {
      transform-origin: center;
      animation: loading 2.8s ease-in-out infinite;
    }

    @for $i from 1 through 7 {
      path:nth-of-type(#{$i}) {
        animation-delay: unquote(($i * 0.2) + 's');
      }
    }
  }

  &.small svg {
    height: 60px;
    width: 60px;
  }
}
