.modal {
  color: $color__modal-text;
  font-size: 1.4rem;
  font-family: $font__sans-serif;
}

.modal-header {
  background-color: $color__section-header-background;
  color: $color__section-header-text;
  border-bottom: 0;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @include font(Futura);

  .close {
    vertical-align: middle;
    order: 2;
  }

  .modal-title {
    flex: 1;
    line-height: 1;
    font-size: 2.24rem;
  }
}

.modal-content {
  .setting {
    padding: 1.6rem;
    border-top: 1px solid rgba(0, 0, 0, 0.15);

    h3 {
      @include font(Futura);
    }
  }

  .setting:first-of-type {
    border-top: 0;
  }

  #settings.themes {
    .modal-body {
      display: flex;
      justify-content: space-between;
    }

    .setting {
      padding: 1.6rem;
      border: 2px solid rgba($black, 0.1);
      display: flex;
      position: relative;
      min-height: 200px;
      flex-direction: column;

      &:hover {
        .img::after {
          content: "Use this theme";
          display: inline-block;
          padding: 0.8em 1em;
          border: 2px solid $white;
          border-radius: 0.4rem;
          margin-top: 3.5rem;
          background: rgba($white, 0.6);
          font-weight: bold;
          text-transform: uppercase;
          color: $shark;
        }
      }

      &:first-of-type {
        margin-right: 0.8rem;
      }

      &:last-of-type {
        margin-left: 0.8rem;
      }

      * {
        order: 2;
      }

      .img {
        order: 1;
        width: 232px;
        height: 115px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 1.6rem;
        text-align: center;
        cursor: pointer;

        &:hover::after {
          background: $white;
        }
      }

      h3 {
        @include font(Futura);
      }

      .madeBy {
        font-style: italic;
        font-size: 0.9em;
        margin-top: 1.6rem;
      }

      .selected {
        position: absolute;
        top: 0.4rem;
        left: 0.4rem;
        background: $orange;
        border-radius: 0.4rem;
        padding: 0.5em 0.8em;
        font-size: 1.2rem;
        border: 2px solid $white;
        color: $white;
      }
    }
  }
}

.coffee,
.copyright {
  margin-left: 1.5rem + $size__gutter;
  margin-bottom: 1.5rem + $size__gutter;
}
