.modal {
  color: rgb(60, 60, 60);
  font-size: 1.4rem;
  font-family: $sans-serif-font-family;
}

.modal-header {
  background-color: $section-header-background;
  border-bottom: 0;
  text-transform: uppercase;
  font-family: $base-font-family;
  line-height: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .close {
    vertical-align: middle;
    order: 2;
  }

  .modal-title {
    flex: 1;
  }
}

.modal-content {
  .setting {
    padding: 1.6rem;
    border-top: 1px solid rgba(0, 0, 0, 0.15);

    h3 {
      text-transform: uppercase;
      font-family: $base-font-family;
    }
  }

  .setting:first-of-type {
    border-top: 0;
  }

  #settings.themes {
    .modal-body {
      display: flex;
      justify-content: space-between;
    }

    .setting {
      padding: 1.6rem;
      border: 2px solid rgba(0, 0, 0, 0.1);
      display: flex;
      position: relative;
      min-height: 200px;
      flex-direction: column;

      &:hover {
        .img::after {
          content: "Use this theme";
          display: inline-block;
          padding: 0.8em 1em;
          border: 2px solid #fff;
          border-radius: 0.4rem;
          margin-top: 3.5rem;
          background: rgba(255, 255, 255, 0.6);
          font-weight: bold;
          text-transform: uppercase;
          color: rgb(60, 60, 61);
        }
      }

      &:first-of-type {
        margin-right: 0.8rem;
      }

      &:last-of-type {
        margin-left: 0.8rem;
      }

      * {
        order: 2;
      }

      .img {
        order: 1;
        width: 232px;
        height: 115px;
        background-size: contain;
        background-repeat: no-repeat;
        margin-bottom: 1.6rem;
        text-align: center;
        cursor: pointer;

        &:hover::after {
          background: #fff;
        }
      }

      h3 {
        text-transform: uppercase;
        font-family: $base-font-family;
      }

      .madeBy {
        font-style: italic;
        font-size: 0.9em;
        margin-top: 1.6rem;
      }

      .selected {
        position: absolute;
        top: 0.4rem;
        left: 0.4rem;
        background: $orange;
        border-radius: 0.4rem;
        padding: 0.5em 0.8em;
        font-size: 1.2rem;
        border: 2px solid #fff;
        color: #fff;
      }
    }
  }
}

.coffee,
.copyright {
  margin-left: 15px + 16px;
  margin-bottom: 15px + 16px;
}
