#hero-nav {
  max-width: 80vw;
  min-width: 100rem;
  margin: 0 auto;

  .gallery {
    & > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .block {
      position: relative;
      margin: 0.5rem;
      border: 0.4em solid $offwhite;
      border-radius: 0.4rem;
      cursor: pointer;
      transition: transform 75ms;
      overflow: hidden;
      width: 15%;
      background: url('/resources/body-bg.jpg') no-repeat center/cover;

      .block-content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
      }

      .bg {
        display: none;
      }

      .imgcont {
        flex: 1;
        position: relative;

        &::before {
          content: "";
          width: 1px;
          margin-left: -1px;
          float: left;
          height: 0;
          padding-top: 9 / 16 * 100%;
        }

        .img {
          background-size: auto 100%;
          background-position: center;
          background-repeat: no-repeat;
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
        }

        &::after {
          content: "";
          display: table;
          clear: both;
        }
      }

      .text {
        background: $offwhite;
        text-align: center;

        h2 {
          font-family: $big-noodle;
          color: $herogrey;
          margin: 0;
          text-transform: uppercase;
          padding: .3em 0;
          font-size: 1.25vw;
        }

        .progresscont {
          position: relative;
          background-color: darken($offwhite, 8%);
          z-index: 1;

          h3 {
            font-family: $base-font-family;
            text-align: center;
            font-size: 0.8vw;
            margin: 0;
            padding: 0.3em 0;

            @include stroke(1px, 0, rgba(0, 0, 0, 0.1));
          }

          .hero-progress-bar {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            height: 100%;
          }
        }
      }

      &:hover {
        background: $orange !important;
        transform: scale(1.1);
        z-index: map-get($z-index, modal);
        box-shadow: 0 3px 12px rgba(37, 37, 37, 0.4);
      }
    }
  }

  .gallery.hero {
    .block {
      transform: skew(-10deg);
      width: 9%; // This gives us a nice 3 line hero nav same as in-game

      .block-content {
        .imgcont {
          flex: 1;
          position: relative;

          &::before {
            content: "";
            width: 1px;
            margin-left: -1px;
            float: left;
            height: 0;
            padding-top: 100 / 110 * 100%;
          }

          .img {
            background-size: auto 100%;
            background-position: center;
            background-repeat: no-repeat;
            transform: skew(10deg);
            position: absolute;
            top: -9%;
            left: -9%;
            right: -9%;
            bottom: -9%;
            z-index: -1;
          }

          &::after {
            content: "";
            display: table;
            clear: both;
          }
        }
      }

      .progresscont h3 {
        transform: skew(10deg);
      }

      &:hover {
        transform: skew(-10deg) scale(1.1);
      }
    }
  }

  .gallery.event {
    margin-bottom: 2.6rem;

    .block {
      .img {
        background-size: contain;
        margin: 0.8em;
      }
    }
  }

  .block.home {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    position: absolute;
    top: $gutter-width;
    left: $gutter-width;
    font-size: 0;
    background: none;
    border-width: 0.3rem;

    .bg {
      display: inline-block;

      &::after {
        content: "";
        background: url(/resources/icons/home.svg) no-repeat center/100%;
        position: absolute;
        width: 100%;
        height: 100%;
      }
    }
  }
}

#home {
  #hero-nav {
    .block {
      box-shadow: 0 3px 12px rgba(37,37,37,.2);
    }

    .block.home {
      display: none;
    }
  }
}

