#hero-nav {
  max-width: 80vw;
  min-width: 100rem;
  margin: 0 auto;

  .gallery {
    & > div {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .block {
      position: relative;
      margin: 0.5rem;
      border: 2px solid $offwhite;
      border-radius: 0.4rem;
      cursor: pointer;
      transition: transform 50ms;
      background: url('../resources/body-bg.jpg') no-repeat center/cover;

      .imgcont {
        height: getaspectratiovalue(map-get($hero-icon-size, height), map-get($hero-icon-size, width), map-get(map-get($heroNav-blocks, hero), width)) + 10px;
        overflow: hidden;

        .img {
          width: map-get(map-get($heroNav-blocks, hero), width) + 10px;
          height: getaspectratiovalue(map-get($hero-icon-size, height), map-get($hero-icon-size, width), map-get(map-get($heroNav-blocks, hero), width)) + 10px;
          background-size: auto 100%;
          background-position: center;
          background-repeat: no-repeat;
          transform: skew(-25rad) translateX(-5px);
        }
      }

      .text {
        background: $offwhite;
        text-align: center;

        h2 {
          font-family: $big-noodle;
          color: $herogrey;
          font-size: 1.8rem;
          margin: 0;
          text-transform: uppercase;
          padding: 0.6rem 0;
        }

        .progresscont {
          position: relative;
          background-color: darken($offwhite, 8%);
          z-index: 1;

          h3 {
            font-family: $base-font-family;
            text-align: center;
            font-size: 1.6rem;
            margin: 0;
            padding: 0.6rem 0;
            text-shadow: -1px -1px 0 rgba(0,0,0,0.2), 1px -1px 0 rgba(0,0,0,0.2), -1px 1px 0 rgba(0,0,0,0.2), 1px 1px 0 rgba(0,0,0,0.2);
          }

          .hero-progress-bar {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            height: 100%;
          }
        }
      }

      &:hover {
        background: $orange !important;
      }
    }
  }

  .gallery.hero {
    .block {
      height: auto;
      width: map-get(map-get($heroNav-blocks, hero), width);
      transform: skew(25rad);

      .progresscont h3 {
        transform: skew(-25rad);
      }
    }
  }

  .gallery.event {
    margin-bottom: 2.6rem;

    .block {
      .img {
        width: map-get(map-get($heroNav-blocks, event), width);
        height: map-get(map-get($heroNav-blocks, event), height);
        margin: 0.8rem;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: 50% 50%;
      }
    }
  }

  .block.home {
    border-radius: 50%;
    width: 6rem;
    height: 6rem;
    position: absolute;
    top: $gutter-width;
    left: $gutter-width;
    font-size: 0;

    .bg::after {
      content: "";
      background: url(/resources/icons/home.svg) no-repeat center/100%;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }
}

#home #hero-nav .block.home {
  display: none;
}
