.section .tooltip {
  margin: 0.4rem;
  pointer-events: none;

  &.fade {
    transition: opacity 125ms linear;
  }

  &.in {
    opacity: 1;
  }

  .tooltip-inner {
    max-width: none;
    padding: 0.4rem;
    background: $color__preview-tooltip-background;

    @include shadow(tooltip);
  }

  &.top {
    padding: 0;
    padding-bottom: 1.4rem;
    margin-top: 0.8rem;

    .tooltip-arrow {
      bottom: 0;

      &::after {
        transform: translateX(-50%) translateY(-50%) rotate(135deg);
      }
    }
  }

  &.bottom {
    padding: 0;
    padding-top: 1.4rem;
    margin-top: -0.8rem;

    .tooltip-arrow {
      top: 0;

      &::after {
        transform: translateX(-50%) translateY(50%) rotate(135deg);
      }
    }
  }

  .tooltip-arrow {
    width: 3rem;
    height: 1.4rem;
    position: absolute;
    overflow: hidden;
    border: 0;
    margin-left: -1.5rem;

    &::after {
      content: "";
      position: absolute;
      width: 1.4rem;
      height: 1.4rem;
      background: $color__preview-tooltip-background;
      top: 0;
      left: 50%;

      @include shadow(tooltip-arrow);
    }
  }

  .preview {
    background: url(resources/bg.png) no-repeat, transparent;
    background-color: $color__preview-tooltip-inner-background;
    background-position: top, center;
    background-size: cover, cover;
    position: relative;

    .i {
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 3px;

      & + .i {
        border-left: 0.2rem solid $color__preview-tooltip-background;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
      }
    }

    &.img {
      width: nth($size__preview-img, 1);
      height: nth($size__preview-img, 2);
    }

    &.img.two {
      width: calc(#{nth($size__preview-img-two, 1)} + 0.2rem);
      height: nth($size__preview-img, 2) * ($multiplier__preview-img-two / 2);
      display: flex;

      .i:first-child {
        border-right: 0.2rem solid $color__preview-tooltip-background;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
      }
    }

    &.video {
      width: nth($size__preview-video, 1);
      height: nth($size__preview-video, 2);

      video {
        height: 100%;
        width: 100%;
      }
    }

    &.audio {
      width: nth($size__preview-audio, 1);
      height: nth($size__preview-audio, 2);
      background: $color__preview-tooltip-background;

      .audio-player {
        display: flex;
        justify-content: space-between;
        align-content: center;
      }

      .icon {
        font-size: 2.4rem;
        padding: 0.2rem 0.6rem;
        color: rgba($black, 0.5);
        display: inline-block;
      }

      .player {
        border-radius: 0.2rem;
        background: rgba($black, 0.15);
        position: relative;
        flex: 1;

        .progress {
          height: 100%;
          margin: 0;
          box-shadow: none;
          background: $color__preview-tooltip-audio-progress-bar;
          border-radius: 0.2rem;
          position: absolute;
        }
      }
    }

    .description {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      background-color: $color__preview-tooltip-description-background;
      line-height: 1.4;
      padding: 1em;
      font-size: 1.4rem;
      text-align: left;
      border-left: 3px solid $color__preview-tooltip-description-border;
      margin: 2rem;
      color: $color__preview-tooltip-description-text;

      @include font(Futura);
    }
  }
}

@each $name, $data in $item-types {
  $preview-info: map-get($data, preview);
  $aliases: map-get($data, aliases);

  // Only override default if there is anything to override.
  @if map-has-key($preview-info, width) and map-has-key($preview-info, height) {
    $two-width: map-get($preview-info, width) * $multiplier__preview-img-two;

    %#{$name}-tooltip {
      width: map-get($preview-info, width);
      height: map-get($preview-info, height);
    }

    %#{$name}-tooltip-two {
      width: calc(#{$two-width} + 0.2rem);
      height: map-get($preview-info, height) * ($multiplier__preview-img-two / 2);
    }

    @each $alias in $aliases {
      ##{$alias} .tooltip .preview.#{map-get($preview-info, type)} {
        @extend %#{$name}-tooltip;
      }

      @if map-get($preview-info, type) == "img" {
        ##{$alias} .tooltip .preview.#{map-get($preview-info, type)}.two {
          @extend %#{$name}-tooltip-two;
        }
      }
    }
  }

  @if $name == "icons" {
    @each $alias in $aliases {
      ##{$alias} .tooltip .preview {
        border-radius: 0.3rem;
      }
    }
  }
}
