.section .tooltip {
  margin: 0;

  &.in {
    opacity: 1;
  }

  .tooltip-inner {
    max-width: none;
    padding: 0.4rem;
    background: $offwhite;
    box-shadow: 0 3px 12px rgba(37, 37, 37, 0.3);
  }

  &.top {
    padding: 0;
    padding-bottom: 2rem;

    .tooltip-arrow {
      bottom: 0;

      &::after {
        transform: translateX(-50%) translateY(-50%) rotate(135deg);
      }
    }
  }

  &.bottom {
    padding: 0;
    padding-top: 2rem;

    .tooltip-arrow {
      top: 0;

      &::after {
        transform: translateX(-50%) translateY(50%) rotate(135deg);
      }
    }
  }

  .tooltip-arrow {
    width: 5rem;
    height: 2rem;
    position: absolute;
    overflow: hidden;
    border: 0;

    &::after {
     content: "";
     position: absolute;
     width: 2rem;
     height: 2rem;
     background: $offwhite;
     top: 0;
     left: 50%;
     box-shadow: 0 0 12px rgba(37, 37, 37, 0.3);
    }
  }

  .preview {
    background: url(resources/bg.png) no-repeat,transparent;
    background-color: #293347;
    background-position: top, center;
    background-size: contain, cover;
    position: relative;

    &.img {
      width: $preview-img-width;
      height: $preview-img-height;
    }

    &.video {
      width: $preview-video-width;
      height: $preview-video-height;

      video {
        height: 100%;
        width: 100%
      }
    }

    &.audio {
      width: $preview-audio-width;
      height: $preview-audio-height;
      background: $offwhite;

      .audio-player {
        display: flex;
        justify-content: space-between;
        align-content: center;
      }

      .icon {
        font-size: 2.8rem;
        padding: 0.6rem 1rem;
        color: $grey;
        display: inline-block;
      }

      .player {
        border-radius: 0.2rem;
        background: rgba(0, 0, 0, 0.15);
        position: relative;
        flex: 1;

        .progress {
          height: 100%;
          margin: 0;
          box-shadow: none;
          background: orange;
          border-radius: 0.2rem;
          position: absolute;
        }
      }
    }

    .i {
      width: 100%;
      height: 100%;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 3px
    }

    .description {
      position: absolute;
      bottom: 0;
      width: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      line-height: 1.4;
      padding: 1em 1.2em;
    }
  }
}

@each $name, $data in $item-types {
  $preview-info: map-get($data, preview);
  $aliases: map-get($data, aliases);

  // Only override default if there is anything to override.
  @if map-has-key($preview-info, width) and map-has-key($preview-info, height) {
    %#{$name}-tooltip {
      width: map-get($preview-info, width);
      height: map-get($preview-info, height);
    }

    @each $alias in $aliases {
      ##{$alias} .tooltip .preview.#{map-get($preview-info, type)} {
        @extend %#{$name}-tooltip;
      }
    }
  }

  @if $name == "icons" {
    @each $alias in $aliases {
      ##{$alias} .tooltip .preview {
        background: $offwhite;
      }
    }
  }
}
