.progress-bar-container,
.hero-progress,
.event-progress {
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  height: $progress-bar-height;
  font-family: $base-font-family;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 1px 1px 2px rgb(54, 54, 54);
  position: relative;

  span {
    line-height: $progress-bar-height;
    position: relative;
  }

  .progress-bar,
  .hero-progress-bar,
  .event-progress-bar {
    position: absolute;
    border-top: 1px solid transparent;
    height: 100%;
    box-shadow: none; // Override the default behaviour
  }
}

.hero-progress,
.event-progress {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.quality-bar {
  .title {
    height: $progress-bar-height;
    font-family: $base-font-family;
    font-size: 1.6rem;
    text-transform: uppercase;
    color: #fff;
    text-shadow: 1px 1px 2px rgb(54, 54, 54);
    position: absolute;
    z-index: 1;
    line-height: $progress-bar-height;
    padding-left: $progress-bar-height / 4;
  }
}

.overall-bar .home-progress-bar {
  background-color: #fa9c1e;
  border-top-color: lighten(#fa9c1e, 10%);
}

@each $name, $color in $quality {
  .progress-bar.#{$name} {
    @if $name == "common" {
      background-color: darken($color, 12%);
    }

    @else {
      background-color: $color;
    }

    border-top-color: lighten($color, 10%);
  }
}

@each $heroname, $data in $heroes {
  $colors: map-get($data, 'colors');

  body##{$heroname} .hero-progress-bar,
  #hero-nav .gallery.hero .block[href$="/#{$heroname}"] .hero-progress-bar {
    background-color: map-get($colors, 'primary');
    border-top-color: map-get($colors, 'highlight');
  }
}

@each $eventname, $data in $events {
  $colors: map-get($data, 'colors');

  body##{$eventname} .event-progress-bar,
  #hero-nav .gallery.event .block[href$="/#{$eventname}"] .hero-progress-bar {
    background-color: map-get($colors, primary);
    border-top-color: map-get($colors, highlight);
  }
}

// Override the difficult-to-see Winter Wonderland one for the homepage.
#home #hero-nav .gallery.event .block[href$="/WINTER_WONDERLAND"] .hero-progress-bar {
  background-color: #52496d;
}
