.progress-bar-container,
.hero-progress,
.event-progress {
  text-align: center;
  background: $color__header-progress-bar-background;
  height: $size__progress-bar-height;
  font-size: 1.6rem;
  color: $color__header-progress-bar-text;
  position: relative;

  @include font(Futura);
  @include stroke(1px, 0, rgba($black, 0.1));

  span {
    line-height: $size__progress-bar-height;
    position: relative;
  }

  .progress-bar,
  .hero-progress-bar,
  .event-progress-bar {
    position: absolute;
    border-top: 1px solid transparent;
    height: 100%;
    box-shadow: none; // Override the default behaviour
  }
}

.hero-progress,
.event-progress {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.quality-bar {
  .title {
    height: $size__progress-bar-height;
    font-size: 1.6rem;
    color: $color__header-progress-bar-text;
    position: absolute;
    z-index: 1;
    line-height: $size__progress-bar-height;
    padding-left: $size__progress-bar-height / 4;

    @include font(Futura);
    @include stroke(1px, 0, rgba($black, 0.1));
  }
}

.overall-bar .home-progress-bar {
  background-color: $color__home-page-progress-bar-background;
  border-top-color: $color__home-page-progress-bar-border;
}

@each $name, $color in $qualities {
  .progress-bar.#{$name} {
    @if $name == "common" {
      background-color: darken($color, 12%);
    }

    @else {
      background-color: $color;
    }

    border-top-color: tint($color, 10%);
  }
}

@each $heroname, $data in $heroes {
  $colors: map-get($data, 'colors');

  body##{$heroname} .hero-progress-bar,
  #hero-nav .gallery.hero .block[href$="/#{$heroname}"] .hero-progress-bar {
    background-color: map-get($colors, 'primary');
    border-top-color: map-get($colors, 'highlight');
  }
}

@each $eventname, $data in $events {
  $colors: map-get($data, 'colors');

  body##{$eventname} .event-progress-bar,
  #hero-nav .gallery.event .block[href$="/#{$eventname}"] .hero-progress-bar {
    background-color: map-get($colors, primary);
    border-top-color: map-get($colors, highlight);
  }
}


// TO DO
// Override the difficult-to-see Winter Wonderland one for the homepage.
#home #hero-nav .gallery.event .block[href$="/WINTER_WONDERLAND"] .hero-progress-bar {
  background-color: #52496d;
}
