@media screen and (max-width: 1400px) {
  #hero-nav {
    .gallery {
      .block {
        width: 20%;
      }

      .block.home {
        width: 6rem;
      }
    }

    .gallery.hero .block {
      width: 12%;

      .text h2 {
        display: none;
      }
    }
  }


  #event-container {
    flex-direction: column;
    align-items: center;
    position: relative;
  }

  .col-padding {
    width: 100%;
  }

  .col-padding + .col-padding {
    padding-left: $size__gutter;
  }

  // Reduces the number of columns by 1.
  @for $i from 2 to 6 {
    .section .flex-#{$i} {
      // Prepare the number of columns
      $columns: (1fr);

      @for $j from 1 to ($i - 1) {
        $columns: append($columns, 1fr, space);
      }

      grid-template-columns: $columns;
    }
  }
}

@media screen and (max-width: 1200px) {
  #legendary-skins {
    .images {
      display: grid;
      flex: 1;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-gap: 1em;

      .card {
        margin-right: 0;
      }
    }
  }

  .hero-items {
    columns: 1;
  }
}
