%section-header-icon {
  content: "";
  display: inline-block;
  height: 2.24rem;
  min-width: 2.24rem;
  margin-right: 1.12rem;
  background: transparent no-repeat center/contain;
}

%flex-items {
  display: inline-flex;
}

.section {
  background: $section-background;
  border-radius: 0.4rem;
  overflow: hidden;
  color: $section-font-color;
  margin-bottom: $gutter-width;
  page-break-inside: avoid;
  break-inside: avoid;
  box-shadow: 0 3px 12px rgba(37,37,37,.2);

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $section-header-background;
    color: $section-header-color;
    padding: 1.2rem;
    padding-left: (1.2rem / 2) + 1.2rem;

    h2 {
      text-transform: uppercase;
      font-size: 2.24rem;
      display: flex;
      align-items: center;

      small {
        font-size: 16px;
        margin-left: 0.6rem;

        &::before {
          content: "(";
        }

        &::after {
          content: ")";
        }
      }
    }

    .options {
      opacity: 0;
      transition: opacity 225ms;

      .btn {
        padding: 0.6rem;
        background: rgba(0, 0, 0, 0.1);
        font-size: 1.8rem;
        color: #fff;

        &:hover {
          color: #fff;
          background: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  @each $name, $data in $item-types {
    @each $alias in map-get($data, aliases) {
      &##{$alias} .section-header h2::before {
        @extend %section-header-icon;

        background-image: url('resources/icons/item-types/#{$name}.svg');
      }
    }
  }

  .section-content {
    padding: 1.2em;
  }

  .item {
    display: inline-flex;
    font-size: 1.6rem;
    position: relative;
    padding-left: $item-checkbox-size + ($item-vertical-padding * 2);
    align-items: center;
    justify-content: space-between;
    margin: $item-padding;
    width: 100%;
    min-height: 1.5em;

    // This overrules later loops that create multiple columns. If a filter is used that results in only one item in a multi-column section this forces it to be fullwidth.
    &:only-of-type {
      width: inherit !important;
      display: flex !important;
    }

    input {
      display: none;
    }

    label {
      line-height: 1;
    }

    label:only-of-type,
    label + label {
      flex: 1;
      order: -1;
    }

    h3,
    h4 {
      text-transform: uppercase;
    }

    h3 {
      font-size: $item-title-size;
      display: inline;

      @each $quality, $color in $qualities {
        @if ($quality != "common") {
          &.#{$quality} {
            color: $color;
          }
        }
      }
    }

    h4 {
      font-size: $item-subtitle-size;
      color: lighten($section-font-color, 25%);
    }

    small {
      font-size: 1em;
      display: inline;
    }

    .color-cost {
      color: $cost;
    }

    label.circle-checkbox {
      width: $item-checkbox-size;
      height: $item-checkbox-size;
      position: relative;
      margin-right: $item-vertical-padding * 2;
      order: -2;
    }

    input:first-child ~ label:last-child::before,
    input:first-child ~ label:last-child::after,
    label.circle-checkbox::before,
    label.circle-checkbox::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: $item-checkbox-size;
      height: $item-checkbox-size;
    }

    input:first-child ~ label:last-child::before,
    label.circle-checkbox::before {
      background-color: rgba(0, 0, 0, 0.15);
      border-radius: 0.2rem;
    }

    input:first-child ~ label:last-child::after,
    input.circle-checkbox:checked ~ label.circle-checkbox::after {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: auto 60%;
    }

    input:first-child:checked ~ label:last-child::before,
    input.circle-checkbox:checked ~ label.circle-checkbox::before {
      background-color: $orange;
      border: 0;
    }

    input:first-child:checked ~ label:last-child::after,
    input.circle-checkbox:checked ~ label.circle-checkbox::after {
      background-image: url('resources/icons/check.svg');
      filter: brightness(5);
    }

    input:first-child:checked:disabled ~ label:last-child::before,
    input.circle-checkbox:checked:disabled ~ label.circle-checkbox::after {
      background-color: $section-header-background;
    }

    &[event]:not([event="none"])::after,
    &[achievement]:not([achievement="false"])::before {
      content: "";
      width: 1.5em;
      height: 1.5em;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      filter: brightness(0.55);
      transform: translateZ(0); // This is needed to resolve a rendering bug, the icons would vanish sometimes without this due to the filter.
    }

    @each $attributevalue, $filename in $achievements {
      &[achievement="#{$attributevalue}"]::before {
        background-image: url("/resources/icons/#{$filename}.svg");
      }
    }

    @each $event, $eventdata in $events {
      &[event="#{$event}"]::after {
        background-image: url("/resources/icons/#{$event}.svg");
      }
    }
  }

  &:hover {
    .options {
      opacity: 1;
    }
  }

  @for $i from 2 to 6 {
    .flex-#{$i} .item {
      @extend %flex-items;
      $width: 100% / $i;

      width: calc(#{$width} - 0.6em);
    }
  }
}

#hero-container {
  #sprays .item {
    @extend %flex-items;

    width: calc(50% - 0.6em);
  }
}

.new {
  position: absolute;
  top: 50%;
  right: 0.4rem;
  transform: translateY(-50%);
  padding: 0.3rem 0.5rem 0.2rem 0.5rem;
  letter-spacing: 0.04rem;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.65);
  border: 2px solid #e79b2a;
  border-radius: 0.3rem;
  background-color: rgba(0, 0, 0, 0.65);
  color: #ffe30b;
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1;
}
