.section {
  background: $section-background;
  border-radius: 0.4rem;
  overflow: hidden;

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $section-header-background;
    color: $section-header-color;
    padding: 1.2rem;
    padding-left: (1.2rem / 2) + 1.2rem;

    h2 {
      text-transform: uppercase;
      font-size: 2.24rem;
      display: flex;
      align-items: center;

      small {
        font-size: 16px;
        margin-left: 0.6rem;
      }
    }

    .options {
      opacity: 0;
      transition: opacity 225ms;

      .btn {
        padding: 0.6rem;
        background: rgba(0, 0, 0, 0.1);
        font-size: 1.8rem;
        color: #fff;

        &:hover {
          color: #fff;
          background: rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  &:hover {
    .options {
      opacity: 1;
    }
  }
}


%section-header-icon {
  content: "";
  display: inline-block;
  height: 2.24rem;
  min-width: 2.24rem;
  margin-right: 1.12rem;
  background: transparent no-repeat center/contain;
}

@each $name, $alias-list in $item-types {
  @each $alias in $alias-list {
    .section##{$alias} .section-header h2::before {
      @extend %section-header-icon;

      background-image: url('resources/icons/item-types/#{$name}.svg');
    }
  }
}



/*
Storing for later.
#event-container .section .item input:first-child:checked ~ label:not(.circle-checkbox)::before

#event-container .section .item label::before {
    content: "";
    width: 2em;
    height: 2em;
    position: absolute;
    top: 5px;
    left: 2px;
    background: red;
}
*/
