%section-header-icon {
  content: "";
  display: inline-block;
  height: 2.24rem;
  min-width: 2.24rem;
  margin-right: 1.12rem;
  background: transparent no-repeat center/contain;
}

.section {
  background: $color__section-background;
  border-radius: 0.4rem;
  overflow: hidden;
  color: $color__section-text;
  margin-bottom: $size__gutter;
  page-break-inside: avoid;
  break-inside: avoid;

  @include shadow(subtle);

  .section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: $color__section-header-background;
    color: $color__section-header-text;
    padding: 1rem;
    padding-left: $size__section-content-gutter;

    h2 {
      text-transform: uppercase;
      font-size: 2.24rem;
      display: flex;
      align-items: center;

      small {
        font-size: 16px;
        margin-left: 0.6rem;

        &::before {
          content: "(";
        }

        &::after {
          content: ")";
        }
      }
    }

    .options {
      opacity: 0;
      transition: opacity 225ms;

      @include z-index(above-content, +1);

      .btn {
        padding: 0.6rem;
        background: $color__section-header-option-background;
        font-size: 1.8rem;
        color: $color__section-header-option-text;

        &:hover {
          color: $color__section-header-option-text;
          background: $color__section-header-option-hover-background;
        }
      }
    }
  }

  @each $name, $data in $item-types {
    @each $alias in map-get($data, aliases) {
      &##{$alias} .section-header h2::before {
        @extend %section-header-icon;

        background-image: url('resources/icons/item-types/#{$name}.svg');
      }
    }
  }

  .section-content {
    padding: $size__section-content-gutter;
    display: grid;
    grid-gap: $size__item-spacing;
    grid-template-columns: 1fr;
  }

  .item {
    display: flex;
    font-size: 1.6rem;
    position: relative;
    padding-left: $size__item-checkbox + 0.5em;
    align-items: center;
    justify-content: space-between;
    min-height: 1.5em;

    // This overrules later loops that create multiple columns. If a filter is used that results in only one item in a multi-column section this forces it to be fullwidth.
    &:only-of-type {
      width: inherit !important;
      display: flex !important;
    }

    &.golden {
      .color-cost {
        &::before {
          content: "";
          width: 1em;
          height: 1em;
          background: url("/resources/icons/competitive-points.svg") no-repeat left center/contain;
          display: inline-block;
          vertical-align: text-bottom;
        }

        &::after {
          content: "3000";
          color: $overwatch-competitive--accent;
        }
      }
    }

    input {
      display: none;
    }

    label {
      line-height: 1;
      cursor: pointer;
    }

    input:first-child:checked:disabled ~ label:last-child,
    input.circle-checkbox:checked:disabled ~ label.circle-checkbox {
      cursor: default;
    }

    label:only-of-type,
    label + label {
      flex: 1;
      order: -1;
    }

    h3,
    h4 {
      text-transform: uppercase;
    }

    h3 {
      font-size: $font-size__item-title;
      display: inline;

      @each $quality, $color in $qualities {
        @if ($quality != "common" and $quality != "golden") {
          &.#{$quality} {
            color: $color;
          }
        }
      }
    }

    h4 {
      font-size: $font-size__item-subtitle;
      color: $color__section-text--lighter;
    }

    small {
      font-size: 1em;
      display: inline;
    }

    .color-cost:not(:empty) {
      color: qualitycolor(legendary);
      display: inline-block;
      margin-left: 0.2rem;
      opacity: 0;

      &::before {
        content: "";
        display: inline-block;
        width: 0.75em;
        height: 0.7em;
        background: url('/resources/icons/currency.svg') no-repeat center/0.7em auto;
      }
    }

    label.circle-checkbox {
      width: $size__item-checkbox;
      height: $size__item-checkbox;
      position: relative;
      margin-right: 0.5em;
      order: -2;
    }

    input:first-child ~ label:last-child::before,
    input:first-child ~ label:last-child::after,
    label.circle-checkbox::before,
    label.circle-checkbox::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      width: $size__item-checkbox;
      height: $size__item-checkbox;
    }

    input:first-child ~ label:last-child::before,
    label.circle-checkbox::before {
      background-color: $color__checkbox--unchecked;
      border-radius: 0.2rem;
    }

    input:first-child ~ label:last-child::after,
    input.circle-checkbox:checked ~ label.circle-checkbox::after {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: auto 60%;
    }

    input:first-child:checked ~ label:last-child::before,
    input.circle-checkbox:checked ~ label.circle-checkbox::before {
      background-color: $color__checkbox--checked;
      border: 0;
    }

    input:first-child:checked ~ label:last-child::after,
    input.circle-checkbox:checked ~ label.circle-checkbox::after {
      background-image: url('resources/icons/check.svg');
    }

    input:first-child:checked:disabled ~ label:last-child::before,
    input.circle-checkbox:checked:disabled ~ label.circle-checkbox::after {
      background-color: $color__checkbox-disabled--checked;
    }

    &[event]:not([event="none"])::after,
    &[achievement]:not([achievement="false"])::before {
      content: "";
      width: 1.25em;
      height: 1.25em;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      filter: brightness(0.55);
      transform: translateZ(0); // This is needed to resolve a rendering bug, the icons would vanish sometimes without this due to the filter.
    }

    @each $attributevalue, $filename in $achievements {
      &[achievement="#{$attributevalue}"]::before {
        background-image: url('/resources/icons/#{$filename}.svg');
      }
    }

    @each $event, $eventdata in $events {
      &[event="#{$event}"]::after {
        background-image: url('/resources/icons/#{$event}.svg');
      }
    }

    &:hover {
      background-color: $color__item-hover-background;
      outline: 0.45em solid $color__item-hover-background; // Outline doesn't affect the box sizing like border, this allows it to cheekily overlap other elements without breaking anything.

      .color-cost {
        opacity: 1;
        transition: opacity 75ms ease-in-out;
      }

      input:first-child ~ label:last-child::before,
      label.circle-checkbox::before {
        background-color: $color__checkbox-hover--unchecked;
      }

      input:first-child:checked ~ label:last-child::before,
      input.circle-checkbox:checked ~ label.circle-checkbox::before {
        background-color: $color__checkbox-hover--checked;
      }

      input:first-child:checked:disabled ~ label:last-child::before,
      input.circle-checkbox:checked:disabled ~ label.circle-checkbox::after {
        background-color: $color__checkbox-disabled-hover--checked;
      }
    }
  }

  &:hover {
    .options {
      opacity: 1;
    }
  }

  @for $i from 2 to 6 {
    .flex-#{$i} {
      // Prepare the number of columns
      $columns: (1fr);

      @for $j from 1 to $i {
        $columns: append($columns, 1fr, space);
      }

      grid-template-columns: $columns;
    }
  }
}

#hero-container {
  #sprays {
    .section-content {
      grid-template-columns: 1fr 1fr;
    }
  }
}

.new {
  position: absolute;
  top: 50%;
  right: 0.4rem;
  transform: translateY(-50%);
  padding: 0.3rem 0.5rem 0.2rem 0.5rem;
  letter-spacing: 0.04rem;
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.65);
  border: 2px solid #e79b2a;
  border-radius: 0.3rem;
  background-color: rgba(0, 0, 0, 0.65);
  color: #ffe30b;
  text-transform: uppercase;
  font-size: 0.8rem;
  line-height: 1;
}
