$hero-icon-size: (
  width: 112px,
  height: 100px
);

$z-index: (
  modal: 1000,
  credits: 10,
  content: 0
);

$item-types: (
  skins: (
    aliases: (skins),
    preview: (
      type: img
    )
  ),
  victoryposes: (
    aliases: (victoryposes, poses),
    preview: (
      type: img
    )
  ),
  emotes: (
    aliases: (emotes),
    preview: (
      type: video,
      width: 45rem,
      height: 45rem
    )
  ),
  icons: (
    aliases: (icons),
    preview: (
      type: img,
      width: 25.6rem,
      height: 25.6rem
    )
  ),
  voicelines: (
    aliases: (voicelines),
    preview: (
      type: audio
    )
  ),
  sprays: (
    aliases: (sprays),
    preview: (
      type: img,
      width: 38rem,
      height: 38rem
    )
  ),
  intros: (
    aliases: (intros),
    preview: (
      type: video
    )
  ),
  weapons: (
    aliases: (weapons),
    preview: (
      type: img
    )
  )
);

$body-width: 800px;
$base-font-family: Futura, century gothic,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$sans-serif-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$monospace-font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$big-noodle: "Big Noodle Titling", Futura, century gothic,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$header-background-color: rgba(40, 53, 79, 0.85);
$header-height: 4.5rem;
$gutter-width: 1.8rem;
$credit-container-height: 5.5rem;
$progress-bar-height: 3.6rem;
$page-header-height: 18rem;
$total-header-height: $header-height + $page-header-height + $progress-bar-height;
$page-title-font-size: 12rem;

// I'd use a map, but I can't do cheeky stuff with a map whilst defining it.
$preview-img-width:45rem;
$preview-img-height:45rem;
$preview-video-width: 64rem;
$preview-video-height: $preview-video-width * 0.5625;
$preview-audio-width: 32rem;
$preview-audio-height: auto;

$section-background: #f0edf2;
$section-header-background: #c6cbde;
$section-header-color: #405275;
$section-font-color: #5d5a5a;

$legendary-height: 50rem;
$legendary-title-size: 1em;
$legendary-title-padding: 1.8rem;
$legendary-title-color: $section-header-color !default;
$legendary-subtitle-size: $legendary-title-size * 0.5;
$legendary-subtitle-color: lighten($legendary-title-color, 20%) !default;
$legendary-background: rgba($section-background, 0.9) !default;

$item-title-size: 1em;
$item-subtitle-size: $item-title-size * 0.875;
$item-padding: 0.3em;
$item-vertical-padding: $item-padding;
$item-right-margin: (1.2em + $item-vertical-padding) / 2;
$item-checkbox-size: ($item-title-size + $item-subtitle-size) * 0.6;

$heroNav-blocks: (
  hero: (
    width: 84px,
    height: 136px
  ),
  event: (
    width: 16rem,
    height: 11rem
  )
);

$credit-remaining-font-size: 5.4rem;

$offwhite: #f0f0f0;
$herogrey: #2d3446;
$orange: #ffa500;
$cost: #00db55;
$grey: #212529;
$blue: #007bff;

$events-additional: (
  UPRISING: (
    properties: (
      background-position: center 18%
    )
  )
);

$heroes-additional: (
  brigitte: (
    properties: (
      background-position: 0 14%
    )
  ),
  genji: (
    properties: (
      background-position: 0 10%
    )
  )
);

/// Given three values, calculate the ratio between a width:height and return a resized number based on the ratio between them.
@function getaspectratiovalue($fullsizeKnownValueToConvert: 90px, $fullsizeKnownValue: 90px, $smallKnownValue: 90px) {
  $ratio: $fullsizeKnownValue / $smallKnownValue;

  @return round($fullsizeKnownValueToConvert / $ratio);
}

/// Remove the unit of a length
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@mixin slidein($duration: 1s) {
  animation-name: slideInX;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: $duration;
}

@mixin page-title($type: hero) {
  font-family: $big-noodle;

  @include slidein;
  @include stroke(1px, 2px, rgba(0,0,0,0.025), '0 0 25px rgba(0, 0, 0, 0.3)');

  @if $type == "hero" {
    font-size: $page-title-font-size;
  }
}


@mixin additionalProperties($map, $name) {
  @if map-has-key($map, $name) and map-has-key(map-get($map, $name), properties) {
    $properties: map-get(map-get($map, $name), properties);

    @each $property, $value in $properties {
      #{$property}: #{$value};
    }
  }
}

@mixin stroke($width: 1px, $blur: 0, $color: #000, $startingShadow: null) {
  $shadow: ();

  @if $startingShadow != null {
    $shadow: append($shadow, unquote($startingShadow), comma);
  }

  @for $i from -$width through $width {
    $shadow: append($shadow, #{$width} #{$i} $blur $color, comma);
    $shadow: append($shadow, #{-$width} #{$i} $blur $color, comma);
    $shadow: append($shadow, #{$i} #{$width} $blur $color, comma);
    $shadow: append($shadow, #{$i} #{-$width} $blur $color, comma);
  }

  text-shadow: $shadow;
}
