$hero-icon-size: (
  width: 112px,
  height: 100px
);

$z-index: (
  modal: 1000,
  credits: 10,
  content: 0
);

$body-width: 800px;
$base-font-family: Futura, century gothic,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$sans-serif-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$monospace-font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
$big-noodle: "Big Noodle Titling", Futura, century gothic,-apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$header-background-color: rgba(40, 53, 79, 0.85);
$header-height: 4.5rem;
$gutter-width: 1.8rem;
$credit-container-height: 5.5rem;
$progress-bar-height: 3.6rem;
$page-header-height: 18rem;
$total-header-height: $header-height + $page-header-height + $progress-bar-height;
$page-title-font-size: 12rem;

$heroNav-blocks: (
  hero: (
    width: 84px,
    height: 136px
  ),
  event: (
    width: 16rem,
    height: 11rem
  )
);

$credit-remaining-font-size: 5.4rem;

$offwhite: rgb(240, 240, 240);
$herogrey: rgb(45, 52, 70);
$orange: rgb(255, 165, 0);
$cost: #00db55;

$section-background: #f0edf2;
$section-header-background: #c6cbde;

$heroes-additional: (
  brigitte: (
    background-position: (
      x: 0,
      y: 14%
    )
  ),
  genji: (
    background-position: (
      x: 0,
      y: 10%
    )
  )
);

/// Given three values, calculate the ratio between a width:height and return a resized number based on the ratio between them.
@function getaspectratiovalue($fullsizeKnownValueToConvert: 90px, $fullsizeKnownValue: 90px, $smallKnownValue: 90px) {
  $ratio: $fullsizeKnownValue / $smallKnownValue;

  @return round($fullsizeKnownValueToConvert / $ratio);
}

/// Remove the unit of a length
@function strip-unit($number) {
  @if type-of($number) == 'number' and not unitless($number) {
    @return $number / ($number * 0 + 1);
  }

  @return $number;
}

@mixin slidein($duration: 1s) {
  animation-name: slideInX;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-duration: $duration;
}

@mixin page-title($type: hero) {
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
  font-family: $big-noodle;

  @include slidein;


  @if $type == "hero" {
    font-size: $page-title-font-size;
  }
}
