<div id="row1" class="row">
  <div id="col1" class="col">
    <legendary-skins></legendary-skins>
  </div>
  <div id="col2" class="col space-between">
    <div id="voicelines" class="section flex-column x2">
      <div class="section-header">
        <h2>Voice Lines <small>75</small></h2>
      </div>
      <div class="items">
        <event-item ng-repeat="item in ::data.items.voicelines track by $index" type="voicelines"></event-item>
      </div>
    </div>
    <div id="icons" class="section flex-column x2">
      <div class="section-header">
        <h2>Player Icons</h2>
      </div>
      <div class="items">
        <event-item ng-repeat="item in ::data.items.icons track by $index" type="icons" noHero="true"></event-item>
      </div>
    </div>
  </div>
</div>
<div id="row2" class="row space-between">
  <div class="left">
    <div id="epic-skins" class="section">
      <div class="section-header">
        <h2>Epic Skins <small>750</small></h2>
      </div>
      <div class="items">
        <event-item ng-repeat="item in ::data.items.skinsEpic track by $index" type="skins"></event-item>
      </div>
    </div>
  </div>
  <div class="right">
    <div id="highlight-intros" class="section">
      <div class="section-header">
        <h2>Highlight Intros <small>750</small></h2>
      </div>
      <div class="items">
        <event-item ng-repeat="item in ::data.items.intros track by $index" type="intros"></event-item>
      </div>
    </div>
    <div id="emotes" class="section">
      <div class="section-header">
        <h2>Emotes <small>750</small></h2>
      </div>
      <div class="items">
        <event-item ng-repeat="item in ::data.items.emotes track by $index" type="emotes"></event-item>
      </div>
    </div>
  </div>
  <div id="victoryposes" class="section flex-column x3">
    <div class="section-header">
      <h2>Victory Poses <small>225</small></h2>
    </div>
    <div class="items">
      <event-item ng-repeat="item in ::data.items.poses track by $index" type="poses" noName="true"></event-item>
    </div>
  </div>
  <div id="sprays" class="section flex-column x4">
    <div class="section-header">
      <h2>Sprays <small>75</small></h2>
    </div>
    <div class="items">
      <div class="item" ng-repeat="spray in ::data.items.sprays track by $index" ng-if="::!spray.id.includes('dragon-dance')" achievement="{{::spray.achievement}}" ng-mouseenter="showPreview(spray, 'spray')" ng-mouseleave="hidePreview()">
        <input type="checkbox" id="{{'spray' + $index}}" ng-model="checked[spray.hero].sprays[spray.id]" ng-change="onSelect()">
        <label for="{{'spray' + $index}}">
          <h3>{{::spray.heroName || spray.name}}</h3>
          <h4 ng-show="spray.heroName">{{::spray.name}}</h4>
        </label>
      </div>
    </div>
  </div>
</div>
